Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lint:
  run: make lintmax

test:
  run: make test

web-check:
  run: cd cmd/web-chat/web && npm run check

:arrow_up: Bump dependencies
  go.mod
  go.sum
Due: none

Reuse initialized help system in serve command
  cmd/pinocchio/cmds/serve.go
  cmd/pinocchio/main.go
Due: lint, test

Replace chat deltas with patch events
  cmd/web-chat/app/debug_reconcile_views.go
  cmd/web-chat/reasoning_chat_feature_test.go
  cmd/web-chat/web/src/chatapp/pb/proto/pinocchio/chatapp/v1/chat_pb.ts
  cmd/web-chat/web/src/store/timelineSlice.ts
  cmd/web-chat/web/src/ws/chatappPayloads.ts
  cmd/web-chat/web/src/ws/timelineEvents.ts
  cmd/web-chat/web/src/ws/timelineProtocol.test.ts
  cmd/web-chat/web/src/ws/wsManager.test.ts
  pkg/chatapp/chat.go
  pkg/chatapp/demo.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  pkg/chatapp/plugins/reasoning.go
  pkg/chatapp/plugins/reasoning_test.go
  pkg/chatapp/plugins/toolcall.go
  pkg/chatapp/plugins/toolcall_test.go
  pkg/chatapp/projections.go
  pkg/chatapp/projections_protocol_test.go
  pkg/chatapp/runtime_sink.go
  pkg/chatapp/runtime_sink_protocol_test.go
  proto/pinocchio/chatapp/v1/chat.proto
Due: lint, test, web-check

Avoid unsafe int casts in chat patch offsets
  pkg/chatapp/demo.go
  pkg/chatapp/runtime_sink.go
Due: lint, test

Exclude generated chat protos from gosec
  Makefile
Due: none

Honor non-append web chat patch modes
  cmd/web-chat/web/src/store/timelineSlice.ts
  cmd/web-chat/web/src/ws/timelineEvents.ts
  cmd/web-chat/web/src/ws/timelineProtocol.test.ts
Due: web-check

docs: plan protobuf JSONL RPC for Pinocchio
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/README.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/changelog.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/design-doc/01-jsonl-rpc-output-mode-for-pinocchio-cli-verbs.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/design-doc/02-unify-pinocchio-cli-tui-and-rpc-streams-on-sessionstream-chatapp.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/index.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/reference/01-investigation-diary.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/tasks.md
  ttmp/vocabulary.yaml
Due: none

chatapp: add protobuf JSONL RPC envelope
  cmd/web-chat/web/src/chatapp/pb/proto/pinocchio/chatapp/rpc/v1/rpc_pb.ts
  pkg/chatapp/pb/proto/pinocchio/chatapp/rpc/v1/rpc.pb.go
  pkg/chatapp/rpc/rpc_proto_test.go
  proto/pinocchio/chatapp/rpc/v1/rpc.proto
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/changelog.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/design-doc/02-unify-pinocchio-cli-tui-and-rpc-streams-on-sessionstream-chatapp.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/reference/01-investigation-diary.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/tasks.md
Due: lint, test, web-check

chatapp: add RpcLine JSONL writer
  pkg/chatapp/rpc/jsonl/writer.go
  pkg/chatapp/rpc/jsonl/writer_test.go
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/changelog.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/design-doc/02-unify-pinocchio-cli-tui-and-rpc-streams-on-sessionstream-chatapp.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/reference/01-investigation-diary.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/tasks.md
Due: lint, test

chatapp: add sessionstream JSONL fanout
  pkg/chatapp/rpc/jsonl/fanout.go
  pkg/chatapp/rpc/jsonl/fanout_test.go
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/changelog.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/design-doc/02-unify-pinocchio-cli-tui-and-rpc-streams-on-sessionstream-chatapp.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/reference/01-investigation-diary.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/tasks.md
Due: lint, test

chatapp: add reusable sessionstream runner
  pkg/chatapp/runner.go
  pkg/chatapp/runner_test.go
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/changelog.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/design-doc/02-unify-pinocchio-cli-tui-and-rpc-streams-on-sessionstream-chatapp.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/reference/01-investigation-diary.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/tasks.md
Due: lint, test

chatapp: support initial turn prompt requests
  pkg/chatapp/chat_test.go
  pkg/chatapp/runtime_inference.go
  pkg/chatapp/service.go
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/changelog.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/design-doc/02-unify-pinocchio-cli-tui-and-rpc-streams-on-sessionstream-chatapp.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/reference/01-investigation-diary.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/tasks.md
Due: lint, test

cmds: route RPC JSONL through chatapp
  pkg/cmds/cmd.go
  pkg/cmds/cmd_rpc_jsonl_test.go
  pkg/cmds/cmdlayers/helpers.go
  pkg/cmds/run/context.go
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/changelog.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/design-doc/02-unify-pinocchio-cli-tui-and-rpc-streams-on-sessionstream-chatapp.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/reference/01-investigation-diary.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/tasks.md
Due: lint, test

docs: record Phase 6 RPC JSONL commit
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/changelog.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/reference/01-investigation-diary.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/tasks.md
Due: none

ui: add chatapp Bubble Tea fanout
  pkg/ui/chatapp_fanout.go
  pkg/ui/chatapp_fanout_test.go
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/changelog.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/design-doc/02-unify-pinocchio-cli-tui-and-rpc-streams-on-sessionstream-chatapp.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/reference/01-investigation-diary.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/tasks.md
Due: lint, test

docs: record Phase 7 adapter commit
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/changelog.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/reference/01-investigation-diary.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/tasks.md
Due: none

ui: remove transitional chat wrappers
  pkg/cmds/cmd.go
  pkg/ui/chatapp_fanout.go
  pkg/ui/runtime/builder.go
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/changelog.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/reference/01-investigation-diary.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/tasks.md
Due: lint, test

ui: route command chat through chatapp
  pkg/chatapp/runtime_inference.go
  pkg/cmds/cmd.go
  pkg/cmds/profile_switch_events.go
  pkg/cmds/seed_emit.go
  pkg/ui/chatapp_backend.go
  pkg/ui/chatapp_backend_test.go
  pkg/ui/chatapp_fanout.go
  pkg/ui/chatapp_fanout_test.go
  pkg/ui/fanout_proxy.go
  pkg/ui/runtime/builder.go
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/changelog.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/design-doc/02-unify-pinocchio-cli-tui-and-rpc-streams-on-sessionstream-chatapp.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/reference/01-investigation-diary.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/tasks.md
Due: lint, test

ui: remove switch profiles tui
  cmd/switch-profiles-tui/main.go
  cmd/switch-profiles-tui/persistence.go
  pkg/cmds/run/context.go
  pkg/doc/topics/pinocchio-profile-resolution-and-runtime-switching.md
  pkg/doc/topics/pinocchio-tui-integration-playbook.md
  pkg/doc/tutorials/06-tui-integration-guide.md
  pkg/doc/tutorials/07-migrating-cli-verbs-to-glazed-profile-bootstrap.md
  pkg/ui/backend.go
  pkg/ui/backend_test.go
  pkg/ui/profileswitch/backend.go
  pkg/ui/profileswitch/diff.go
  pkg/ui/profileswitch/manager.go
  pkg/ui/profileswitch/manager_test.go
  pkg/ui/profileswitch/picker.go
  pkg/ui/profileswitch/picker_test.go
  pkg/ui/profileswitch/types.go
  scripts/pinocchio-chat-profile-switch-tmux-smoke.sh
  scripts/pinocchio-chat-profile-switch-verify-persistence.sh
  scripts/switch-profiles-tui-smoke-and-verify.sh
  scripts/switch-profiles-tui-startup-fail.sh
  scripts/switch-profiles-tui-tmux-smoke.sh
  scripts/switch-profiles-tui-verify-persistence.sh
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/changelog.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/design-doc/02-unify-pinocchio-cli-tui-and-rpc-streams-on-sessionstream-chatapp.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/reference/01-investigation-diary.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/tasks.md
Due: lint, test

docs: finish RPC JSONL phase eight
  cmd/pinocchio/doc/general/06-rpc-jsonl-output.md
  pkg/ui/timeline_persist.go
  pkg/ui/timeline_persist_test.go
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/changelog.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/design-doc/02-unify-pinocchio-cli-tui-and-rpc-streams-on-sessionstream-chatapp.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/reference/01-investigation-diary.md
  ttmp/2026/05/20/PIN-20260520-CLI-RPC-JSONL--add-jsonl-rpc-output-mode-to-pinocchio-verbs/tasks.md
Due: lint, test

fix: finalize sessionstream debug tracing
  cmd/pinocchio/doc/general/06-rpc-jsonl-output.md
  pkg/cmds/cmd.go
  pkg/cmds/cmd_rpc_jsonl_test.go
  pkg/cmds/cmd_sessionstream_finalize_test.go
  pkg/cmds/cmdlayers/helpers.go
  pkg/cmds/run/context.go
  pkg/cmds/run_status_fanout.go
  pkg/ui/chatapp_fanout.go
  pkg/ui/chatapp_fanout_test.go
  pkg/ui/multi_fanout.go
  pkg/ui/multi_fanout_test.go
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/README.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/changelog.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/design-doc/01-finalize-sessionstream-port-and-event-debug-logging.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/index.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/reference/01-implementation-diary.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/tasks.md
  ttmp/vocabulary.yaml
Due: lint, test

fix: restore pretty text event output
  pkg/cmds/cmd.go
  pkg/cmds/event_printer.go
  pkg/cmds/event_printer_test.go
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/changelog.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/design-doc/01-finalize-sessionstream-port-and-event-debug-logging.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/reference/01-implementation-diary.md
Due: lint, test

fix: restore interactive chat continuation
  pkg/cmds/cmd.go
  pkg/cmds/cmd_sessionstream_finalize_test.go
  pkg/cmds/cmdlayers/helpers.go
  pkg/ui/chatapp_fanout.go
  pkg/ui/chatapp_fanout_test.go
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/changelog.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/reference/01-implementation-diary.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/tasks.md
Due: lint, test

docs: record interactive continuation fix
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/changelog.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/reference/01-implementation-diary.md
Due: none

fix: register command chatapp plugins
  pkg/cmds/cmd.go
  pkg/cmds/cmd_rpc_jsonl_test.go
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/changelog.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/reference/01-implementation-diary.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/tasks.md
Due: lint, test

docs: record command plugin registration
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/changelog.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/reference/01-implementation-diary.md
Due: none

fix: address sessionstream review followups
  pkg/cmds/cmd.go
  pkg/cmds/cmd_rpc_jsonl_test.go
  pkg/cmds/cmd_sessionstream_finalize_test.go
Due: lint, test

docs: record sessionstream review followups
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/changelog.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/reference/01-implementation-diary.md
Due: none

fix: avoid chat continuation startup deadlock
  pkg/cmds/cmd.go
Due: lint, test

docs: record continuation deadlock fix
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/changelog.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/reference/01-implementation-diary.md
Due: none

fix: carry chat backend turn from inference result
  pkg/chatapp/chat_test.go
  pkg/chatapp/runtime_inference.go
  pkg/chatapp/service.go
  pkg/ui/chatapp_backend.go
Due: lint, test

docs: record chat backend turn accumulator fix
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/changelog.md
  ttmp/2026/05/20/PIN-20260520-SESSIONSTREAM-FINALIZE--finalize-sessionstream-port-and-debug-streaming-visibility/reference/01-implementation-diary.md
Due: none

docs: design TUI turns persistence
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/README.md
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/changelog.md
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/design-doc/01-persisting-turns-in-the-tui-chatapp.md
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/index.md
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/tasks.md
  ttmp/vocabulary.yaml
Due: none

docs: design legacy sem timeline removal
  ttmp/2026/05/21/PIN-20260521-REMOVE-LEGACY-SEM-TIMELINE--remove-legacy-sem-timeline-stack/README.md
  ttmp/2026/05/21/PIN-20260521-REMOVE-LEGACY-SEM-TIMELINE--remove-legacy-sem-timeline-stack/changelog.md
  ttmp/2026/05/21/PIN-20260521-REMOVE-LEGACY-SEM-TIMELINE--remove-legacy-sem-timeline-stack/design-doc/01-removing-the-legacy-sem-timeline-stack.md
  ttmp/2026/05/21/PIN-20260521-REMOVE-LEGACY-SEM-TIMELINE--remove-legacy-sem-timeline-stack/index.md
  ttmp/2026/05/21/PIN-20260521-REMOVE-LEGACY-SEM-TIMELINE--remove-legacy-sem-timeline-stack/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-REMOVE-LEGACY-SEM-TIMELINE--remove-legacy-sem-timeline-stack/tasks.md
Due: none

docs: record legacy timeline removal
  ttmp/2026/05/21/PIN-20260521-REMOVE-LEGACY-SEM-TIMELINE--remove-legacy-sem-timeline-stack/changelog.md
  ttmp/2026/05/21/PIN-20260521-REMOVE-LEGACY-SEM-TIMELINE--remove-legacy-sem-timeline-stack/reference/01-implementation-diary.md
Due: none

chat: persist TUI turns and timelines
  cmd/pinocchio/doc/general/06-rpc-jsonl-output.md
  pkg/cmds/chat_persistence.go
  pkg/cmds/chat_persistence_test.go
  pkg/cmds/cmd.go
  pkg/ui/chatapp_backend.go
  pkg/ui/chatapp_backend_test.go
Due: lint, test

docs: record TUI persistence implementation
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/changelog.md
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/tasks.md
Due: none

docs: narrow TUI resume UX
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/changelog.md
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/design-doc/01-persisting-turns-in-the-tui-chatapp.md
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/tasks.md
Due: none

Path conditions:
  lint: any of: *.go
  test: any of: *.go
  web-check: any of: cmd/web-chat/web/**
