Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lint:
  run: make lintmax

test:
  run: make test

web-check:
  run: cd cmd/web-chat/web && npm run check

fix: address OAuth lifecycle review findings
  go.mod
  pkg/cmds/cmd.go
  pkg/oauthprofiles/lock_nonunix.go
  pkg/oauthprofiles/lock_windows.go
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/changelog.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
Due: lint, test

fix: fail closed for Windows OAuth persistence
  pkg/doc/topics/oauth-profile-login.md
  pkg/oauthprofiles/lock_nonunix.go
  pkg/oauthprofiles/lock_windows.go
  pkg/oauthprofiles/platform_nonwindows.go
  pkg/oauthprofiles/platform_windows.go
  pkg/oauthprofiles/store.go
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/changelog.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/design-doc/01-profile-oauth-credential-lifecycle-analysis-design-and-implementation-guide.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
Due: lint, test

test: assert unsupported Windows OAuth persistence
  cmd/pinocchio/cmds/auth/login_test.go
  go.mod
  pkg/cmds/profilebootstrap/oauth_test.go
  pkg/oauthprofiles/platform_windows_test.go
  pkg/oauthprofiles/store_test.go
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/changelog.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
Due: lint, test

docs: prepare Pinocchio v0.11.6 release
  changelog.md
  pkg/oauthprofiles/store_test.go
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/changelog.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/02-pinocchio-v0-11-6-release-handoff.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/tasks.md
Due: lint, test

refactor: migrate to structured-output glazed settings API
  cmd/pinocchio/cmds/auth/login.go
  cmd/pinocchio/cmds/auth/logout.go
  cmd/pinocchio/cmds/auth/status.go
  cmd/pinocchio/cmds/catter/cmds/print.go
  cmd/pinocchio/cmds/catter/cmds/stats.go
  cmd/pinocchio/cmds/profiles/list.go
  cmd/pinocchio/cmds/profiles/show.go
  cmd/pinocchio/cmds/tokens/list.go
Due: lint, test

chore: bump glazed to v1.4.2
  go.mod
  go.sum
Due: none

chore: bump clay to v0.4.12 and parka to v0.6.4
  go.mod
  go.sum
Due: none

refactor: migrate to structured-output glazed settings API (glazed v1.4.2) (#190)
  cmd/pinocchio/cmds/auth/login.go
  cmd/pinocchio/cmds/auth/logout.go
  cmd/pinocchio/cmds/auth/status.go
  cmd/pinocchio/cmds/catter/cmds/print.go
  cmd/pinocchio/cmds/catter/cmds/stats.go
  cmd/pinocchio/cmds/profiles/list.go
  cmd/pinocchio/cmds/profiles/show.go
  cmd/pinocchio/cmds/tokens/list.go
  go.mod
  go.sum
Due: lint, test

fix(profiles): resolve named profiles across all registries instead of pinning the default registry
  cmd/pinocchio/cmds/profiles/show.go
  cmd/web-chat/main_profile_registries_test.go
  pkg/cmds/profilebootstrap/profile_selection.go
Due: lint, test

feat(profiles): add safe resolution debugger
  cmd/pinocchio/cmds/profiles/debug.go
  cmd/pinocchio/cmds/profiles/debug_test.go
  cmd/pinocchio/cmds/profiles/root.go
Due: lint, test

:arrow_up: Bump dependencies
  go.mod
  go.sum
Due: none

fix(cli): address profiles debug review feedback
  cmd/pinocchio/cmds/profiles/debug.go
  cmd/pinocchio/cmds/profiles/debug_test.go
Due: lint, test

fix(cli): report OAuth credential presence
  cmd/pinocchio/cmds/profiles/debug.go
  cmd/pinocchio/cmds/profiles/debug_test.go
Due: lint, test

feat(chatapp): batch streaming text patches
  pkg/chatapp/chat.go
  pkg/chatapp/runtime_inference.go
  pkg/chatapp/runtime_sink.go
  pkg/chatapp/runtime_sink_protocol_test.go
Due: lint, test

feat(chatapp): add compact UI text delta transformer
  pkg/chatapp/chat.go
  pkg/chatapp/features.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  pkg/chatapp/ui_event_transformer.go
  pkg/chatapp/ui_event_transformer_test.go
  proto/pinocchio/chatapp/v1/chat.proto
Due: lint, test

feat(web-chat): generate compact text delta schema
  cmd/web-chat/web/src/generated/chatapp/proto/pinocchio/chatapp/v1/chat_pb.ts
Due: web-check

feat(chatapp): add compact reasoning and tool argument deltas
  cmd/web-chat/web/src/generated/chatapp/proto/pinocchio/chatapp/v1/chat_pb.ts
  pkg/chatapp/chat.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  pkg/chatapp/ui_event_transformer.go
  pkg/chatapp/ui_event_transformer_test.go
  proto/pinocchio/chatapp/v1/chat.proto
Due: lint, test, web-check

feat(chatapp): batch reasoning and tool argument patches
  pkg/chatapp/chat.go
  pkg/chatapp/features.go
  pkg/chatapp/runtime_inference.go
  pkg/chatapp/runtime_sink.go
  pkg/chatapp/runtime_sink_protocol_test.go
Due: lint, test

docs(chatapp): document stream patch batching
  cmd/pinocchio/doc/general/06-rpc-jsonl-output.md
  cmd/web-chat/README.md
  docs/chatapp-protobuf.md
  docs/chatapp-stream-patch-batching.md
Due: none

fix(chatapp): drain patches before terminal events
  docs/chatapp-stream-patch-batching.md
  pkg/chatapp/runtime_inference.go
  pkg/chatapp/runtime_sink.go
  pkg/chatapp/runtime_sink_protocol_test.go
Due: lint, test

chatapp: strip runtime-internal turn_url metadata from client-facing attachment echo
  pkg/chatapp/attachments.go
  pkg/chatapp/attachments_test.go
  pkg/chatapp/runtime_inference.go
Due: lint, test

PINOCCHIO-CHAT-ATTACHMENTS-001: ticket + design doc
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/README.md
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/changelog.md
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/design-doc/01-chat-attachments-design.md
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/index.md
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/reference/01-diary.md
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/tasks.md
Due: none

chatapp: image attachments by reference (protocol, PromptRequest, multimodal user turns)
  cmd/web-chat/internal/appserver/routes_sessions.go
  cmd/web-chat/web/src/generated/chatapp/proto/pinocchio/chatapp/v1/chat_pb.ts
  pkg/chatapp/attachments.go
  pkg/chatapp/attachments_test.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  pkg/chatapp/projections.go
  pkg/chatapp/runtime_inference.go
  pkg/chatapp/serverkit/contracts.go
  pkg/chatapp/service.go
  pkg/doc/topics/chatapp-protobuf-plugins.md
  proto/pinocchio/chatapp/v1/chat.proto
Due: lint, test, web-check

PINOCCHIO-CHAT-ATTACHMENTS-001: diary step 2
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/changelog.md
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/reference/01-diary.md
Due: none

PINOCCHIO-CHAT-ATTACHMENTS-001: diary step 1, tasks, changelog
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/changelog.md
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/design-doc/01-chat-attachments-design.md
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/reference/01-diary.md
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/tasks.md
Due: none

go.mod: bump geppetto to multimodal history hardening (0454465b)
  go.mod
  go.sum
Due: none

PINOCCHIO-CHAT-ATTACHMENTS-001: diary step 3 (PR)
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/changelog.md
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/reference/01-diary.md
Due: none

web-chat: reject blank attachment ids; geppetto v0.13.10; go 1.26.6
  cmd/web-chat/internal/appserver/routes_sessions.go
  cmd/web-chat/internal/appserver/server_test.go
  go.mod
  go.sum
Due: lint, test

PINOCCHIO-CHAT-ATTACHMENTS-001: diary step 4 (review fix, pins)
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/changelog.md
  ttmp/2026/08/17/PINOCCHIO-CHAT-ATTACHMENTS-001--image-attachments-in-chatapp-protocol-promptrequest-multimodal-user-turns/reference/01-diary.md
Due: none

feat(pinocchio): add MySQLTurnStore + DSN-gated OpenTurnStore selection
  go.mod
  go.sum
  pkg/chatapp/serverkit/stores.go
  pkg/chatapp/serverkit/stores_test.go
  pkg/persistence/chatstore/mysql_turn_store.go
  pkg/persistence/chatstore/mysql_turn_store_test.go
Due: lint, test

test(pinocchio): isolate MySQL store tests for repeatability
  pkg/persistence/chatstore/mysql_turn_store_test.go
Due: lint, test

feat(pinocchio): DSN-gated OpenHydrationStore selection (MySQL timeline)
  pkg/chatapp/serverkit/stores.go
  pkg/chatapp/serverkit/stores_test.go
Due: lint, test

chore(pinocchio): consume sessionstream v0.1.2
  go.mod
  go.sum
Due: none

refactor(serverkit): make persistence backend selection explicit
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/js_turn_store.go
  cmd/web-chat/internal/appserver/hydration.go
  cmd/web-chat/internal/appserver/options.go
  cmd/web-chat/internal/appserver/server.go
  cmd/web-chat/internal/appserver/server_test.go
  cmd/web-chat/internal/webchatcmd/run.go
  cmd/web-chat/main.go
  pkg/chatapp/serverkit/stores.go
  pkg/chatapp/serverkit/stores_test.go
  pkg/cmds/chat_persistence.go
  pkg/cmds/chat_persistence_test.go
  pkg/cmds/cmd.go
  pkg/cmds/cmdlayers/helpers.go
  pkg/cmds/run/context.go
Due: lint, test

test(mysql): add disposable Testcontainers MySQL harness
  go.mod
  go.sum
  pkg/testsupport/mysqltest/logcopter.go
  pkg/testsupport/mysqltest/mysqltest.go
  pkg/testsupport/mysqltest/mysqltest_integration_test.go
  pkg/testsupport/mysqltest/mysqltest_test.go
Due: lint, test

test(chatstore): use admin DSN for disposable rollback tests
  pkg/persistence/chatstore/mysql_testmain_test.go
  pkg/persistence/chatstore/mysql_turn_store_test.go
Due: lint, test

fix(chatstore): enforce exact MySQL identity and schema v1
  pkg/persistence/chatstore/mysql_turn_store.go
Due: lint, test

test(serverkit): use disposable MySQL selection tests
  pkg/chatapp/serverkit/mysql_testmain_test.go
Due: lint, test

ci(mysql): require disposable MySQL integration coverage
  .github/workflows/mysql-integration.yml
  go.mod
  go.sum
Due: none

Path conditions:
  lint: any of: *.go
  test: any of: *.go
  web-check: any of: cmd/web-chat/web/**
