Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lint:
  run: make lintmax

test:
  run: make test

web-check:
  run: cd cmd/web-chat/web && npm run check

Split chatapp projections and helpers
  pkg/chatapp/chat.go
  pkg/chatapp/demo.go
  pkg/chatapp/messages.go
  pkg/chatapp/projections.go
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/reference/01-diary.md
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/tasks.md
Due: lint, test

Split web chat debug record encoders
  cmd/web-chat/app/debug_record_geppetto.go
  cmd/web-chat/app/debug_record_pipeline.go
  cmd/web-chat/app/debug_record_transport.go
  cmd/web-chat/app/debug_recorder.go
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/reference/01-diary.md
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/tasks.md
Due: lint, test

Split web chat reconcile DB exporter
  cmd/web-chat/app/debug_reconcile_backend.go
  cmd/web-chat/app/debug_reconcile_db.go
  cmd/web-chat/app/debug_reconcile_frontend.go
  cmd/web-chat/app/debug_reconcile_geppetto.go
  cmd/web-chat/app/debug_reconcile_provider.go
  cmd/web-chat/app/debug_reconcile_schema.go
  cmd/web-chat/app/debug_reconcile_snapshots.go
  cmd/web-chat/app/debug_reconcile_values.go
  cmd/web-chat/app/debug_reconcile_views.go
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/reference/01-diary.md
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/tasks.md
Due: lint, test

Diary: record debug split cleanup
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/changelog.md
Due: none

Extract chatapp runtime event sink
  pkg/chatapp/chat.go
  pkg/chatapp/runtime_sink.go
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/reference/01-diary.md
Due: lint, test

Extract chatapp runtime inference flow
  pkg/chatapp/chat.go
  pkg/chatapp/runtime_inference.go
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/reference/01-diary.md
Due: lint, test

Extract web chat snapshot mapping
  cmd/web-chat/web/src/ws/timelineSnapshot.ts
  cmd/web-chat/web/src/ws/wsManager.ts
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/reference/01-diary.md
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/tasks.md
Due: web-check

Extract web chat UI event mapping
  cmd/web-chat/web/src/ws/timelineEvents.ts
  cmd/web-chat/web/src/ws/wsManager.ts
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/reference/01-diary.md
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/tasks.md
Due: web-check

Diary: record chatapp and ws splits
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/changelog.md
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/tasks.md
Due: none

Generate chatapp protobuf types for web chat
  buf.chatapp.web.gen.yaml
  cmd/web-chat/web/src/chatapp/pb/proto/pinocchio/chatapp/v1/chat_pb.ts
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/reference/01-diary.md
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/tasks.md
Due: web-check

Decode web chat UI payloads with typed protos
  cmd/web-chat/web/src/ws/chatappPayloads.ts
  cmd/web-chat/web/src/ws/timelineEvents.ts
  cmd/web-chat/web/src/ws/wsManager.test.ts
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/reference/01-diary.md
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/tasks.md
Due: web-check

Diary: record typed frontend payload decoding
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/changelog.md
Due: none

Harden reasoning segment state machine
  cmd/web-chat/agentmode_chat_feature.go
  pkg/chatapp/plugins/reasoning.go
  pkg/chatapp/plugins/reasoning_test.go
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/design-doc/01-pinocchio-sessionstream-chatapp-webchat-code-review-and-intern-guide.md
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/reference/01-diary.md
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/tasks.md
Due: lint, test

Diary: record reasoning state hardening
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/changelog.md
Due: none

fix(web-chat): wire claude observability
  cmd/web-chat/app/debug_reconcile_frontend.go
  cmd/web-chat/app/debug_recorder.go
  cmd/web-chat/main.go
Due: lint, test

chore: adjust workspace lint hooks
  Makefile
  lefthook.yml
Due: none

:arrow_up: Bump dependencies
  go.mod
  go.sum
Due: none

fix(web-chat): harden debug sqlite download
  cmd/web-chat/app/server_debug.go
Due: lint, test

Add devctl web chat launcher
  .devctl.yaml
  .gitignore
  cmd/web-chat/plugins/webchat.py
  ttmp/2026/05/07/PINO-DEVCTL-WEBCHAT--add-devctl-support-for-launching-pinocchio-web-chat-with-profiles/README.md
  ttmp/2026/05/07/PINO-DEVCTL-WEBCHAT--add-devctl-support-for-launching-pinocchio-web-chat-with-profiles/changelog.md
  ttmp/2026/05/07/PINO-DEVCTL-WEBCHAT--add-devctl-support-for-launching-pinocchio-web-chat-with-profiles/design-doc/01-pinocchio-devctl-web-chat-launch-guide.md
  ttmp/2026/05/07/PINO-DEVCTL-WEBCHAT--add-devctl-support-for-launching-pinocchio-web-chat-with-profiles/index.md
  ttmp/2026/05/07/PINO-DEVCTL-WEBCHAT--add-devctl-support-for-launching-pinocchio-web-chat-with-profiles/reference/01-implementation-diary.md
  ttmp/2026/05/07/PINO-DEVCTL-WEBCHAT--add-devctl-support-for-launching-pinocchio-web-chat-with-profiles/tasks.md
Due: none

Fix debug SQLite upload under base prefix
  cmd/web-chat/web/src/ws/streamDebug.test.ts
  cmd/web-chat/web/src/ws/streamDebug.ts
Due: web-check

Fix reasoning index unsigned conversion
  pkg/chatapp/plugins/reasoning.go
  pkg/chatapp/plugins/reasoning_test.go
Due: lint, test

Fix web chat Biome checks
  cmd/web-chat/web/src/chatapp/pb/proto/pinocchio/chatapp/v1/chat_pb.ts
  cmd/web-chat/web/src/debug-ui/routes/OverviewPage.tsx
  cmd/web-chat/web/src/debug-ui/ws/useDebugTimelineFollow.ts
  cmd/web-chat/web/src/ws/timelineEvents.ts
  lefthook.yml
Due: web-check

:art: Update go.mod
  go.mod
Due: none

Propagate chat correlation keys
  cmd/web-chat/app/debug_reconcile_geppetto.go
  cmd/web-chat/app/debug_reconcile_schema.go
  cmd/web-chat/app/debug_reconcile_views.go
  cmd/web-chat/app/debug_record_geppetto.go
  cmd/web-chat/web/src/chatapp/pb/proto/pinocchio/chatapp/v1/chat_pb.ts
  cmd/web-chat/web/src/ws/timelineEvents.ts
  cmd/web-chat/web/src/ws/wsManager.test.ts
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  pkg/chatapp/plugins/reasoning.go
  pkg/chatapp/plugins/toolcall.go
  pkg/chatapp/runtime_sink.go
  proto/pinocchio/chatapp/v1/chat.proto
Due: lint, test, web-check

:art: Address linting issues
  pkg/chatapp/runtime_sink.go
Due: lint, test

Add canonical chatapp protobuf events
  cmd/web-chat/web/src/chatapp/pb/proto/pinocchio/chatapp/v1/chat_pb.ts
  pkg/chatapp/chat.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  proto/pinocchio/chatapp/v1/chat.proto
Due: lint, test, web-check

Migrate chat runtime to canonical text events
  cmd/web-chat/agentmode_chat_feature.go
  cmd/web-chat/agentmode_chat_feature_test.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/reasoning_chat_feature_test.go
  pkg/chatapp/chat.go
  pkg/chatapp/chat_test.go
  pkg/chatapp/correlation.go
  pkg/chatapp/demo.go
  pkg/chatapp/messages.go
  pkg/chatapp/projections.go
  pkg/chatapp/runtime_inference.go
  pkg/chatapp/runtime_sink.go
Due: lint, test

Migrate chat plugins to canonical events
  cmd/web-chat/reasoning_chat_feature_test.go
  pkg/chatapp/correlation.go
  pkg/chatapp/plugins/reasoning.go
  pkg/chatapp/plugins/reasoning_test.go
  pkg/chatapp/plugins/toolcall.go
  pkg/chatapp/plugins/toolcall_test.go
Due: lint, test

Cut over chatapp UI to canonical events
  cmd/agents/simple-chat-agent/main.go
  cmd/agents/simple-chat-agent/pkg/store/sqlstore.go
  cmd/agents/simple-chat-agent/pkg/ui/app.go
  cmd/agents/simple-chat-agent/pkg/ui/host.go
  cmd/agents/simple-chat-agent/pkg/ui/sidebar.go
  cmd/agents/simple-chat-agent/pkg/xevents/events.go
  cmd/web-chat/app/debug_reconcile_views.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/reasoning_chat_feature_test.go
  cmd/web-chat/web/src/chatapp/pb/proto/pinocchio/chatapp/v1/chat_pb.ts
  cmd/web-chat/web/src/ws/chatappPayloads.ts
  cmd/web-chat/web/src/ws/timelineEvents.ts
  cmd/web-chat/web/src/ws/wsManager.test.ts
  pkg/chatapp/chat.go
  pkg/chatapp/chat_test.go
  pkg/chatapp/messages.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  pkg/chatapp/plugins/reasoning.go
  pkg/chatapp/plugins/reasoning_test.go
  pkg/chatapp/plugins/toolcall.go
  pkg/chatapp/plugins/toolcall_test.go
  pkg/chatapp/projections.go
  pkg/chatapp/runtime_inference.go
  pkg/ui/backend.go
  pkg/ui/forwarders/agent/forwarder.go
  pkg/ui/profileswitch/backend.go
  pkg/ui/timeline_persist.go
  pkg/ui/timeline_persist_test.go
  proto/pinocchio/chatapp/v1/chat.proto
Due: lint, test, web-check

Export canonical Geppetto debug rows
  cmd/web-chat/app/debug_reconcile_geppetto.go
  cmd/web-chat/app/debug_reconcile_schema.go
  cmd/web-chat/app/debug_reconcile_views.go
  cmd/web-chat/app/debug_record_geppetto.go
  cmd/web-chat/app/server_test.go
Due: lint, test

Wire web chat observers for all providers
  cmd/web-chat/main.go
Due: lint, test

Address PR 145 review feedback
  cmd/web-chat/web/src/ws/timelineEvents.ts
  cmd/web-chat/web/src/ws/wsManager.test.ts
  pkg/chatapp/correlation.go
  pkg/chatapp/correlation_test.go
  pkg/chatapp/plugins/reasoning_test.go
  pkg/chatapp/service_test.go
Due: lint, test, web-check

Finalize text segment on interrupt
  pkg/chatapp/chat_test.go
  pkg/chatapp/runtime_sink.go
  pkg/ui/timeline_persist.go
  pkg/ui/timeline_persist_test.go
Due: lint, test

Close failed text segments and preserve tool input
  cmd/web-chat/web/src/ws/timelineEvents.ts
  cmd/web-chat/web/src/ws/wsManager.test.ts
  pkg/chatapp/chat_test.go
  pkg/chatapp/runtime_inference.go
  pkg/chatapp/runtime_sink.go
Due: lint, test, web-check

Docs: add protocol conformance guide
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/README.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/design-doc/01-chat-protocol-conformance-analysis-and-implementation-guide.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/index.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Docs: record default reMarkable upload
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
Due: none

Docs: cover provider protocol conformance
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/README.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/design-doc/01-chat-protocol-conformance-analysis-and-implementation-guide.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/design-doc/02-static-analysis-for-protocol-conformance.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/design-doc/03-finite-state-model-for-protocol-conformance.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/index.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Docs: design OpenAI stream reducer refactor
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/README.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/design-doc/04-openai-chat-stream-reducer-refactor.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/index.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Path conditions:
  lint: any of: *.go
  test: any of: *.go
  web-check: any of: cmd/web-chat/web/**
