Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lint:
  run: make lintmax

test:
  run: make test

web-check:
  run: cd cmd/web-chat/web && npm run check

fix(web-chat): stabilize sticky bottom scrolling
  cmd/web-chat/web/src/webchat/hooks/useStickyScrollFollow.ts
Due: web-check

fix(web-chat): consolidate sessionstream protocol helpers
  cmd/web-chat/web/src/debug-ui/ws/debugWsManager.ts
  cmd/web-chat/web/src/ws/protocol.test.ts
  cmd/web-chat/web/src/ws/protocol.ts
  cmd/web-chat/web/src/ws/wsManager.ts
Due: web-check

fix(web-chat): render stopped message errors in timeline
  cmd/web-chat/web/src/webchat/cards.tsx
  cmd/web-chat/web/src/ws/wsManager.test.ts
  cmd/web-chat/web/src/ws/wsManager.ts
Due: web-check

fix(web-chat): keep sticky follow attached at bottom
  cmd/web-chat/web/src/webchat/hooks/useStickyScrollFollow.ts
Due: web-check

fix(web-chat): hydrate agent mode snapshot payloads
  cmd/web-chat/web/src/ws/wsManager.test.ts
  cmd/web-chat/web/src/ws/wsManager.ts
Due: web-check

docs(chatapp): require concrete protobuf payload schemas
  pkg/chatapp/schema_policy_test.go
  pkg/doc/topics/chatapp-protobuf-plugins.md
  pkg/doc/tutorials/09-building-sessionstream-react-chat-apps.md
Due: lint, test

docs(chatapp): plan protobuf schema migration
  ttmp/2026/05/06/PINO-PROTO-SCHEMAS--migrate-struct-payloads-to-explicit-protobuf-schemas-and-enforce-with-vet/README.md
  ttmp/2026/05/06/PINO-PROTO-SCHEMAS--migrate-struct-payloads-to-explicit-protobuf-schemas-and-enforce-with-vet/changelog.md
  ttmp/2026/05/06/PINO-PROTO-SCHEMAS--migrate-struct-payloads-to-explicit-protobuf-schemas-and-enforce-with-vet/design/01-explicit-protobuf-payloads-and-vet-enforcement.md
  ttmp/2026/05/06/PINO-PROTO-SCHEMAS--migrate-struct-payloads-to-explicit-protobuf-schemas-and-enforce-with-vet/index.md
  ttmp/2026/05/06/PINO-PROTO-SCHEMAS--migrate-struct-payloads-to-explicit-protobuf-schemas-and-enforce-with-vet/reference/01-implementation-diary.md
  ttmp/2026/05/06/PINO-PROTO-SCHEMAS--migrate-struct-payloads-to-explicit-protobuf-schemas-and-enforce-with-vet/tasks.md
Due: none

docs(chatapp): revise coinvault widget schema plan
  ttmp/2026/05/06/PINO-PROTO-SCHEMAS--migrate-struct-payloads-to-explicit-protobuf-schemas-and-enforce-with-vet/changelog.md
  ttmp/2026/05/06/PINO-PROTO-SCHEMAS--migrate-struct-payloads-to-explicit-protobuf-schemas-and-enforce-with-vet/design/01-explicit-protobuf-payloads-and-vet-enforcement.md
  ttmp/2026/05/06/PINO-PROTO-SCHEMAS--migrate-struct-payloads-to-explicit-protobuf-schemas-and-enforce-with-vet/reference/01-implementation-diary.md
  ttmp/2026/05/06/PINO-PROTO-SCHEMAS--migrate-struct-payloads-to-explicit-protobuf-schemas-and-enforce-with-vet/tasks.md
Due: none

feat(chatapp): use typed protobuf payload schemas
  Makefile
  cmd/tools/pinocchio-lint/main.go
  cmd/web-chat/agentmode_chat_feature.go
  cmd/web-chat/agentmode_chat_feature_test.go
  cmd/web-chat/reasoning_chat_feature_test.go
  cmd/web-chat/web/src/ws/wsManager.ts
  go.mod
  go.sum
  pkg/analysis/sessionstreamschema/analyzer.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  pkg/chatapp/plugins/reasoning.go
  pkg/chatapp/plugins/reasoning_test.go
  pkg/chatapp/schema_policy_test.go
  pkg/doc/topics/chatapp-protobuf-plugins.md
  proto/pinocchio/chatapp/v1/chat.proto
  ttmp/2026/05/06/PINO-PROTO-SCHEMAS--migrate-struct-payloads-to-explicit-protobuf-schemas-and-enforce-with-vet/changelog.md
  ttmp/2026/05/06/PINO-PROTO-SCHEMAS--migrate-struct-payloads-to-explicit-protobuf-schemas-and-enforce-with-vet/reference/01-implementation-diary.md
  ttmp/2026/05/06/PINO-PROTO-SCHEMAS--migrate-struct-payloads-to-explicit-protobuf-schemas-and-enforce-with-vet/tasks.md
Due: lint, test, web-check

:arrow_up: Bump dependencies
  go.mod
  go.sum
Due: none

:tractor: :broom: Cleanup message protobuf definitions, add go vet tool
  pkg/chatapp/plugins/reasoning.go
Due: lint, test

:fire: Remove vet tool
  Makefile
  README.md
  cmd/tools/pinocchio-lint/main.go
  go.mod
  go.sum
  pkg/analysis/sessionstreamschema/analyzer.go
Due: lint, test

Preserve agent mode preview clear message ID
  cmd/web-chat/agentmode_chat_feature.go
  cmd/web-chat/agentmode_chat_feature_test.go
Due: lint, test

Expose sessionstream docs in pinocchio help
  cmd/pinocchio/main.go
Due: lint, test

:arrow_up: Bump dependencies
  Makefile
  go.mod
  go.sum
Due: none

feat(chatapp): add conversation export core
  pkg/chatapp/export/render.go
  pkg/chatapp/export/service.go
  pkg/chatapp/export/service_test.go
  pkg/chatapp/export/types.go
Due: lint, test

feat(web-chat): expose conversation export endpoints
  cmd/web-chat/app/server.go
  cmd/web-chat/app/server_export.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/main.go
Due: lint, test

feat(chatapp): export turns as minitrace
  pkg/chatapp/export/minitrace.go
  pkg/chatapp/export/service.go
  pkg/chatapp/export/service_test.go
Due: lint, test

test(web-chat): cover minitrace export response
  cmd/web-chat/app/server_test.go
Due: lint, test

feat(web-chat): add export dropdown menu to statusbar
  cmd/web-chat/web/src/webchat/components/ExportMenu.tsx
  cmd/web-chat/web/src/webchat/components/Statusbar.tsx
Due: web-check

fix(chatapp): use unique entity ID per AgentMode switch; export latest turn only
  cmd/web-chat/agentmode_chat_feature.go
  cmd/web-chat/app/server_export.go
  pkg/chatapp/export/service.go
  pkg/chatapp/export/types.go
Due: lint, test

docs: create PINO-STREAM-DEBUG ticket with streaming investigation guide
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/changelog.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/design/01-streaming-pipeline-investigation-and-debug-guide.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/index.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/tasks.md
Due: none

docs: record landed sessionstream stream fixes
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/changelog.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/design/01-streaming-pipeline-investigation-and-debug-guide.md
Due: none

docs: align stream debug plan with sessionstream observers
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/changelog.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/design/01-streaming-pipeline-investigation-and-debug-guide.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/tasks.md
Due: none

feat(web-chat): add backend stream reconciliation
  cmd/web-chat/app/debug_recorder.go
  cmd/web-chat/app/server_debug.go
  cmd/web-chat/app/server_test.go
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/changelog.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/reference/01-implementation-diary.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/tasks.md
Due: lint, test

feat(web-chat): expose sessionstream debug records
  cmd/web-chat/app/debug_recorder.go
  cmd/web-chat/app/server.go
  cmd/web-chat/app/server_debug.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/main.go
  cmd/web-chat/main_runtime_test.go
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/changelog.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/reference/01-implementation-diary.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/tasks.md
Due: lint, test

feat(web-chat): add frontend stream debug overlay
  cmd/web-chat/web/src/webchat/ChatWidget.tsx
  cmd/web-chat/web/src/webchat/components/StreamDebugPanel.tsx
  cmd/web-chat/web/src/ws/streamDebug.ts
  cmd/web-chat/web/src/ws/wsManager.ts
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/changelog.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/reference/01-implementation-diary.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/tasks.md
Due: web-check

feat(web-chat): export uploaded stream debug logs as sqlite
  cmd/web-chat/app/debug_reconcile_db.go
  cmd/web-chat/app/server_debug.go
  cmd/web-chat/app/server_test.go
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/changelog.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/design/02-reconcile-upload-sqlite-export.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/reference/01-implementation-diary.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/tasks.md
Due: lint, test

feat(web-chat): include timeline entities and turns in reconcile SQLite, add download button
  cmd/web-chat/app/debug_reconcile_db.go
  cmd/web-chat/app/server_debug.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/web/src/webchat/components/StreamDebugPanel.tsx
  cmd/web-chat/web/src/ws/streamDebug.ts
Due: lint, test, web-check

docs: update PINO-STREAM-DEBUG diary, tasks, changelog for timeline/turns SQLite + full-circle validation
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/changelog.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/design/02-reconcile-upload-sqlite-export.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/reference/01-implementation-diary.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/tasks.md
Due: none

feat(web-chat): add devctl plugin for backend+vite, add debug toggle button
  cmd/web-chat/.devctl.yaml
  cmd/web-chat/.gitignore
  cmd/web-chat/plugins/webchat.py
  cmd/web-chat/web/src/webchat/components/StreamDebugPanel.tsx
  cmd/web-chat/web/src/ws/streamDebug.ts
Due: web-check

docs: update PINO-STREAM-DEBUG diary and changelog for devctl plugin + toggle button
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/changelog.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/reference/01-implementation-diary.md
Due: none

feat(web-chat): add SQL views to reconcile SQLite for delivery-chain analysis
  cmd/web-chat/app/debug_reconcile_db.go
  cmd/web-chat/app/server_test.go
Due: lint, test

docs: update PINO-STREAM-DEBUG diary, tasks, changelog for SQL views + reload-during-streaming validation
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/changelog.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/reference/01-implementation-diary.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/tasks.md
Due: none

feat(web-chat): add prepare.run to devctl plugin for pnpm install
  cmd/web-chat/plugins/webchat.py
Due: none

fix(web-chat): avoid duplicate reasoning summary timeline blocks
  cmd/web-chat/.gitignore
  pkg/chatapp/plugins/reasoning.go
  pkg/chatapp/plugins/reasoning_test.go
Due: lint, test

docs: record duplicate thinking block investigation and fix
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/changelog.md
  ttmp/2026/05/07/PINO-STREAM-DEBUG--investigate-and-harden-web-chat-streaming-robustness-with-event-recording-and-frontend-debug-mode/reference/01-implementation-diary.md
Due: none

Expose Geppetto observability in web chat debug
  cmd/web-chat/app/debug_reconcile_db.go
  cmd/web-chat/app/debug_recorder.go
  cmd/web-chat/app/server_debug.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/main.go
  cmd/web-chat/runtime_composer.go
Due: lint, test

Add provider IDs to reasoning updates
  cmd/web-chat/app/debug_reconcile_db.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  pkg/chatapp/plugins/reasoning.go
  pkg/chatapp/plugins/reasoning_test.go
  proto/pinocchio/chatapp/v1/chat.proto
Due: lint, test

Add Pinocchio web chat code review guide
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/changelog.md
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/design-doc/01-pinocchio-sessionstream-chatapp-webchat-code-review-and-intern-guide.md
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/index.md
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/reference/01-diary.md
  ttmp/2026/05/07/PINO-CODE-REVIEW--code-review-and-cleanup-guide-for-sessionstream-chatapp-webchat-integration/tasks.md
Due: none

Path conditions:
  lint: any of: *.go
  test: any of: *.go
  web-check: any of: cmd/web-chat/web/**
