Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*.go'
      run: make lintmax 
    test:
      glob: '*.go'
      run: make test
    web-check:
      glob: 'cmd/web-chat/web/**'
      run: cd cmd/web-chat/web && npm run check
  parallel: true

pre-push:
  parallel: true
  commands:
    release:
      run: make goreleaser
    lint:
      run: make lintmax gosec govulncheck
    test:
      run: make test

feat(persistence): add conversation index timeline store contract
  pkg/persistence/chatstore/timeline_store.go
  pkg/persistence/chatstore/timeline_store_memory.go
  pkg/persistence/chatstore/timeline_store_sqlite.go
  pkg/ui/timeline_persist_test.go
  pkg/webchat/router_debug_api_test.go
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/changelog.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/diary/01-implementation-diary.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/tasks.md
Due: lint, test

feat(persistence): implement timeline conversation index stores
  pkg/persistence/chatstore/timeline_store_memory.go
  pkg/persistence/chatstore/timeline_store_memory_test.go
  pkg/persistence/chatstore/timeline_store_sqlite.go
  pkg/persistence/chatstore/timeline_store_sqlite_test.go
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/changelog.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/diary/01-implementation-diary.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/tasks.md
Due: lint, test

feat(webchat): persist conversation index from lifecycle events
  pkg/webchat/conv_manager_eviction.go
  pkg/webchat/conversation.go
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/changelog.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/diary/01-implementation-diary.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/tasks.md
Due: lint, test

feat(debug-api): merge live and persisted conversation listings
  pkg/webchat/router_debug_routes.go
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/changelog.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/diary/01-implementation-diary.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/tasks.md
Due: lint, test

test(debug-api): cover persisted and merged conversation responses
  pkg/webchat/router_debug_api_test.go
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/changelog.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/diary/01-implementation-diary.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/tasks.md
Due: lint, test

docs(ticket): finalize GP-027 validation diary
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/changelog.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/diary/01-implementation-diary.md
Due: none

webchat: add non-streaming llm.thinking.summary and move HC-53 docs
  cmd/web-chat/web/src/sem/registry.ts
  pkg/webchat/sem_translator.go
  pkg/webchat/sem_translator_test.go
  pkg/webchat/timeline_projector.go
  pkg/webchat/timeline_projector_test.go
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/README.md
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/changelog.md
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/index.md
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/reference/01-bug-report-post-final-thinking-delta-causes-chat-waiting-state-stall.md
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/reference/02-diary.md
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/scripts/00_schema.sql
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/scripts/10_import_logs.py
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/scripts/11_build_db.sh
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/scripts/20_run_queries.sh
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/scripts/README.md
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/scripts/q01_event_type_counts.sql
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/scripts/q02_thinking_event_timeline.sql
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/scripts/q03_post_final_thinking_delta.sql
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/scripts/q04_timeline_thinking_streaming_state.sql
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/scripts/q05_gpt_thinking_markers.sql
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/scripts/q06_events_after_last_thinking_final.sql
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/sources/query-results/q01_event_type_counts.txt
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/sources/query-results/q02_thinking_event_timeline.txt
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/sources/query-results/q03_post_final_thinking_delta.txt
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/sources/query-results/q04_timeline_thinking_streaming_state.txt
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/sources/query-results/q05_gpt_thinking_markers.txt
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/sources/query-results/q06_events_after_last_thinking_final.txt
  ttmp/2026/02/18/HC-53-THINKING-TAIL-STUCK--investigate-llm-thinking-tail-ordering-and-chat-waiting-state-stall/tasks.md
Due: lint, test, web-check

Fix root basePrefix handling and legacy turn payload migration errors
  cmd/web-chat/web/src/utils/basePrefix.test.ts
  cmd/web-chat/web/src/utils/basePrefix.ts
  pkg/persistence/chatstore/turn_store_sqlite.go
  pkg/persistence/chatstore/turn_store_sqlite_test.go
Due: lint, test, web-check

:fire: Remove legacy turn snapshot table
  pkg/persistence/chatstore/turn_store_sqlite.go
  pkg/persistence/chatstore/turn_store_sqlite_test.go
  ttmp/2026/02/19/01-pinocchio-webchat-flow-custom-renderers-and-widget-switching.md
Due: lint, test

docs(pinocchio): rewrite webchat extensibility guide as pinocchio-only
  ttmp/2026/02/19/01-pinocchio-webchat-flow-custom-renderers-and-widget-switching.md
Due: none

fix(webchat): persist conversation LastSeenVersion from timeline upserts
  pkg/persistence/chatstore/timeline_store_sqlite.go
  pkg/persistence/chatstore/timeline_store_sqlite_test.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_test.go
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/README.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/changelog.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/design-doc/01-timelineentityv2-open-model-cutover-plan.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/index.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/reference/01-diary.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/tasks.md
Due: lint, test

feat(proto): add TimelineEntityV2 transport contracts
  cmd/web-chat/web/src/sem/pb/proto/sem/timeline/transport_pb.ts
  pkg/sem/pb/proto/sem/timeline/transport.pb.go
  proto/sem/timeline/transport.proto
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/changelog.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/reference/01-diary.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/tasks.md
  web/src/sem/pb/proto/sem/timeline/transport_pb.ts
Due: lint, test, web-check

refactor(webchat): hard-cut backend timeline projection and hydration to V2
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/timeline/entity_helpers.go
  cmd/web-chat/timeline/snapshot.go
  cmd/web-chat/timeline/verify.go
  pkg/persistence/chatstore/timeline_store.go
  pkg/persistence/chatstore/timeline_store_memory.go
  pkg/persistence/chatstore/timeline_store_memory_test.go
  pkg/persistence/chatstore/timeline_store_sqlite.go
  pkg/persistence/chatstore/timeline_store_sqlite_test.go
  pkg/ui/timeline_persist.go
  pkg/ui/timeline_persist_test.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_service.go
  pkg/webchat/http/api.go
  pkg/webchat/http_helpers_contract_test.go
  pkg/webchat/router_debug_api_test.go
  pkg/webchat/router_options.go
  pkg/webchat/router_timeline_api.go
  pkg/webchat/timeline_entity_v2.go
  pkg/webchat/timeline_handlers_builtin.go
  pkg/webchat/timeline_projector.go
  pkg/webchat/timeline_projector_test.go
  pkg/webchat/timeline_service.go
  pkg/webchat/timeline_service_test.go
  pkg/webchat/timeline_upsert.go
  pkg/webchat/types.go
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/changelog.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/reference/01-diary.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/tasks.md
Due: lint, test

feat(webchat): decode timeline V2 on frontend and add renderer registry
  cmd/web-chat/web/src/debug-ui/ws/debugTimelineWsManager.test.ts
  cmd/web-chat/web/src/debug-ui/ws/debugTimelineWsManager.ts
  cmd/web-chat/web/src/sem/registry.ts
  cmd/web-chat/web/src/sem/timelineMapper.ts
  cmd/web-chat/web/src/webchat/ChatWidget.tsx
  cmd/web-chat/web/src/webchat/index.ts
  cmd/web-chat/web/src/webchat/rendererRegistry.ts
  cmd/web-chat/web/src/ws/wsManager.ts
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/changelog.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/reference/01-diary.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/tasks.md
Due: web-check

refactor(proto): remove timeline V1 transport and register props normalizers
  cmd/web-chat/web/src/sem/pb/proto/sem/timeline/transport_pb.ts
  cmd/web-chat/web/src/sem/timelineMapper.ts
  cmd/web-chat/web/src/sem/timelinePropsRegistry.ts
  cmd/web-chat/web/src/webchat/index.ts
  pkg/sem/pb/proto/sem/timeline/transport.pb.go
  proto/sem/timeline/transport.proto
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/changelog.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/design-doc/01-timelineentityv2-open-model-cutover-plan.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/index.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/reference/01-diary.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/tasks.md
  web/src/sem/pb/proto/sem/timeline/transport_pb.ts
Due: lint, test, web-check

docs(ticket): add explicit-bootstrap thinking-mode modularization tasks
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/changelog.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/index.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/reference/01-diary.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/tasks.md
Due: none

webchat: move thinking-mode projection to explicit-bootstrap timeline handlers
  pkg/webchat/conversation.go
  pkg/webchat/timeline_handlers_bootstrap.go
  pkg/webchat/timeline_handlers_bootstrap_test.go
  pkg/webchat/timeline_handlers_builtin.go
  pkg/webchat/timeline_handlers_thinking_mode.go
  pkg/webchat/timeline_projector.go
Due: lint, test

docs(gp-028): record explicit-bootstrap handler modularization step
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/changelog.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/reference/01-diary.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/tasks.md
Due: none

web-chat: move thinking-mode pipeline into cmd/web-chat modules
  cmd/web-chat/main.go
  cmd/web-chat/thinkingmode/backend.go
  cmd/web-chat/thinkingmode/backend_test.go
  cmd/web-chat/web/src/features/thinkingMode/registerThinkingMode.test.tsx
  cmd/web-chat/web/src/features/thinkingMode/registerThinkingMode.tsx
  cmd/web-chat/web/src/sem/registry.ts
  cmd/web-chat/web/src/sem/timelinePropsRegistry.ts
  cmd/web-chat/web/src/webchat/ChatWidget.stories.tsx
  cmd/web-chat/web/src/webchat/cards.tsx
  cmd/web-chat/web/src/webchat/components/Timeline.tsx
  cmd/web-chat/web/src/webchat/rendererRegistry.ts
  cmd/web-chat/web/src/ws/wsManager.ts
  pkg/webchat/sem_translator.go
  pkg/webchat/timeline_handlers_bootstrap.go
  pkg/webchat/timeline_handlers_bootstrap_test.go
  pkg/webchat/timeline_handlers_thinking_mode.go
Due: lint, test, web-check

docs(gp-028): record cmd-web-chat thinking-mode ownership move
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/changelog.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/reference/01-diary.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/tasks.md
Due: none

web-chat: add thinking-mode isolation acceptance tests
  cmd/web-chat/thinkingmode/isolation_test.go
Due: lint, test

docs(gp-028): record thinking-mode isolation gate and completion
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/changelog.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/index.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/reference/01-diary.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/tasks.md
Due: none

web-chat: move remaining thinking-mode contracts into cmd module
  cmd/web-chat/thinkingmode/backend.go
  cmd/web-chat/thinkingmode/backend_test.go
  cmd/web-chat/thinkingmode/events.go
  cmd/web-chat/web/src/features/thinkingMode/registerThinkingMode.tsx
Due: lint, test, web-check

docs(gp-028): record cmd-web-chat thinking-mode contract move
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/changelog.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/reference/01-diary.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/tasks.md
Due: none

proto(web-chat): move middleware schemas to app-owned buf module
  buf.yaml
  cmd/web-chat/proto/buf.gen.yaml
  cmd/web-chat/proto/buf.yaml
  cmd/web-chat/proto/sem/middleware/disco_dialogue.proto
  cmd/web-chat/proto/sem/middleware/inner_thoughts.proto
  cmd/web-chat/proto/sem/middleware/mode_evaluation.proto
  cmd/web-chat/proto/sem/middleware/next_thinking_mode.proto
  cmd/web-chat/proto/sem/middleware/thinking_mode.proto
  cmd/web-chat/proto/sem/timeline/middleware.proto
  cmd/web-chat/web/src/sem/pb/proto/sem/middleware/disco_dialogue_pb.ts
  cmd/web-chat/web/src/sem/pb/proto/sem/middleware/inner_thoughts_pb.ts
  cmd/web-chat/web/src/sem/pb/proto/sem/middleware/mode_evaluation_pb.ts
  cmd/web-chat/web/src/sem/pb/proto/sem/middleware/next_thinking_mode_pb.ts
  cmd/web-chat/web/src/sem/pb/proto/sem/middleware/thinking_mode_pb.ts
  cmd/web-chat/web/src/sem/pb/proto/sem/timeline/middleware_pb.ts
  pkg/sem/pb/proto/sem/middleware/disco_dialogue.pb.go
  pkg/sem/pb/proto/sem/middleware/inner_thoughts.pb.go
  pkg/sem/pb/proto/sem/middleware/mode_evaluation.pb.go
  pkg/sem/pb/proto/sem/middleware/next_thinking_mode.pb.go
  pkg/sem/pb/proto/sem/middleware/thinking_mode.pb.go
  pkg/sem/pb/proto/sem/timeline/middleware.pb.go
  web/src/sem/pb/proto/sem/middleware/disco_dialogue_pb.ts
  web/src/sem/pb/proto/sem/middleware/inner_thoughts_pb.ts
  web/src/sem/pb/proto/sem/middleware/mode_evaluation_pb.ts
  web/src/sem/pb/proto/sem/middleware/next_thinking_mode_pb.ts
  web/src/sem/pb/proto/sem/middleware/thinking_mode_pb.ts
  web/src/sem/pb/proto/sem/timeline/middleware_pb.ts
Due: lint, test, web-check

proto(web-chat): generate app-owned middleware bindings under cmd paths
  Makefile
  cmd/web-chat/thinkingmode/pb/disco_dialogue.pb.go
  cmd/web-chat/thinkingmode/pb/inner_thoughts.pb.go
  cmd/web-chat/thinkingmode/pb/middleware.pb.go
  cmd/web-chat/thinkingmode/pb/mode_evaluation.pb.go
  cmd/web-chat/thinkingmode/pb/next_thinking_mode.pb.go
  cmd/web-chat/thinkingmode/pb/thinking_mode.pb.go
  cmd/web-chat/web/.biomeignore
  cmd/web-chat/web/biome.json
  cmd/web-chat/web/src/features/thinkingMode/pb/sem/middleware/disco_dialogue_pb.ts
  cmd/web-chat/web/src/features/thinkingMode/pb/sem/middleware/inner_thoughts_pb.ts
  cmd/web-chat/web/src/features/thinkingMode/pb/sem/middleware/mode_evaluation_pb.ts
  cmd/web-chat/web/src/features/thinkingMode/pb/sem/middleware/next_thinking_mode_pb.ts
  cmd/web-chat/web/src/features/thinkingMode/pb/sem/middleware/thinking_mode_pb.ts
  cmd/web-chat/web/src/features/thinkingMode/pb/sem/timeline/middleware_pb.ts
Due: lint, test, web-check

docs(gp-028): track web-chat app-owned protobuf generation split
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/changelog.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/reference/01-diary.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/tasks.md
Due: none

docs(webchat): refresh event/widget docs for app-owned module architecture
  pkg/doc/topics/webchat-adding-event-types.md
  pkg/doc/topics/webchat-backend-internals.md
  pkg/doc/topics/webchat-sem-and-ui.md
  pkg/doc/tutorials/03-thirdparty-webchat-playbook.md
Due: none

docs(gp-028): add intern end-to-end feature module tutorial
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/changelog.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/design-doc/02-intern-tutorial-app-owned-middleware-events-timeline-widgets.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/index.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/reference/01-diary.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/tasks.md
Due: none

docs(webchat): add standalone UI tutorial and canonicalize intern guide
  pkg/doc/tutorials/04-intern-app-owned-middleware-events-timeline-widgets.md
  pkg/doc/tutorials/05-building-standalone-webchat-ui.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/changelog.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/index.md
  ttmp/2026/02/19/GP-028-TIMELINE-ENTITY-V2-OPEN-MODEL--replace-timelineentityv1-oneof-with-open-timelineentityv2-for-decoupled-kind-extension/reference/01-diary.md
Due: none

:art: Format code
  pkg/ui/timeline_persist.go
  pkg/webchat/http_helpers_contract_test.go
  pkg/webchat/timeline_service_test.go
Due: lint, test

:arrow_up: Bump geppetto dependency
  go.mod
  go.sum
Due: none

docs: execute WAE-001 migration tasks and update diary
  ttmp/2026/02/17/WAE-001-REFACTOR-PINOCCHIO--refactor-web-agent-example-to-new-pinocchio-webchat-apis/README.md
  ttmp/2026/02/17/WAE-001-REFACTOR-PINOCCHIO--refactor-web-agent-example-to-new-pinocchio-webchat-apis/analysis/01-web-agent-example-migration-to-new-pinocchio-webchat-api.md
  ttmp/2026/02/17/WAE-001-REFACTOR-PINOCCHIO--refactor-web-agent-example-to-new-pinocchio-webchat-apis/changelog.md
  ttmp/2026/02/17/WAE-001-REFACTOR-PINOCCHIO--refactor-web-agent-example-to-new-pinocchio-webchat-apis/index.md
  ttmp/2026/02/17/WAE-001-REFACTOR-PINOCCHIO--refactor-web-agent-example-to-new-pinocchio-webchat-apis/reference/01-diary.md
  ttmp/2026/02/17/WAE-001-REFACTOR-PINOCCHIO--refactor-web-agent-example-to-new-pinocchio-webchat-apis/tasks.md
Due: none

:art: Add skill topic
  ttmp/vocabulary.yaml
Due: none

timeline: return snapshots in first-seen entity order
  pkg/persistence/chatstore/timeline_store_memory.go
  pkg/persistence/chatstore/timeline_store_memory_test.go
  pkg/persistence/chatstore/timeline_store_sqlite.go
  pkg/persistence/chatstore/timeline_store_sqlite_test.go
Due: lint, test

:art: Don't run gosec on protobuf files
  .github/workflows/dependency-scanning.yml
  Makefile
Due: none

web-chat: switch profile resolver to shared registry
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/main.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
Due: lint, test

web-chat: accept profile and registry in request body/query
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  pkg/webchat/http/api.go
Due: lint, test

web-chat: compose runtime from resolved profile runtime spec
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  pkg/inference/runtime/composer.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_service.go
  pkg/webchat/http/api.go
  pkg/webchat/stream_hub.go
Due: lint, test
