Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lint:
  run: make lintmax

test:
  run: make test

web-check:
  run: cd cmd/web-chat/web && npm run check

webchat: replace BuildConfig with app-owned runtime composer
  cmd/web-chat/main.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  pkg/webchat/conversation.go
  pkg/webchat/engine.go
  pkg/webchat/engine_builder.go
  pkg/webchat/engine_config.go
  pkg/webchat/engine_config_test.go
  pkg/webchat/engine_from_req_test.go
  pkg/webchat/router.go
  pkg/webchat/router_handlers_test.go
  pkg/webchat/router_options.go
  pkg/webchat/runtime_composer.go
  pkg/webchat/server.go
  pkg/webchat/types.go
Due: lint, test

webchat docs: document runtime composer architecture
  pkg/doc/topics/webchat-backend-reference.md
  pkg/doc/tutorials/03-thirdparty-webchat-playbook.md
Due: none

webchat docs: remove stale engine_config reference
  pkg/doc/tutorials/03-thirdparty-webchat-playbook.md
Due: none

feat(debug-ui): wire snapshot diff and offline inspector runtime
  cmd/web-chat/web/src/debug-ui/components/MiddlewareChainView.stories.tsx
  cmd/web-chat/web/src/debug-ui/components/MiddlewareChainView.tsx
  cmd/web-chat/web/src/debug-ui/components/ProjectionLane.tsx
  cmd/web-chat/web/src/debug-ui/components/SnapshotDiff.tsx
  cmd/web-chat/web/src/debug-ui/components/TurnInspector.tsx
  cmd/web-chat/web/src/debug-ui/components/turnInspectorState.test.ts
  cmd/web-chat/web/src/debug-ui/components/turnInspectorState.ts
  cmd/web-chat/web/src/debug-ui/routes/OfflinePage.tsx
  cmd/web-chat/web/src/debug-ui/routes/OverviewPage.tsx
  cmd/web-chat/web/src/debug-ui/routes/TimelinePage.tsx
  cmd/web-chat/web/src/debug-ui/routes/offlineData.test.ts
  cmd/web-chat/web/src/debug-ui/routes/offlineData.ts
  cmd/web-chat/web/src/debug-ui/routes/useLaneData.ts
  cmd/web-chat/web/src/debug-ui/store/uiSlice.ts
  cmd/web-chat/web/src/debug-ui/styles/components/OfflinePage.css
  cmd/web-chat/web/src/debug-ui/styles/components/SnapshotDiff.css
Due: web-check

fix(debug-ui): avoid duplicate react keys in timeline state lane
  cmd/web-chat/web/src/debug-ui/components/StateTrackLane.tsx
Due: web-check

fix(web): stop proxying /timeline so SPA routes work
  cmd/web-chat/web/vite.config.ts
Due: web-check

fix(webchat): hydrate from debug timeline api endpoint
  cmd/web-chat/web/src/ws/wsManager.ts
Due: web-check

refactor(webchat): make timeline hydration endpoint non-debug
  cmd/web-chat/README.md
  cmd/web-chat/timeline/snapshot.go
  cmd/web-chat/web/src/ws/wsManager.ts
  pkg/webchat/router.go
  pkg/webchat/router_debug_api_test.go
  pkg/webchat/router_debug_routes.go
  pkg/webchat/router_timeline_api.go
Due: lint, test, web-check

fix(vite): proxy /api/timeline to debug timeline endpoint in dev
  cmd/web-chat/web/vite.config.ts
Due: web-check

:ambulance: Fix vite config
  cmd/web-chat/web/vite.config.ts
Due: web-check

:art: Close tickets
  ttmp/2025-11-18/PIN-20251118/changelog.md
  ttmp/2025-11-18/PIN-20251118/index.md
  ttmp/2025/12/18/001-FIX-GLAZED-LINTING--fix-glazed-linting/changelog.md
  ttmp/2025/12/18/001-FIX-GLAZED-LINTING--fix-glazed-linting/index.md
  ttmp/2025/12/18/001-FIX-KEY-TAG-LINTING--fix-key-tag-linting-errors/changelog.md
  ttmp/2025/12/18/001-FIX-KEY-TAG-LINTING--fix-key-tag-linting-errors/index.md
  ttmp/2025/12/18/FIX-GLAZED-FLAGS--fix-flag-parsing-issue-in-pinocchio-initialization/changelog.md
  ttmp/2025/12/18/FIX-GLAZED-FLAGS--fix-flag-parsing-issue-in-pinocchio-initialization/index.md
  ttmp/2026/02/14/GP-022-WEBCHAT-PROFILE-DECOUPLE--move-profile-selection-out-of-pkg-webchat-core-into-request-scoped-engine-builders/changelog.md
  ttmp/2026/02/14/GP-022-WEBCHAT-PROFILE-DECOUPLE--move-profile-selection-out-of-pkg-webchat-core-into-request-scoped-engine-builders/index.md
Due: none

docs(gp-025): lock clean-cutover decision note
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/design/01-webchat-toolkit-app-owned-routes-analysis.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/reference/01-diary.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: none

docs(gp-025): freeze minimal core cutover surface
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/design/01-webchat-toolkit-app-owned-routes-analysis.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/reference/01-diary.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: none

docs(gp-025): freeze conversation service constructor contract
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/design/01-webchat-toolkit-app-owned-routes-analysis.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/reference/01-diary.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: none

docs(gp-025): freeze resolve-and-ensure contract
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/design/01-webchat-toolkit-app-owned-routes-analysis.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/reference/01-diary.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: none

docs(gp-025): freeze submit-prompt contract
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/design/01-webchat-toolkit-app-owned-routes-analysis.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/reference/01-diary.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: none

docs(gp-025): freeze websocket attach contract
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/design/01-webchat-toolkit-app-owned-routes-analysis.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/reference/01-diary.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: none

docs(gp-025): freeze ws publisher contract
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/design/01-webchat-toolkit-app-owned-routes-analysis.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/reference/01-diary.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: none

docs(gp-025): freeze app-owned handler contract boundary
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/design/01-webchat-toolkit-app-owned-routes-analysis.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: none

docs(gp-025): freeze app-owned /chat contract
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/design/01-webchat-toolkit-app-owned-routes-analysis.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: none

docs(gp-025): freeze app-owned /ws contract
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/design/01-webchat-toolkit-app-owned-routes-analysis.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: none

docs(gp-025): lock route ownership boundary
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/design/01-webchat-toolkit-app-owned-routes-analysis.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: none

docs(gp-025): add phase 1 diary checkpoint
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/reference/01-diary.md
Due: none

refactor(webchat): introduce conversation service orchestration
  pkg/webchat/conversation_service.go
  pkg/webchat/router.go
  pkg/webchat/router_options.go
  pkg/webchat/timeline_upsert.go
  pkg/webchat/types.go
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: lint, test

refactor(webchat): add conversation-scoped ws publisher
  pkg/webchat/conversation_service.go
  pkg/webchat/ws_publisher.go
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: lint, test

refactor(webchat): route timeline upserts through ws publisher
  pkg/webchat/conversation_service.go
  pkg/webchat/timeline_upsert.go
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: lint, test

refactor(webchat): split router helpers into focused files
  pkg/webchat/idempotency.go
  pkg/webchat/router.go
  pkg/webchat/turn_snapshot_hook.go
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: lint, test

refactor(webchat): remove router-owned chat and ws registration
  pkg/webchat/idempotency.go
  pkg/webchat/router.go
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: lint, test

test(webchat): assert persistence wiring in conversation service
  pkg/webchat/conversation_service_test.go
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: lint, test

feat(webchat): add explicit app-owned handler adapters
  pkg/webchat/app_owned_handlers.go
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: lint, test

test(webchat): preserve submit queue semantics after service refactor
  pkg/webchat/conversation_service_test.go
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: lint, test

feat(web-chat): mount app-owned chat handler
  cmd/web-chat/main.go
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: lint, test

feat(web-chat): mount app-owned websocket handler
  cmd/web-chat/main.go
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: lint, test

refactor(webchat): make ws ping-pong explicit in app-owned path
  pkg/webchat/app_owned_handlers.go
  pkg/webchat/conversation_service.go
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: lint, test

chore(gp-025): mark app-owned runtime policy wiring complete
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: none

refactor(web-chat): compose ui and api mounts in app router
  cmd/web-chat/main.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: lint, test

test(gp-025): validate web-chat route wiring smoke tests
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: none

chore(gp-025): record web-agent-example dependency audit
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: none

chore(gp-025): mark web-agent app-owned handler target defined
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/tasks.md
Due: none

Path conditions:
  lint: any of: *.go
  test: any of: *.go
  web-check: any of: cmd/web-chat/web/**
