Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lint:
  run: make lintmax

test:
  run: make test

web-check:
  run: cd cmd/web-chat/web && npm run check

web-chat: trigger runtime rebuilds on profile version changes
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  pkg/inference/runtime/composer.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_service.go
  pkg/webchat/conversation_service_test.go
  pkg/webchat/http/api.go
  pkg/webchat/stream_hub.go
Due: lint, test

runtime: add canonical symbols with compatibility aliases
  pkg/inference/runtime/composer.go
  pkg/inference/runtime/engine.go
Due: lint, test

runtime: remove compatibility aliases and add migration playbook
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/main.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  pkg/doc/topics/runtime-symbol-migration-playbook.md
  pkg/inference/runtime/composer.go
  pkg/inference/runtime/engine.go
  pkg/webchat/chat_service.go
  pkg/webchat/chat_service_test.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_service.go
  pkg/webchat/conversation_service_test.go
  pkg/webchat/doc.go
  pkg/webchat/router.go
  pkg/webchat/router_options.go
  pkg/webchat/server.go
  pkg/webchat/stream_hub_test.go
  pkg/webchat/types.go
Due: lint, test

webchat: rename GP-02 symbols and add migration playbook
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/main.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  pkg/doc/topics/webchat-symbol-migration-playbook.md
  pkg/inference/runtime/composer.go
  pkg/webchat/chat/api.go
  pkg/webchat/chat_service.go
  pkg/webchat/chat_service_test.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_service.go
  pkg/webchat/conversation_service_test.go
  pkg/webchat/http/api.go
  pkg/webchat/http_helpers_contract_test.go
  pkg/webchat/router.go
  pkg/webchat/stream/api.go
  pkg/webchat/stream_hub.go
  pkg/webchat/stream_hub_test.go
Due: lint, test

web-chat: add profile CRUD API endpoints and precedence tests
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
Due: lint, test

web-chat: add glazed profile-registry sqlite config
  cmd/web-chat/main.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
Due: lint, test

webchat/http: extract reusable profile CRUD route registrar
  cmd/web-chat/profile_policy.go
  pkg/webchat/http/profile_api.go
Due: lint, test

docs(webchat): add detailed profile registry guide and cross-links
  pkg/doc/topics/webchat-framework-guide.md
  pkg/doc/topics/webchat-overview.md
  pkg/doc/topics/webchat-profile-registry.md
  pkg/doc/topics/webchat-user-guide.md
  pkg/doc/tutorials/02-webchat-getting-started.md
Due: none

profiles: add migrate-legacy command and docs
  cmd/pinocchio/cmds/profiles_migrate_legacy.go
  cmd/pinocchio/cmds/profiles_migrate_legacy_test.go
  cmd/pinocchio/main.go
  pkg/doc/topics/webchat-profile-registry.md
Due: lint, test

docs(webchat): add sqlite ops and rollout notes for profile registry
  pkg/doc/topics/webchat-profile-registry.md
Due: none

webchat: include profile extensions in CRUD API contract
  cmd/web-chat/profile_policy_test.go
  pkg/webchat/http/profile_api.go
Due: lint, test

webchat: mount shared profile CRUD in integration server and verify contract lifecycle
  cmd/web-chat/app_owned_chat_integration_test.go
Due: lint, test

web-chat: switch runtime composer to middlewarecfg resolver
  cmd/web-chat/main.go
  cmd/web-chat/middleware_definitions.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  pkg/inference/runtime/engine.go
Due: lint, test

webchat: decouple middleware factory type from legacy runtime symbol
  pkg/inference/runtime/engine.go
  pkg/webchat/router.go
  pkg/webchat/server.go
  pkg/webchat/types.go
Due: lint, test

web-chat: test profile selection effects on new and in-flight conversations
  cmd/web-chat/app_owned_chat_integration_test.go
Due: lint, test

webchat/http: remove profile alias fallback from profile API payloads
  pkg/webchat/http/profile_api.go
Due: lint, test

web-chat: align profile API decoding and selection reconciliation
  cmd/web-chat/web/src/store/profileApi.test.ts
  cmd/web-chat/web/src/store/profileApi.ts
  cmd/web-chat/web/src/webchat/ChatWidget.tsx
  cmd/web-chat/web/src/webchat/profileSelection.test.ts
  cmd/web-chat/web/src/webchat/profileSelection.ts
Due: web-check

web-chat: test invalid registry and slug profile API inputs
  cmd/web-chat/app_owned_chat_integration_test.go
Due: lint, test

web-chat: stop rewriting /api/timeline to debug endpoint in dev proxy
  cmd/web-chat/web/vite.config.ts
Due: web-check

web-chat: defer llm timeline message creation until non-empty content
  cmd/web-chat/web/src/sem/registry.test.ts
  cmd/web-chat/web/src/sem/registry.ts
Due: web-check

feat(webchat): add profile write-time middleware validation and schema APIs
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  pkg/webchat/http/profile_api.go
Due: lint, test

docs(webchat): update profile registry guide for hard-cutover schema APIs
  pkg/doc/topics/webchat-profile-registry.md
Due: none

GP-26: persist turn runtime/inference and cut over debug runtime semantics
  pkg/cmds/chat_persistence.go
  pkg/persistence/chatstore/turn_store.go
  pkg/persistence/chatstore/turn_store_sqlite.go
  pkg/persistence/chatstore/turn_store_sqlite_benchmark_test.go
  pkg/persistence/chatstore/turn_store_sqlite_test.go
  pkg/webchat/router_debug_api_test.go
  pkg/webchat/router_debug_routes.go
  pkg/webchat/turn_persister.go
  pkg/webchat/turn_snapshot_hook.go
Due: lint, test

GP-26: switch debug web UI conversation field to current_runtime_key
  cmd/web-chat/web/src/debug-ui/api/debugApi.test.ts
  cmd/web-chat/web/src/debug-ui/api/debugApi.ts
  cmd/web-chat/web/src/debug-ui/mocks/msw/createDebugHandlers.ts
Due: web-check

GP-26: add runtime-switch persistence tests for turn persister paths
  pkg/webchat/turn_persister_runtime_test.go
Due: lint, test

GP-26: add runtime-truth migration playbook and debug API docs
  pkg/doc/topics/webchat-debugging-and-ops.md
  pkg/doc/topics/webchat-profile-registry.md
  pkg/doc/topics/webchat-runtime-truth-migration-playbook.md
Due: none

webchat: project middleware configs into typed-key extensions
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  pkg/webchat/http/profile_api.go
Due: lint, test

webchat: add middleware schema metadata to schema API
  cmd/web-chat/middleware_definitions.go
  cmd/web-chat/profile_policy_test.go
  pkg/webchat/http/profile_api.go
Due: lint, test

webchat: auto-publish extension schemas from codec registries
  pkg/webchat/http/profile_api.go
  pkg/webchat/http/profile_api_test.go
Due: lint, test

docs: document reusable profile CRUD/schema routes
  pkg/doc/topics/webchat-debugging-and-ops.md
  pkg/doc/topics/webchat-framework-guide.md
  pkg/doc/topics/webchat-http-chat-setup.md
  pkg/doc/topics/webchat-profile-registry.md
Due: none

docs: align webchat profile registry extension key examples
  pkg/doc/topics/webchat-profile-registry.md
Due: none

web-chat: apply profile step patch and map unknown registry to 404
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
Due: lint, test

:arrow_up: Bump geppetto
  go.mod
  go.sum
Due: none

Fix sem timeline state cleanup and migration skip guard
  cmd/pinocchio/cmds/profiles_migrate_legacy.go
  cmd/pinocchio/cmds/profiles_migrate_legacy_test.go
  cmd/web-chat/web/src/sem/registry.test.ts
  cmd/web-chat/web/src/sem/registry.ts
Due: lint, test, web-check

web-chat: resolve profiles via geppetto effective resolver
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
Due: lint, test

web-chat: propagate resolved runtime fingerprint to composer
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  pkg/inference/runtime/composer.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_service.go
  pkg/webchat/http/api.go
  pkg/webchat/stream_hub.go
Due: lint, test

web-chat: remove local runtime override parser path
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  pkg/inference/runtime/composer.go
  pkg/webchat/conversation.go
  pkg/webchat/stream_hub.go
Due: lint, test

web-chat: hard-cut resolver payload to runtime_key
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  pkg/webchat/http/api.go
Due: lint, test

web-chat: send request_overrides in chat widget payload
  cmd/web-chat/web/src/webchat/ChatWidget.tsx
Due: web-check

web-chat: expose resolved profile metadata in runtime responses
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_service.go
  pkg/webchat/conversation_service_test.go
  pkg/webchat/http/api.go
  pkg/webchat/stream_hub.go
  pkg/webchat/stream_hub_test.go
Due: lint, test

Path conditions:
  lint: any of: *.go
  test: any of: *.go
  web-check: any of: cmd/web-chat/web/**
