Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lint:
  run: make lintmax

test:
  run: make test

web-check:
  run: cd cmd/web-chat/web && npm run check

webchat: extract stream backend abstraction from router
  pkg/webchat/router.go
  pkg/webchat/stream_backend.go
  pkg/webchat/stream_backend_test.go
  pkg/webchat/types.go
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/tasks.md
Due: lint, test

webchat: add explicit HTTP helper constructors
  pkg/webchat/app_owned_handlers.go
  pkg/webchat/http_helpers.go
  pkg/webchat/router_timeline_api.go
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/tasks.md
Due: lint, test

webchat: extract stream hub for ws and conversation ensure
  pkg/webchat/conversation_service.go
  pkg/webchat/router.go
  pkg/webchat/stream_hub.go
  pkg/webchat/stream_hub_test.go
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/tasks.md
Due: lint, test

webchat: introduce chat service API split from conversation facade
  pkg/webchat/chat_service.go
  pkg/webchat/chat_service_test.go
  pkg/webchat/router.go
  pkg/webchat/types.go
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/tasks.md
Due: lint, test

webchat: cut cmd/web-chat to service-based wiring
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/main.go
  pkg/webchat/server.go
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/tasks.md
Due: lint, test

webchat: extract timeline service and independent timeline handler
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/main.go
  pkg/webchat/router.go
  pkg/webchat/router_options.go
  pkg/webchat/router_timeline_api.go
  pkg/webchat/server.go
  pkg/webchat/timeline_service.go
  pkg/webchat/timeline_service_test.go
  pkg/webchat/types.go
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/tasks.md
Due: lint, test

webchat: remove legacy conversation handler entry points
  pkg/webchat/app_owned_handlers.go
  pkg/webchat/doc.go
  pkg/webchat/router.go
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/tasks.md
Due: lint, test

webchat: add subpackage exports and HTTP contract tests
  pkg/webchat/bootstrap/api.go
  pkg/webchat/chat/api.go
  pkg/webchat/http/api.go
  pkg/webchat/http_helpers_contract_test.go
  pkg/webchat/stream/api.go
  pkg/webchat/timeline/api.go
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/tasks.md
Due: lint, test

docs(gp-026): add analysis, phase diary, and migration notes
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/.meta/sources.yaml
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/README.md
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/changelog.md
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/index.md
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/reference/01-webchat-refactor-proposal-validation-and-public-api-release-plan.md
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/reference/02-diary.md
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/reference/03-public-api-migration-notes.md
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/sources/local/webchat-refactor-details.md
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/sources/local/webchat-refactor.md
Due: none

docs(gp-026): add final phase diary checkpoint
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/reference/02-diary.md
Due: none

docs(gp-026): add detailed technical postmortem
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/reference/04-technical-postmortem.md
Due: none

webchat: remove debug aliases and simplify timeline ws publishing
  pkg/webchat/conversation_service.go
  pkg/webchat/router.go
  pkg/webchat/router_debug_api_test.go
  pkg/webchat/router_debug_routes.go
  pkg/webchat/router_options.go
  pkg/webchat/timeline_upsert.go
  pkg/webchat/types.go
Due: lint, test

docs(webchat): align guides with app-owned HTTP chat routes
  cmd/web-chat/README.md
  pkg/doc/topics/webchat-adding-event-types.md
  pkg/doc/topics/webchat-debugging-and-ops.md
  pkg/doc/topics/webchat-framework-guide.md
  pkg/doc/topics/webchat-frontend-architecture.md
  pkg/doc/topics/webchat-frontend-integration.md
  pkg/doc/topics/webchat-http-chat-setup.md
  pkg/doc/topics/webchat-sem-and-ui.md
  pkg/doc/topics/webchat-user-guide.md
  pkg/doc/tutorials/03-thirdparty-webchat-playbook.md
  pkg/webchat/doc.go
Due: lint, test

docs(gp-020): align follow-mode plan with canonical webchat APIs
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/changelog.md
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/design/01-implementation-plan-realtime-follow-via-websocket.md
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/index.md
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/tasks.md
Due: none

docs(gp-020): enforce fresh-cutover canonical follow bootstrap
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/changelog.md
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/design/01-implementation-plan-realtime-follow-via-websocket.md
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/tasks.md
Due: none

feat(debug-ui): add realtime follow state/actions/selectors
  cmd/web-chat/web/src/debug-ui/store/uiSlice.ts
Due: web-check

docs(gp-020): record task 1 completion in diary and changelog
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/changelog.md
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/reference/01-diary.md
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/tasks.md
Due: none

feat(debug-ui): add timeline follow websocket manager core
  cmd/web-chat/web/src/debug-ui/ws/debugTimelineWsManager.ts
Due: web-check

docs(gp-020): record task 2-4 completion
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/changelog.md
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/reference/01-diary.md
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/tasks.md
Due: none

feat(debug-ui): wire follow controls and lifecycle
  cmd/web-chat/web/src/debug-ui/components/AppShell.tsx
  cmd/web-chat/web/src/debug-ui/components/SessionList.tsx
  cmd/web-chat/web/src/debug-ui/routes/OverviewPage.tsx
  cmd/web-chat/web/src/debug-ui/routes/TimelinePage.tsx
  cmd/web-chat/web/src/debug-ui/styles/components/AppShell.css
  cmd/web-chat/web/src/debug-ui/styles/primitives.css
  cmd/web-chat/web/src/debug-ui/ws/debugTimelineWsManager.ts
  cmd/web-chat/web/src/debug-ui/ws/useDebugTimelineFollow.ts
Due: web-check

docs(gp-020): record tasks 5-8 phase completion
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/changelog.md
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/reference/01-diary.md
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/tasks.md
Due: none

test(debug-ui): add follow websocket lifecycle coverage
  cmd/web-chat/web/src/debug-ui/ws/debugTimelineWsManager.test.ts
Due: web-check

docs(gp-020): record task 9 completion and tests
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/changelog.md
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/reference/01-diary.md
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/tasks.md
Due: none

refactor(runtime): extract engine composer and remove snapshot dir env
  cmd/web-chat/main.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  pkg/inference/runtime/engine.go
  pkg/webchat/chat_service.go
  pkg/webchat/conversation_service.go
  pkg/webchat/router.go
  pkg/webchat/server.go
  pkg/webchat/turn_snapshot_hook.go
  pkg/webchat/types.go
Due: lint, test

refactor(runtime): move compose contracts to inference/runtime
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  pkg/inference/runtime/composer.go
  pkg/webchat/chat_service_test.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_service_test.go
  pkg/webchat/router.go
  pkg/webchat/router_options.go
  pkg/webchat/stream_hub_test.go
  pkg/webchat/types.go
Due: lint, test

refactor(webchat): move HTTP boundary helpers into webchat/http
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/main.go
  cmd/web-chat/profile_policy.go
  pkg/webchat/engine_from_req.go
  pkg/webchat/http/api.go
  pkg/webchat/http_helpers.go
  pkg/webchat/http_helpers_contract_test.go
  pkg/webchat/idempotency.go
  pkg/webchat/router_timeline_api.go
Due: lint, test

docs(gp-026): create extraction ticket tasks and phase-1 changelog
  ttmp/2026/02/15/GP-026-WEBCHAT-CORE-EXTRACTIONS--extract-generic-runtime-and-http-boundary-helpers-from-webchat-root/README.md
  ttmp/2026/02/15/GP-026-WEBCHAT-CORE-EXTRACTIONS--extract-generic-runtime-and-http-boundary-helpers-from-webchat-root/changelog.md
  ttmp/2026/02/15/GP-026-WEBCHAT-CORE-EXTRACTIONS--extract-generic-runtime-and-http-boundary-helpers-from-webchat-root/index.md
  ttmp/2026/02/15/GP-026-WEBCHAT-CORE-EXTRACTIONS--extract-generic-runtime-and-http-boundary-helpers-from-webchat-root/tasks.md
Due: none

docs(gp-026): finalize validation and close task checklist
  ttmp/2026/02/15/GP-026-WEBCHAT-CORE-EXTRACTIONS--extract-generic-runtime-and-http-boundary-helpers-from-webchat-root/changelog.md
  ttmp/2026/02/15/GP-026-WEBCHAT-CORE-EXTRACTIONS--extract-generic-runtime-and-http-boundary-helpers-from-webchat-root/tasks.md
Due: none

docs(gp-026): mark ticket complete in docmgr
  ttmp/2026/02/15/GP-026-WEBCHAT-CORE-EXTRACTIONS--extract-generic-runtime-and-http-boundary-helpers-from-webchat-root/changelog.md
  ttmp/2026/02/15/GP-026-WEBCHAT-CORE-EXTRACTIONS--extract-generic-runtime-and-http-boundary-helpers-from-webchat-root/index.md
Due: none

docs(tickets): sync GP-021 websocket plan and GP-025 workspace docs
  ttmp/2026/02/14/GP-021-WEBSOCKET-BROADCAST-REFACTOR--refactor-websocket-broadcast-architecture-and-extension-hooks/changelog.md
  ttmp/2026/02/14/GP-021-WEBSOCKET-BROADCAST-REFACTOR--refactor-websocket-broadcast-architecture-and-extension-hooks/design/01-websocket-broadcast-refactor-analysis-brainstorm-and-design.md
  ttmp/2026/02/14/GP-021-WEBSOCKET-BROADCAST-REFACTOR--refactor-websocket-broadcast-architecture-and-extension-hooks/tasks.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/README.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/index.md
Due: none

docs(tickets): close GP-020 GP-025 and GP-026 public-api
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/changelog.md
  ttmp/2026/02/14/GP-020-DEBUG-UI-REALTIME-FOLLOW--realtime-follow-mode-for-debug-ui-via-websocket/index.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/changelog.md
  ttmp/2026/02/15/GP-025-WEBCHAT-APP-ROUTE-OWNERSHIP--move-chat-and-ws-ownership-to-app-layer-simplify-webchat-core/index.md
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/changelog.md
  ttmp/2026/02/15/GP-026-WEBCHAT-PUBLIC-API-FINALIZATION--validate-webchat-refactor-proposal-and-finalize-public-api/index.md
Due: none

docs(tickets): close IMPROVE-PROFILES-001
  ttmp/2025/12/15/IMPROVE-PROFILES-001--fix-profile-system-interdependency-issues/changelog.md
  ttmp/2025/12/15/IMPROVE-PROFILES-001--fix-profile-system-interdependency-issues/index.md
Due: none

docs(tickets): close GP-021 websocket broadcast refactor
  ttmp/2026/02/14/GP-021-WEBSOCKET-BROADCAST-REFACTOR--refactor-websocket-broadcast-architecture-and-extension-hooks/changelog.md
  ttmp/2026/02/14/GP-021-WEBSOCKET-BROADCAST-REFACTOR--refactor-websocket-broadcast-architecture-and-extension-hooks/index.md
Due: none

fix(webchat): remove unused router redis fields
  pkg/webchat/types.go
Due: lint, test

fix(webchat): secure profile cookie and gate debug routes
  cmd/web-chat/main.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  pkg/webchat/debug_offline_test.go
  pkg/webchat/router_debug_api_test.go
  pkg/webchat/router_debug_routes.go
  pkg/webchat/router_options.go
  pkg/webchat/types.go
Due: lint, test

security(webchat): remove offline debug file-inspection endpoints and UI
  cmd/web-chat/web/src/debug-ui/components/AppShell.tsx
  cmd/web-chat/web/src/debug-ui/components/OfflineSourcesPanel.tsx
  cmd/web-chat/web/src/debug-ui/index.css
  cmd/web-chat/web/src/debug-ui/routes/OfflinePage.stories.tsx
  cmd/web-chat/web/src/debug-ui/routes/OfflinePage.tsx
  cmd/web-chat/web/src/debug-ui/routes/index.tsx
  cmd/web-chat/web/src/debug-ui/routes/offlineData.test.ts
  cmd/web-chat/web/src/debug-ui/routes/offlineData.ts
  cmd/web-chat/web/src/debug-ui/styles/components/OfflinePage.css
  pkg/webchat/debug_offline.go
  pkg/webchat/debug_offline_test.go
  pkg/webchat/router_debug_routes.go
Due: lint, test, web-check

fix(chatstore): migrate legacy sqlite turns schema safely
  pkg/persistence/chatstore/turn_store_sqlite.go
  pkg/persistence/chatstore/turn_store_sqlite_test.go
Due: lint, test

feat(web-chat): wire runtime app-config prefix for UI and debug API
  cmd/web-chat/README.md
  cmd/web-chat/main.go
  cmd/web-chat/static/index.html
  cmd/web-chat/web/index.html
  cmd/web-chat/web/src/config/runtimeConfig.ts
  cmd/web-chat/web/src/debug-ui/api/debugApi.test.ts
  cmd/web-chat/web/src/debug-ui/api/debugApi.ts
  cmd/web-chat/web/src/debug-ui/routes/index.tsx
  cmd/web-chat/web/src/utils/basePrefix.test.ts
  cmd/web-chat/web/src/utils/basePrefix.ts
  cmd/web-chat/web/vite.config.ts
  pkg/webchat/router_debug_api_test.go
  pkg/webchat/router_debug_routes.go
  ttmp/2026/02/17/GP-01-FIX-DEBUG-UI--fix-debug-ui-404-for-api-debug-conversations/README.md
  ttmp/2026/02/17/GP-01-FIX-DEBUG-UI--fix-debug-ui-404-for-api-debug-conversations/analysis/01-debug-ui-404-investigation-api-debug-conversations.md
  ttmp/2026/02/17/GP-01-FIX-DEBUG-UI--fix-debug-ui-404-for-api-debug-conversations/changelog.md
  ttmp/2026/02/17/GP-01-FIX-DEBUG-UI--fix-debug-ui-404-for-api-debug-conversations/diary/01-diary.md
  ttmp/2026/02/17/GP-01-FIX-DEBUG-UI--fix-debug-ui-404-for-api-debug-conversations/index.md
  ttmp/2026/02/17/GP-01-FIX-DEBUG-UI--fix-debug-ui-404-for-api-debug-conversations/tasks.md
Due: lint, test, web-check

refactor(web-chat): remove legacy debug prefix fallback
  cmd/web-chat/README.md
  cmd/web-chat/main.go
  cmd/web-chat/web/src/debug-ui/api/debugApi.test.ts
  cmd/web-chat/web/src/debug-ui/api/debugApi.ts
  cmd/web-chat/web/src/utils/basePrefix.test.ts
  cmd/web-chat/web/src/utils/basePrefix.ts
  cmd/web-chat/web/vite.config.ts
  ttmp/2026/02/17/GP-01-FIX-DEBUG-UI--fix-debug-ui-404-for-api-debug-conversations/changelog.md
  ttmp/2026/02/17/GP-01-FIX-DEBUG-UI--fix-debug-ui-404-for-api-debug-conversations/diary/01-diary.md
  ttmp/2026/02/17/GP-01-FIX-DEBUG-UI--fix-debug-ui-404-for-api-debug-conversations/tasks.md
Due: lint, test, web-check

docs(ticket): add GP-027 debug persistence plan and diary
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/README.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/analysis/01-debug-persistence-data-model-broad-inventory.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/analysis/02-restricted-implementation-plan-persist-conversations-in-existing-timeline-turns-stores.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/changelog.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/diary/01-implementation-diary.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/index.md
  ttmp/2026/02/17/GP-027-DEBUG-PERSISTENCE--debug-persistence-model-for-conversation-timeline-forensics/tasks.md
Due: none

Path conditions:
  lint: any of: *.go
  test: any of: *.go
  web-check: any of: cmd/web-chat/web/**
