Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*.go'
      run: make lintmax 
    test:
      glob: '*.go'
      run: make test
    web-check:
      glob: 'cmd/web-chat/web/**'
      run: cd cmd/web-chat/web && npm run check
  parallel: true

pre-push:
  parallel: true
  commands:
    release:
      run: make goreleaser
    lint:
      run: make lintmax gosec govulncheck
    test:
      run: make test

docs: move web-chat markdown to ticket
  cmd/web-chat/web/src/MIGRATION_CHECKLIST.md
  cmd/web-chat/web/src/README.md
  cmd/web-chat/web/src/features/web-chat/README.md
Due: web-check

test: add mock parity web-chat profile
  cmd/web-chat/app/server_test.go
  cmd/web-chat/canonical_runtime_resolver.go
  cmd/web-chat/main_runtime_test.go
  cmd/web-chat/mockruntime/engine.go
  cmd/web-chat/mockruntime/engine_test.go
  cmd/web-chat/profiles/api.go
  cmd/web-chat/profiles/mock.go
Due: lint, test

chore: add mockruntime logcopter package
  cmd/web-chat/mockruntime/logcopter.go
Due: lint, test

fix: render backend tools as web-chat cards
  cmd/web-chat/web/src/features/web-chat/WebChatApp/ProviderToolCallRenderer.tsx
Due: web-check

refactor: migrate web-chat to timeline adapters
  cmd/web-chat/web/src/features/web-chat/WebChatProviderShell/WebChatProviderShell.tsx
  cmd/web-chat/web/src/features/web-chat/extensions/pinocchio-projectors/index.ts
  cmd/web-chat/web/src/features/web-chat/extensions/pinocchio-projectors/pinocchioProjectors.ts
  cmd/web-chat/web/src/features/web-chat/extensions/pinocchio-timeline-adapters/index.ts
  cmd/web-chat/web/src/features/web-chat/extensions/pinocchio-timeline-adapters/pinocchioTimelineAdapters.ts
  cmd/web-chat/web/src/features/web-chat/index.ts
Due: web-check

test: add web-chat adapter parity coverage
  cmd/web-chat/web/package.json
  cmd/web-chat/web/src/features/web-chat/extensions/pinocchio-timeline-adapters/pinocchioTimelineAdapters.test.ts
Due: web-check

refactor: delete legacy web-chat runtime
  cmd/web-chat/web/src/app/MainWebChatRoot.tsx
  cmd/web-chat/web/src/chat/provider/index.ts
  cmd/web-chat/web/src/features/web-chat/WebChatProviderShell/index.ts
  cmd/web-chat/web/src/features/web-chat/demos/ProviderMultiDemo/ProviderMultiDemoInstance.tsx
  cmd/web-chat/web/src/features/web-chat/demos/ProviderMultiDemo/ProviderMultiDemoPage.tsx
  cmd/web-chat/web/src/features/web-chat/demos/ProviderMultiDemo/ProviderMultiDemoPanel.tsx
  cmd/web-chat/web/src/features/web-chat/demos/ProviderMultiDemo/index.ts
  cmd/web-chat/web/src/features/web-chat/index.ts
  cmd/web-chat/web/src/store/errorsSlice.ts
  cmd/web-chat/web/src/store/store.ts
  cmd/web-chat/web/src/store/timelineSlice.ts
  cmd/web-chat/web/src/webchat/ChatWidget.tsx
  cmd/web-chat/web/src/webchat/ProviderBackedChatWidget.tsx
  cmd/web-chat/web/src/webchat/index.ts
  cmd/web-chat/web/src/ws/chatappPayloads.ts
  cmd/web-chat/web/src/ws/streamDebug.ts
  cmd/web-chat/web/src/ws/timelineEvents.ts
  cmd/web-chat/web/src/ws/timelineProtocol.test.ts
  cmd/web-chat/web/src/ws/timelineSnapshot.ts
  cmd/web-chat/web/src/ws/wsManager.test.ts
  cmd/web-chat/web/src/ws/wsManager.ts
Due: web-check

refactor: replace global renderer registries
  cmd/web-chat/web/src/features/web-chat/WebChatApp/WebChatApp.tsx
  cmd/web-chat/web/src/store/store.ts
  cmd/web-chat/web/src/webchat/index.ts
  cmd/web-chat/web/src/webchat/rendererRegistry.test.ts
  cmd/web-chat/web/src/webchat/rendererRegistry.ts
  cmd/web-chat/web/src/webchat/renderers.test.ts
  cmd/web-chat/web/src/webchat/renderers.ts
  cmd/web-chat/web/src/webchat/timelinePropsRegistry.ts
Due: web-check

refactor: type web-chat render entities
  cmd/web-chat/web/src/features/web-chat/provider-support/providerTimeline.ts
  cmd/web-chat/web/src/webchat/types.ts
Due: web-check

refactor: modularize web-chat styles
  cmd/web-chat/web/.storybook/preview.tsx
  cmd/web-chat/web/src/features/web-chat/WebChatProviderShell/WebChatProviderShell.tsx
  cmd/web-chat/web/src/features/web-chat/cards/AgentModeCard/AgentModeCard.tsx
  cmd/web-chat/web/src/features/web-chat/cards/GenericCard/GenericCard.tsx
  cmd/web-chat/web/src/features/web-chat/cards/LogCard/LogCard.tsx
  cmd/web-chat/web/src/features/web-chat/cards/Markdown/Markdown.tsx
  cmd/web-chat/web/src/features/web-chat/cards/MessageCard/MessageCard.tsx
  cmd/web-chat/web/src/features/web-chat/cards/ToolCallCard/ToolCallCard.tsx
  cmd/web-chat/web/src/features/web-chat/cards/ToolResultCard/ToolResultCard.tsx
  cmd/web-chat/web/src/features/web-chat/cards/WidgetInstanceCard/WidgetInstanceCard.tsx
  cmd/web-chat/web/src/features/web-chat/styles/README.md
  cmd/web-chat/web/src/features/web-chat/styles/cards.css
  cmd/web-chat/web/src/features/web-chat/styles/composer.css
  cmd/web-chat/web/src/features/web-chat/styles/debug-panel.css
  cmd/web-chat/web/src/features/web-chat/styles/header.css
  cmd/web-chat/web/src/features/web-chat/styles/index.css
  cmd/web-chat/web/src/features/web-chat/styles/layout.css
  cmd/web-chat/web/src/features/web-chat/styles/root.css
  cmd/web-chat/web/src/features/web-chat/styles/statusbar.css
  cmd/web-chat/web/src/features/web-chat/styles/themes/default.css
  cmd/web-chat/web/src/features/web-chat/styles/timeline.css
  cmd/web-chat/web/src/webchat/components/ExportMenu.tsx
  cmd/web-chat/web/src/webchat/components/StreamDebugPanel.tsx
  cmd/web-chat/web/src/webchat/styles/webchat.css
  cmd/web-chat/web/src/webchat/types.ts
Due: web-check

refactor: clarify debug ui boundary
  cmd/web-chat/web/.storybook/preview.tsx
  cmd/web-chat/web/src/debug-ui/README.md
  cmd/web-chat/web/src/debug-ui/components/AppShell.stories.tsx
  cmd/web-chat/web/src/debug-ui/components/EventTrackLane.stories.tsx
  cmd/web-chat/web/src/debug-ui/components/NowMarker.stories.tsx
  cmd/web-chat/web/src/debug-ui/components/ProjectionLane.stories.tsx
  cmd/web-chat/web/src/debug-ui/components/TimelineLanes.stories.tsx
  cmd/web-chat/web/src/debug-ui/components/debugFixtures.ts
  cmd/web-chat/web/src/debug-ui/ws/debugWsManager.ts
Due: web-check

chore: clean web-chat generated and package files
  buf.chatapp.web.gen.yaml
  cmd/web-chat/web/README.md
  cmd/web-chat/web/package.json
  cmd/web-chat/web/pnpm-lock.yaml
  cmd/web-chat/web/src/generated/README.md
  cmd/web-chat/web/src/generated/chatapp/proto/pinocchio/chatapp/rpc/v1/rpc_pb.ts
  cmd/web-chat/web/src/generated/chatapp/proto/pinocchio/chatapp/v1/chat_pb.ts
Due: web-check

chore: add web-chat unused audit script
  cmd/web-chat/web/package.json
Due: web-check

refactor: internalize web-chat Go packages
  cmd/web-chat/canonical_runtime_resolver.go
  cmd/web-chat/internal/appserver/contracts.go
  cmd/web-chat/internal/appserver/logcopter.go
  cmd/web-chat/internal/appserver/runtime.go
  cmd/web-chat/internal/appserver/server.go
  cmd/web-chat/internal/appserver/server_export.go
  cmd/web-chat/internal/appserver/server_test.go
  cmd/web-chat/internal/appserver/showcase_tools.go
  cmd/web-chat/internal/mockruntime/engine.go
  cmd/web-chat/internal/mockruntime/engine_test.go
  cmd/web-chat/internal/mockruntime/logcopter.go
  cmd/web-chat/internal/profiles/api.go
  cmd/web-chat/internal/profiles/logcopter.go
  cmd/web-chat/internal/profiles/mock.go
  cmd/web-chat/internal/profiles/resolver.go
  cmd/web-chat/internal/profiles/types.go
  cmd/web-chat/main.go
  cmd/web-chat/main_runtime_test.go
  cmd/web-chat/reasoning_chat_feature_test.go
  pkg/chatapp/runner.go
Due: lint, test

refactor: extract web-chat HTTP shell
  cmd/web-chat/internal/appserver/logcopter.go
  cmd/web-chat/internal/mockruntime/logcopter.go
  cmd/web-chat/internal/webapp/config.go
  cmd/web-chat/internal/webapp/logcopter.go
  cmd/web-chat/internal/webapp/root.go
  cmd/web-chat/internal/webapp/routes.go
  cmd/web-chat/internal/webapp/server.go
  cmd/web-chat/internal/webapp/static.go
  cmd/web-chat/main.go
  cmd/web-chat/main_runtime_test.go
Due: lint, test

refactor: extract web-chat runtime internals
  cmd/web-chat/internal/middlewaredefs/registry.go
  cmd/web-chat/internal/middlewaredefs/registry_test.go
  cmd/web-chat/internal/plugins/agentmode/plugin.go
  cmd/web-chat/internal/plugins/agentmode/plugin_test.go
  cmd/web-chat/internal/runtime/agentmode_sink.go
  cmd/web-chat/internal/runtime/canonical_resolver.go
  cmd/web-chat/internal/runtime/composer.go
  cmd/web-chat/internal/runtime/composer_test.go
  cmd/web-chat/internal/runtime/turn_persistence.go
  cmd/web-chat/main.go
  cmd/web-chat/main_runtime_test.go
Due: lint, test

refactor: move web-chat app assembly out of main
  cmd/web-chat/internal/middlewaredefs/logcopter.go
  cmd/web-chat/internal/plugins/agentmode/logcopter.go
  cmd/web-chat/internal/runtime/logcopter.go
  cmd/web-chat/internal/webchatcmd/run.go
  cmd/web-chat/main.go
  cmd/web-chat/main_profile_registries_test.go
Due: lint, test

refactor: split web-chat appserver routes
  cmd/web-chat/internal/appserver/hydration.go
  cmd/web-chat/internal/appserver/options.go
  cmd/web-chat/internal/appserver/response.go
  cmd/web-chat/internal/appserver/routes_exports.go
  cmd/web-chat/internal/appserver/routes_frontend_tools.go
  cmd/web-chat/internal/appserver/routes_sessions.go
  cmd/web-chat/internal/appserver/routes_ws.go
  cmd/web-chat/internal/appserver/server.go
  cmd/web-chat/internal/appserver/snapshot.go
  cmd/web-chat/internal/webchatcmd/logcopter.go
Due: lint, test

refactor: split web-chat profile API
  cmd/web-chat/internal/profiles/api.go
  cmd/web-chat/internal/profiles/api_current_profile.go
  cmd/web-chat/internal/profiles/api_current_profile_test.go
  cmd/web-chat/internal/profiles/api_models.go
  cmd/web-chat/internal/profiles/api_profiles.go
  cmd/web-chat/internal/profiles/api_response.go
  cmd/web-chat/internal/profiles/api_schemas.go
Due: lint, test

docs: update web-chat intern guide
  cmd/web-chat/README.md
  cmd/web-chat/web/README.md
Due: web-check

fix: remove stale web-chat devctl trace flag
  .devctl.yaml
  cmd/web-chat/.devctl.yaml
  cmd/web-chat/plugins/webchat.py
Due: none

:tractor: Move misplaced ticket out of the way
  ttmp/2026/03/03/GEPA-07-TIMELINE-JS-CONSUME-CONTRACT--fix-timeline-js-consume-contract-mismatches-and-runtime-error-propagation/README.md
  ttmp/2026/03/03/GEPA-07-TIMELINE-JS-CONSUME-CONTRACT--fix-timeline-js-consume-contract-mismatches-and-runtime-error-propagation/changelog.md
  ttmp/2026/03/03/GEPA-07-TIMELINE-JS-CONSUME-CONTRACT--fix-timeline-js-consume-contract-mismatches-and-runtime-error-propagation/design-doc/01-timeline-js-consume-contract-mismatch-analysis-and-bug-fix-design.md
  ttmp/2026/03/03/GEPA-07-TIMELINE-JS-CONSUME-CONTRACT--fix-timeline-js-consume-contract-mismatches-and-runtime-error-propagation/index.md
  ttmp/2026/03/03/GEPA-07-TIMELINE-JS-CONSUME-CONTRACT--fix-timeline-js-consume-contract-mismatches-and-runtime-error-propagation/reference/01-investigation-diary.md
  ttmp/2026/03/03/GEPA-07-TIMELINE-JS-CONSUME-CONTRACT--fix-timeline-js-consume-contract-mismatches-and-runtime-error-propagation/tasks.md
Due: none

Configure chatapp protos as Buf module
  buf.yaml
  proto/pinocchio/chatapp/frontendtools/v1/frontend_tool.proto
  proto/pinocchio/chatapp/widgets/v1/widget.proto
Due: none

Add Buf CI publishing workflow
  .github/workflows/buf-ci.yaml
Due: none

Document chatapp Buf module publishing
  docs/chatapp-protobuf.md
Due: none

Align chatapp codegen with Buf module root
  buf.chatapp.gen.yaml
  buf.chatapp.web.gen.yaml
  cmd/web-chat/web/src/generated/chatapp/proto/pinocchio/chatapp/frontendtools/v1/frontend_tool_pb.ts
  cmd/web-chat/web/src/generated/chatapp/proto/pinocchio/chatapp/rpc/v1/rpc_pb.ts
  cmd/web-chat/web/src/generated/chatapp/proto/pinocchio/chatapp/v1/chat_pb.ts
  cmd/web-chat/web/src/generated/chatapp/proto/pinocchio/chatapp/widgets/v1/widget_pb.ts
  pkg/chatapp/pb/proto/pinocchio/chatapp/frontendtools/v1/frontend_tool.pb.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/rpc/v1/rpc.pb.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/widgets/v1/widget.pb.go
Due: lint, test, web-check

Read Buf publishing token from Vault
  .github/workflows/buf-ci.yaml
Due: none

Document Vault-backed Buf token flow
  docs/chatapp-protobuf.md
Due: none

Use published chat provider package
  cmd/web-chat/web/package-lock.json
  cmd/web-chat/web/package.json
Due: web-check

Publish Buf module only on schema-changing releases
  .github/workflows/buf-ci.yaml
  docs/chatapp-protobuf.md
Due: none

Guard snapshot ordinal timestamp conversion
  pkg/chatapp/serverkit/http.go
Due: lint, test

Publish Buf schemas on release tag pushes
  .github/workflows/buf-ci.yaml
  docs/chatapp-protobuf.md
Due: none

Gate Buf tag publishing on proto changes
  .github/workflows/buf-ci.yaml
  docs/chatapp-protobuf.md
Due: none

Add reusable chatapp turn persistence helpers
  pkg/chatapp/serverkit/turn_persistence.go
  pkg/chatapp/serverkit/turn_persistence_test.go
Due: lint, test

Surface chat runtime failures
  pkg/chatapp/chat_test.go
  pkg/chatapp/projections.go
  pkg/chatapp/projections_protocol_test.go
  pkg/chatapp/runtime_inference.go
Due: lint, test

:arrow_up: Bump go mod
  go.mod
Due: none

Persist event-sink runtime failures
  pkg/chatapp/chat_test.go
  pkg/chatapp/runtime_inference.go
Due: lint, test
