Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lint:
  run: make lintmax

test:
  run: make test

web-check:
  run: cd cmd/web-chat/web && npm run check

fix(chatstore): enforce exact MySQL identity and schema v1
  pkg/persistence/chatstore/mysql_turn_store.go
Due: lint, test

ci(mysql): require disposable MySQL integration coverage
  .github/workflows/mysql-integration.yml
  go.mod
  go.sum
Due: none

refactor(serverkit): make persistence backend selection explicit
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/js_turn_store.go
  cmd/web-chat/internal/appserver/hydration.go
  cmd/web-chat/internal/appserver/options.go
  cmd/web-chat/internal/appserver/server.go
  cmd/web-chat/internal/appserver/server_test.go
  cmd/web-chat/internal/webchatcmd/run.go
  cmd/web-chat/main.go
  pkg/chatapp/serverkit/stores.go
  pkg/chatapp/serverkit/stores_test.go
  pkg/cmds/chat_persistence.go
  pkg/cmds/chat_persistence_test.go
  pkg/cmds/cmd.go
  pkg/cmds/cmdlayers/helpers.go
  pkg/cmds/run/context.go
Due: lint, test

test(mysql): add disposable Testcontainers MySQL harness
  go.mod
  go.sum
  pkg/testsupport/mysqltest/logcopter.go
  pkg/testsupport/mysqltest/mysqltest.go
  pkg/testsupport/mysqltest/mysqltest_integration_test.go
  pkg/testsupport/mysqltest/mysqltest_test.go
Due: lint, test

test(serverkit): use disposable MySQL selection tests
  pkg/chatapp/serverkit/mysql_testmain_test.go
Due: lint, test

test(chatstore): use admin DSN for disposable rollback tests
  pkg/persistence/chatstore/mysql_testmain_test.go
  pkg/persistence/chatstore/mysql_turn_store_test.go
Due: lint, test

ci(docs): use glazed help export --export-mode sqlite
  .github/workflows/release.yml
Due: none

:art: Add more diary stuff
  ttmp/2026/08/19/PIN-20260819-PR200-CI-FIXES--address-pr-200-ci-failures-and-review-glazed-docs-export-mode-dependency-review-vuln-in-memory-turn-snapshot/changelog.md
  ttmp/2026/08/19/PIN-20260819-PR200-CI-FIXES--address-pr-200-ci-failures-and-review-glazed-docs-export-mode-dependency-review-vuln-in-memory-turn-snapshot/design-doc/01-pr-200-ci-fixes-and-review-analysis.md
  ttmp/2026/08/19/PIN-20260819-PR200-CI-FIXES--address-pr-200-ci-failures-and-review-glazed-docs-export-mode-dependency-review-vuln-in-memory-turn-snapshot/reference/01-diary.md
Due: none

:art: Check for created at properly
  go.mod
  go.sum
  pkg/chatapp/serverkit/stores.go
  pkg/chatapp/serverkit/stores_test.go
  ttmp/2026/08/19/PIN-20260819-PR200-CI-FIXES--address-pr-200-ci-failures-and-review-glazed-docs-export-mode-dependency-review-vuln-in-memory-turn-snapshot/README.md
  ttmp/2026/08/19/PIN-20260819-PR200-CI-FIXES--address-pr-200-ci-failures-and-review-glazed-docs-export-mode-dependency-review-vuln-in-memory-turn-snapshot/changelog.md
  ttmp/2026/08/19/PIN-20260819-PR200-CI-FIXES--address-pr-200-ci-failures-and-review-glazed-docs-export-mode-dependency-review-vuln-in-memory-turn-snapshot/design-doc/01-pr-200-ci-fixes-and-review-analysis.md
  ttmp/2026/08/19/PIN-20260819-PR200-CI-FIXES--address-pr-200-ci-failures-and-review-glazed-docs-export-mode-dependency-review-vuln-in-memory-turn-snapshot/index.md
  ttmp/2026/08/19/PIN-20260819-PR200-CI-FIXES--address-pr-200-ci-failures-and-review-glazed-docs-export-mode-dependency-review-vuln-in-memory-turn-snapshot/reference/01-diary.md
  ttmp/2026/08/19/PIN-20260819-PR200-CI-FIXES--address-pr-200-ci-failures-and-review-glazed-docs-export-mode-dependency-review-vuln-in-memory-turn-snapshot/tasks.md
Due: lint, test

fix(chatapp): generate restart-safe message IDs
  pkg/chatapp/chat.go
  pkg/chatapp/chat_test.go
  pkg/chatapp/message_id.go
  pkg/chatapp/message_id_test.go
  pkg/chatapp/runtime_inference.go
Due: lint, test

docs(PINOCCHIO-202): record message identity implementation
  ttmp/2026/08/20/PINOCCHIO-202--make-chat-message-identities-restart-safe-and-replica-safe/README.md
  ttmp/2026/08/20/PINOCCHIO-202--make-chat-message-identities-restart-safe-and-replica-safe/changelog.md
  ttmp/2026/08/20/PINOCCHIO-202--make-chat-message-identities-restart-safe-and-replica-safe/design-doc/01-restart-safe-chat-message-identity-analysis-design-and-implementation-guide.md
  ttmp/2026/08/20/PINOCCHIO-202--make-chat-message-identities-restart-safe-and-replica-safe/index.md
  ttmp/2026/08/20/PINOCCHIO-202--make-chat-message-identities-restart-safe-and-replica-safe/reference/01-investigation-diary.md
  ttmp/2026/08/20/PINOCCHIO-202--make-chat-message-identities-restart-safe-and-replica-safe/tasks.md
Due: none

docs(PINOCCHIO-202): record CoinVault restart proof
  ttmp/2026/08/20/PINOCCHIO-202--make-chat-message-identities-restart-safe-and-replica-safe/changelog.md
  ttmp/2026/08/20/PINOCCHIO-202--make-chat-message-identities-restart-safe-and-replica-safe/reference/01-investigation-diary.md
  ttmp/2026/08/20/PINOCCHIO-202--make-chat-message-identities-restart-safe-and-replica-safe/tasks.md
Due: none

fix(chatapp): reserve derived message namespaces
  pkg/chatapp/chat.go
  pkg/chatapp/message_id.go
  pkg/chatapp/message_id_test.go
  pkg/chatapp/messages.go
  pkg/chatapp/projections.go
  pkg/chatapp/runtime_inference.go
  pkg/chatapp/runtime_sink.go
Due: lint, test

docs(PINOCCHIO-202): record namespace review fix
  ttmp/2026/08/20/PINOCCHIO-202--make-chat-message-identities-restart-safe-and-replica-safe/changelog.md
  ttmp/2026/08/20/PINOCCHIO-202--make-chat-message-identities-restart-safe-and-replica-safe/reference/01-investigation-diary.md
Due: none

:art: Add missing diary entry
  ttmp/2026/08/19/PIN-20260819-PR200-CI-FIXES--address-pr-200-ci-failures-and-review-glazed-docs-export-mode-dependency-review-vuln-in-memory-turn-snapshot/reference/01-diary.md
Due: none

fix(frontendtools): bind pending calls to sessions
  cmd/web-chat/internal/appserver/routes_frontend_tools.go
  cmd/web-chat/internal/appserver/server_test.go
  pkg/chatapp/frontendtools/manager.go
  pkg/chatapp/frontendtools/manager_test.go
Due: lint, test

PINOCCHIO-TOOLCALL-1: design frontend tool bridge hardening
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/README.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/changelog.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/design-doc/01-pinocchio-frontend-tool-bridge-hardening-invocation-identity-result-validation-implementation-guide.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/index.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/reference/01-diary.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/tasks.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/various/01-mermaid-render.txt
Due: none

PINOCCHIO-TOOLCALL-1: record reMarkable delivery
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/changelog.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/reference/01-diary.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/tasks.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/various/02-remarkable-delivery.md
Due: none

test(frontendtools): cover terminal bridge statuses
  pkg/chatapp/frontendtools/bridge_test.go
  pkg/chatapp/frontendtools/manager.go
  pkg/chatapp/frontendtools/terminal_store.go
  pkg/chatapp/frontendtools/terminal_store_test.go
Due: lint, test

PINOCCHIO-TOOLCALL-1: record server hardening validation
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/changelog.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/design-doc/01-pinocchio-frontend-tool-bridge-hardening-invocation-identity-result-validation-implementation-guide.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/reference/01-diary.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/tasks.md
Due: none

PINOCCHIO-TOOLCALL-1: record session binding phase
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/changelog.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/reference/01-diary.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/tasks.md
Due: none

PINOCCHIO-TOOLCALL-1: record terminal completion phase
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/changelog.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/reference/01-diary.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/tasks.md
Due: none

fix(frontendtools): make completion terminal and idempotent
  cmd/web-chat/internal/appserver/routes_frontend_tools.go
  cmd/web-chat/internal/appserver/server_test.go
  pkg/chatapp/frontendtools/manager.go
  pkg/chatapp/frontendtools/manager_test.go
  pkg/chatapp/frontendtools/terminal_store.go
  pkg/chatapp/frontendtools/terminal_store_test.go
Due: lint, test

fix(frontendtools): bound cancellation publication
  cmd/web-chat/web/src/features/web-chat/cards/ToolCallCard/ToolCallCard.test.tsx
  cmd/web-chat/web/src/features/web-chat/cards/ToolCallCard/ToolCallCard.tsx
  cmd/web-chat/web/src/ws/frontendTools.test.ts
  cmd/web-chat/web/src/ws/frontendTools.ts
  pkg/chatapp/frontendtools/manager.go
  pkg/chatapp/frontendtools/manager_test.go
Due: lint, test, web-check

PINOCCHIO-TOOLCALL-1: record PR 207 review fixes
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/changelog.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/reference/01-diary.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/tasks.md
Due: none

PINOCCHIO-TOOLCALL-1: adopt concise executor protocol
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/changelog.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/design-doc/01-pinocchio-frontend-tool-bridge-hardening-invocation-identity-result-validation-implementation-guide.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/reference/01-diary.md
Due: none

PINOCCHIO-TOOLCALL-1: record executor design commit
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/reference/01-diary.md
Due: none

feat(frontendtools): assign one browser executor
  Makefile
  cmd/web-chat/internal/appserver/routes_frontend_tools.go
  cmd/web-chat/internal/appserver/server.go
  cmd/web-chat/internal/appserver/server_test.go
  cmd/web-chat/web/src/generated/chatapp/proto/pinocchio/chatapp/frontendtools/v1/frontend_tool_pb.ts
  cmd/web-chat/web/src/generated/chatapp/proto/pinocchio/chatapp/rpc/v1/rpc_pb.ts
  cmd/web-chat/web/src/generated/chatapp/proto/pinocchio/chatapp/v1/chat_pb.ts
  cmd/web-chat/web/src/generated/chatapp/proto/pinocchio/chatapp/widgets/v1/widget_pb.ts
  pkg/chatapp/frontendtools/bridge.go
  pkg/chatapp/frontendtools/bridge_test.go
  pkg/chatapp/frontendtools/executor_test.go
  pkg/chatapp/frontendtools/manager.go
  pkg/chatapp/frontendtools/manager_test.go
  pkg/chatapp/frontendtools/plugin.go
  pkg/chatapp/frontendtools/plugin_test.go
  pkg/chatapp/frontendtools/terminal_store.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/frontendtools/v1/frontend_tool.pb.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/rpc/v1/rpc.pb.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/widgets/v1/widget.pb.go
  proto/pinocchio/chatapp/frontendtools/v1/frontend_tool.proto
Due: lint, test, web-check

PINOCCHIO-TOOLCALL-1: record executor assignment phase
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/changelog.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/reference/01-diary.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/tasks.md
Due: none

PINOCCHIO-TOOLCALL-1: record v0.11.15 release
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/changelog.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/reference/01-diary.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/tasks.md
Due: none

fix(frontendtools): commit assignment before exposure
  cmd/web-chat/web/src/features/web-chat/cards/ToolCallCard/ToolCallCard.test.tsx
  cmd/web-chat/web/src/features/web-chat/cards/ToolCallCard/ToolCallCard.tsx
  cmd/web-chat/web/src/features/web-chat/extensions/pinocchio-timeline-adapters/pinocchioTimelineAdapters.test.ts
  cmd/web-chat/web/src/features/web-chat/extensions/pinocchio-timeline-adapters/pinocchioTimelineAdapters.ts
  cmd/web-chat/web/src/ws/frontendTools.test.ts
  cmd/web-chat/web/src/ws/frontendTools.ts
  pkg/chatapp/frontendtools/executor_test.go
  pkg/chatapp/frontendtools/manager.go
Due: lint, test, web-check

PINOCCHIO-TOOLCALL-1: record PR 208 review fixes
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/changelog.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/reference/01-diary.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/tasks.md
Due: none

fix(web-chat): centralize frontend tool authority
  cmd/web-chat/web/src/features/web-chat/WebChatApp/ProviderToolCallRenderer.test.ts
  cmd/web-chat/web/src/features/web-chat/WebChatApp/ProviderToolCallRenderer.tsx
  cmd/web-chat/web/src/features/web-chat/cards/ToolCallCard/ToolCallCard.test.tsx
  cmd/web-chat/web/src/features/web-chat/cards/ToolCallCard/ToolCallCard.tsx
  cmd/web-chat/web/src/features/web-chat/extensions/pinocchio-timeline-adapters/pinocchioTimelineAdapters.test.ts
  cmd/web-chat/web/src/features/web-chat/extensions/pinocchio-timeline-adapters/pinocchioTimelineAdapters.ts
  cmd/web-chat/web/src/ws/frontendTools.test.ts
  cmd/web-chat/web/src/ws/frontendTools.ts
Due: web-check

PINOCCHIO-TOOLCALL-1: record single-authority review fix
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/changelog.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/design-doc/01-pinocchio-frontend-tool-bridge-hardening-invocation-identity-result-validation-implementation-guide.md
  ttmp/2026/08/23/PINOCCHIO-TOOLCALL-1--bind-frontend-tool-calls-to-sessions-and-make-completion-idempotent/reference/01-diary.md
Due: none

refactor(catter): use clay pkg/filefilter, drop local duplicated copy
  cmd/pinocchio/cmds/catter/cmds/print.go
  cmd/pinocchio/cmds/catter/cmds/stats.go
  cmd/pinocchio/cmds/catter/pkg/fileprocessor.go
  cmd/pinocchio/cmds/catter/pkg/stats.go
  pkg/filefilter/filefilter.go
  pkg/filefilter/logcopter.go
  pkg/filefilter/section.go
Due: lint, test

PIN-20260212-CATTER-FILEFILTER-UNIFY: ticket docs, guide, implementation diary
  ttmp/2026/09/16/PIN-20260212-CATTER-FILEFILTER-UNIFY--unify-catter-file-filter-with-clay-pkg-filefilter/README.md
  ttmp/2026/09/16/PIN-20260212-CATTER-FILEFILTER-UNIFY--unify-catter-file-filter-with-clay-pkg-filefilter/analysis/01-catter-file-filter-unification-analysis-design-and-implementation-guide.md
  ttmp/2026/09/16/PIN-20260212-CATTER-FILEFILTER-UNIFY--unify-catter-file-filter-with-clay-pkg-filefilter/changelog.md
  ttmp/2026/09/16/PIN-20260212-CATTER-FILEFILTER-UNIFY--unify-catter-file-filter-with-clay-pkg-filefilter/diary/01-diary.md
  ttmp/2026/09/16/PIN-20260212-CATTER-FILEFILTER-UNIFY--unify-catter-file-filter-with-clay-pkg-filefilter/index.md
  ttmp/2026/09/16/PIN-20260212-CATTER-FILEFILTER-UNIFY--unify-catter-file-filter-with-clay-pkg-filefilter/tasks.md
Due: none

PIN-20260212-CATTER-FILEFILTER-UNIFY: diary step 5 (clay PR #149)
  ttmp/2026/09/16/PIN-20260212-CATTER-FILEFILTER-UNIFY--unify-catter-file-filter-with-clay-pkg-filefilter/changelog.md
  ttmp/2026/09/16/PIN-20260212-CATTER-FILEFILTER-UNIFY--unify-catter-file-filter-with-clay-pkg-filefilter/diary/01-diary.md
  ttmp/2026/09/16/PIN-20260212-CATTER-FILEFILTER-UNIFY--unify-catter-file-filter-with-clay-pkg-filefilter/tasks.md
Due: none

style(catter): gofmt import blocks after clay filefilter switch
  cmd/pinocchio/cmds/catter/cmds/print.go
  cmd/pinocchio/cmds/catter/cmds/stats.go
  cmd/pinocchio/cmds/catter/pkg/fileprocessor.go
Due: lint, test

PIN-20260212-CATTER-FILEFILTER-UNIFY: diary step 6 (lint fixes)
  ttmp/2026/09/16/PIN-20260212-CATTER-FILEFILTER-UNIFY--unify-catter-file-filter-with-clay-pkg-filefilter/changelog.md
  ttmp/2026/09/16/PIN-20260212-CATTER-FILEFILTER-UNIFY--unify-catter-file-filter-with-clay-pkg-filefilter/diary/01-diary.md
Due: none

Path conditions:
  lint: any of: *.go
  test: any of: *.go
  web-check: any of: cmd/web-chat/web/**
