Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lint:
  run: make lintmax

test:
  run: make test

web-check:
  run: cd cmd/web-chat/web && npm run check

Wire turn storage into pinocchio js
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/js_test.go
  cmd/pinocchio/cmds/js_turn_store.go
  cmd/pinocchio/cmds/js_turn_store_test.go
  cmd/pinocchio/doc/general/05-js-runner-scripts.md
  examples/js/README.md
  examples/js/runner-profile-demo.js
  examples/js/runner-profile-smoke.js
  go.mod
  go.sum
Due: lint, test

:arrow_up: Bump go mod
  go.mod
  go.sum
Due: none

Use published chat-provider 0.2.1
  cmd/web-chat/web/package-lock.json
  cmd/web-chat/web/package.json
  cmd/web-chat/web/src/features/web-chat/WebChatApp/ProviderStatusbar.tsx
  cmd/web-chat/web/src/features/web-chat/WebChatApp/WebChatApp.tsx
Due: web-check

Update goja engine API imports
  cmd/examples/scopedjs-tui-demo/environment.go
  cmd/pinocchio/cmds/js.go
Due: lint, test

:arrow_up: Bump depenencies
  go.mod
  go.sum
Due: none

Bump go-go-goja to v0.8.3, migrate to pkg/engine API
  go.mod
  go.sum
Due: none

docs: plan Pinocchio OAuth profile lifecycle
  .ttmp.yaml
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/README.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/changelog.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/design-doc/01-profile-oauth-credential-lifecycle-analysis-design-and-implementation-guide.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/index.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/tasks.md
  ttmp/vocabulary.yaml
Due: none

docs: record Pinocchio OAuth guide delivery
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/changelog.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
Due: none

docs: restore OAuth ticket vocabulary
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/design-doc/01-profile-oauth-credential-lifecycle-analysis-design-and-implementation-guide.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/index.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
Due: none

feat: add secure OAuth profile YAML store
  pkg/oauthprofiles/lock_nonunix.go
  pkg/oauthprofiles/lock_unix.go
  pkg/oauthprofiles/logcopter.go
  pkg/oauthprofiles/profile.go
  pkg/oauthprofiles/profile_test.go
  pkg/oauthprofiles/store.go
  pkg/oauthprofiles/store_test.go
Due: lint, test

build: keep workspace active for lint
  Makefile
Due: none

docs: record OAuth store implementation
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/changelog.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/design-doc/01-profile-oauth-credential-lifecycle-analysis-design-and-implementation-guide.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/tasks.md
Due: none

feat: inject OAuth profile bearer sources
  pkg/cmds/profilebootstrap/engine_settings.go
  pkg/cmds/profilebootstrap/oauth.go
  pkg/cmds/profilebootstrap/oauth_test.go
  pkg/oauthprofiles/refresher.go
Due: lint, test

docs: record OAuth runtime integration
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/changelog.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/design-doc/01-profile-oauth-credential-lifecycle-analysis-design-and-implementation-guide.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/tasks.md
Due: none

feat: add Glazed OAuth browser login
  cmd/pinocchio/cmds/auth/logcopter.go
  cmd/pinocchio/cmds/auth/login.go
  cmd/pinocchio/cmds/auth/login_test.go
  cmd/pinocchio/cmds/auth/root.go
  cmd/pinocchio/main.go
Due: lint, test

fix: redact OAuth profile secrets from outputs
  cmd/web-chat/internal/profiles/api_models.go
  cmd/web-chat/internal/profiles/api_models_test.go
  pkg/configdoc/explain.go
  pkg/configdoc/explain_test.go
Due: lint, test

test: cover OAuth persistence and login failures
  cmd/pinocchio/cmds/auth/login_test.go
  pkg/oauthprofiles/store_test.go
Due: lint, test

fix: bound OAuth callback header reads
  cmd/pinocchio/cmds/auth/login.go
Due: lint, test

docs: record OAuth login and validation
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/changelog.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/tasks.md
Due: none

docs: record OAuth implementation delivery
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
Due: none

test: cover OAuth extension merge and redaction
  pkg/configdoc/merge_test.go
  pkg/oauthprofiles/profile_test.go
Due: lint, test

docs: record OAuth extension safety coverage
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/changelog.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/tasks.md
Due: none

docs: explain OAuth profile login ownership
  pkg/doc/topics/oauth-profile-login.md
  pkg/doc/topics/pinocchio-profile-resolution-and-runtime-switching.md
  pkg/doc/tutorials/08-migrating-legacy-pinocchio-config-to-unified-profile-documents.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/changelog.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
Due: none

deps: use Geppetto renewable bearer release
  go.mod
  go.sum
Due: none

docs: record published Geppetto validation
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/changelog.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
Due: none

docs: design Pinocchio JS OAuth source management
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/README.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/changelog.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/design-doc/01-host-owned-oauth-sources-in-pinocchio-javascript-runtimes-and-local-lifecycle-commands.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/index.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/reference/01-implementation-diary.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/sources/01-openai-apps-sdk-auth.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/sources/02-claude-connectors-authentication.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/sources/03-umans-ai-home.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/sources/04-local-source-map.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/sources/05-claude-platform-api-authentication.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/sources/06-openai-api-quickstart.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/tasks.md
Due: none

feat: inject OAuth sources into Pinocchio JS engines
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/js_test.go
  pkg/cmds/profilebootstrap/oauth.go
  pkg/js/modules/pinocchio/module.go
Due: lint, test

docs: record Pinocchio JS source injection
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/changelog.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/reference/01-implementation-diary.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/tasks.md
Due: none

feat: add Pinocchio OAuth status and logout
  cmd/pinocchio/cmds/auth/lifecycle_test.go
  cmd/pinocchio/cmds/auth/logout.go
  cmd/pinocchio/cmds/auth/profile.go
  cmd/pinocchio/cmds/auth/root.go
  cmd/pinocchio/cmds/auth/status.go
  pkg/oauthprofiles/store.go
  pkg/oauthprofiles/store_test.go
Due: lint, test

docs: record Pinocchio OAuth lifecycle commands
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/changelog.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/reference/01-implementation-diary.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/tasks.md
Due: none

docs: complete Pinocchio OAuth runtime ticket
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/changelog.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/design-doc/01-host-owned-oauth-sources-in-pinocchio-javascript-runtimes-and-local-lifecycle-commands.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/index.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/reference/01-implementation-diary.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/tasks.md
Due: none

docs: close Pinocchio OAuth runtime ticket
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/changelog.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/index.md
Due: none

docs: add OAuth runtime ticket vocabulary
  ttmp/vocabulary.yaml
Due: none

build: update Go toolchain security patch
  go.mod
Due: none

docs: record Go toolchain security validation
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/changelog.md
  ttmp/2026/07/14/PINOCCHIO-JS-OAUTH-RUNTIME-MANAGEMENT--javascript-oauth-runtime-injection-and-local-credential-management/reference/01-implementation-diary.md
Due: none

refactor: use Geppetto credential lifecycle primitives
  cmd/pinocchio/cmds/auth/logout.go
  cmd/pinocchio/cmds/auth/status.go
  pkg/oauthprofiles/store.go
Due: lint, test

feat: allow Claude OAuth profile binding
  pkg/cmds/profilebootstrap/oauth.go
Due: lint, test

feat: consume Geppetto v0.13.7 OAuth lifecycle
  go.mod
  go.sum
  pkg/cmds/profilebootstrap/oauth_test.go
  pkg/doc/topics/oauth-profile-login.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/changelog.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/design-doc/01-profile-oauth-credential-lifecycle-analysis-design-and-implementation-guide.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/tasks.md
Due: lint, test

fix: address OAuth lifecycle review findings
  go.mod
  pkg/cmds/cmd.go
  pkg/oauthprofiles/lock_nonunix.go
  pkg/oauthprofiles/lock_windows.go
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/changelog.md
  ttmp/2026/07/10/PINOCCHIO-OAUTH-PROFILE-LIFECYCLE--profile-backed-oauth-credentials-and-browser-login/reference/01-implementation-diary.md
Due: lint, test

Path conditions:
  lint: any of: *.go
  test: any of: *.go
  web-check: any of: cmd/web-chat/web/**
