Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*.go'
      run: make lintmax 
    test:
      glob: '*.go'
      run: make test
    web-check:
      glob: 'cmd/web-chat/web/**'
      run: cd cmd/web-chat/web && npm run check
  parallel: true

pre-push:
  parallel: true
  commands:
    release:
      run: make goreleaser
    lint:
      run: make lintmax gosec govulncheck
    test:
      run: make test

chat: add TUI session resume
  cmd/pinocchio/doc/general/06-rpc-jsonl-output.md
  pkg/cmds/chat_persistence.go
  pkg/cmds/chat_persistence_test.go
  pkg/cmds/cmd.go
  pkg/cmds/cmdlayers/helpers.go
  pkg/cmds/run/context.go
Due: lint, test

docs: record TUI resume implementation
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/changelog.md
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-TUI-TURNS-PERSISTENCE--persist-turns-in-tui-chatapp/tasks.md
Due: none

docs: design stdin RPC multiturn
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/README.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/changelog.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/design-doc/01-multi-turn-stdin-stdout-rpc-mode.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/index.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/tasks.md
Due: none

profiles: expose profile introspection flags
  cmd/pinocchio/main.go
  pkg/cmds/cmd.go
  pkg/cmds/profile_introspection_test.go
  pkg/cmds/profilebootstrap/profile_introspection.go
  pkg/doc/topics/pinocchio-profile-resolution-and-runtime-switching.md
Due: lint, test

docs: record profile introspection work
  ttmp/2026/05/21/PIN-20260521-PROFILE-INTROSPECTION--expose-profile-introspection-flags-in-pinocchio/README.md
  ttmp/2026/05/21/PIN-20260521-PROFILE-INTROSPECTION--expose-profile-introspection-flags-in-pinocchio/changelog.md
  ttmp/2026/05/21/PIN-20260521-PROFILE-INTROSPECTION--expose-profile-introspection-flags-in-pinocchio/index.md
  ttmp/2026/05/21/PIN-20260521-PROFILE-INTROSPECTION--expose-profile-introspection-flags-in-pinocchio/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-PROFILE-INTROSPECTION--expose-profile-introspection-flags-in-pinocchio/tasks.md
Due: none

docs: design profiles list command
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/README.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/changelog.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/design-doc/01-implementation-guide.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/index.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/tasks.md
Due: none

docs: catalog profiles list fields
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/changelog.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/design-doc/01-implementation-guide.md
Due: none

docs: add profile override fields
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/changelog.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/design-doc/01-implementation-guide.md
Due: none

profiles: add list command
  cmd/pinocchio/cmds/profiles/list.go
  cmd/pinocchio/cmds/profiles/list_test.go
  cmd/pinocchio/cmds/profiles/root.go
  cmd/pinocchio/main.go
  pkg/cmds/cmd.go
  pkg/cmds/profile_introspection_test.go
  pkg/doc/topics/pinocchio-profile-resolution-and-runtime-switching.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/changelog.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/tasks.md
Due: lint, test

docs: record profiles list implementation
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/changelog.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/tasks.md
Due: none

profiles: add show command
  cmd/pinocchio/cmds/profiles/root.go
  cmd/pinocchio/cmds/profiles/show.go
  cmd/pinocchio/cmds/profiles/show_test.go
  pkg/doc/topics/pinocchio-profile-resolution-and-runtime-switching.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/changelog.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/design-doc/01-implementation-guide.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/tasks.md
Due: lint, test

docs: record profiles show implementation
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/changelog.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/reference/01-implementation-diary.md
Due: none

profiles: fix show registry default resolution
  cmd/pinocchio/cmds/profiles/show.go
  cmd/pinocchio/cmds/profiles/show_test.go
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/changelog.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/reference/01-implementation-diary.md
Due: lint, test

docs: record profiles PR review fix
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/changelog.md
  ttmp/2026/05/21/PIN-20260521-PROFILES-LIST-VERB--add-profiles-list-glazed-command/reference/01-implementation-diary.md
Due: none

docs: refresh stdin RPC design guide
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/changelog.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/design-doc/01-multi-turn-stdin-stdout-rpc-mode.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/reference/01-implementation-diary.md
Due: none

rpc: add stdin multiturn mode
  cmd/pinocchio/doc/general/06-rpc-jsonl-output.md
  cmd/web-chat/web/src/chatapp/pb/proto/pinocchio/chatapp/rpc/v1/rpc_pb.ts
  pkg/chatapp/pb/proto/pinocchio/chatapp/rpc/v1/rpc.pb.go
  pkg/chatapp/rpc/jsonl/fanout.go
  pkg/chatapp/rpc/jsonl/writer.go
  pkg/cmds/cmd.go
  pkg/cmds/cmd_rpc_stdin_test.go
  pkg/cmds/cmdlayers/helpers.go
  pkg/cmds/run/context.go
  pkg/cmds/run_status_fanout.go
  proto/pinocchio/chatapp/rpc/v1/rpc.proto
Due: lint, test, web-check

docs: record stdin RPC implementation
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/changelog.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/tasks.md
Due: none

test: cover stdin RPC session isolation
  pkg/cmds/cmd_rpc_stdin_test.go
Due: lint, test

docs: record stdin RPC smoke validation
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/changelog.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/tasks.md
Due: none

rpc: support stdin cancel while running
  pkg/cmds/cmd.go
  pkg/cmds/cmd_rpc_stdin_test.go
Due: lint, test

docs: record stdin RPC cancel support
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/changelog.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/tasks.md
Due: none

docs: design stdin RPC multisession foundations
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/changelog.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/design-doc/02-multi-session-rpc-foundations-and-pr-156-review-response.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/tasks.md
Due: none

docs: correct multisession guide diary hash
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/reference/01-implementation-diary.md
Due: none

docs: record PR 156 guide comment
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/changelog.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/reference/01-implementation-diary.md
Due: none

docs: design single-session stdin RPC
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/changelog.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/design-doc/03-single-session-stdin-rpc-implementation-guide.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/tasks.md
Due: none

rpc: enforce single-session stdin mode
  cmd/pinocchio/doc/general/06-rpc-jsonl-output.md
  pkg/chatapp/rpc/jsonl/fanout.go
  pkg/cmds/cmd.go
  pkg/cmds/cmd_rpc_stdin_test.go
Due: lint, test

docs: record single-session stdin RPC completion
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/changelog.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/reference/01-implementation-diary.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/tasks.md
Due: none

docs: correct single-session completion diary hash
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/reference/01-implementation-diary.md
Due: none

docs: record PR 156 single-session comment
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/changelog.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/reference/01-implementation-diary.md
Due: none

docs: correct PR 156 comment diary hash
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/reference/01-implementation-diary.md
Due: none

deps: fix govulncheck findings
  go.mod
  go.sum
Due: none

rpc: mark stdin request errors non-terminal
  pkg/cmds/cmd.go
  pkg/cmds/cmd_rpc_stdin_test.go
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/changelog.md
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/reference/01-implementation-diary.md
Due: lint, test

docs: correct non-terminal error diary hash
  ttmp/2026/05/21/PIN-20260521-RPC-STDIN-MULTITURN--add-multi-turn-stdin-rpc-mode/reference/01-implementation-diary.md
Due: none

:arrow_up: Bump goja
  go.mod
  go.sum
Due: none

:art: Need logcopter
  go.mod
  go.sum
Due: none

Check logcopter files before generation
  .github/workflows/push.yml
Due: none

Temporarily break logcopter CI check for Codex test
  .github/workflows/push.yml
Due: none

Revert "Temporarily break logcopter CI check for Codex test"
  .github/workflows/push.yml
Due: none

Generalize go-go-golems dependency bumps
  Makefile
Due: none
