Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*.go'
      run: make lintmax 
    test:
      glob: '*.go'
      run: make test
    web-check:
      glob: 'cmd/web-chat/web/**'
      run: cd cmd/web-chat/web && npm run check
  parallel: true

pre-push:
  parallel: true
  commands:
    release:
      run: make goreleaser
    lint:
      run: make lintmax gosec govulncheck
    test:
      run: make test

fix(webchat): snapshot fallback runtime fingerprint under lock
  pkg/webchat/conversation_service_test.go
  pkg/webchat/llm_state.go
Due: lint, test

feat(webchat): adopt profile and registry selectors
  cmd/web-chat/README.md
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/web/src/store/profileApi.test.ts
  cmd/web-chat/web/src/store/profileApi.ts
  cmd/web-chat/web/src/webchat/ChatWidget.tsx
  pkg/webchat/http/api.go
  pkg/webchat/http/profile_api.go
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/README.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/changelog.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/design/01-merge-assessment.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/index.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/playbooks/01-how-simplify-webchat-should-adapt-to-the-current-runner-first-webchat-architecture.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/reference/01-diary.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/tasks.md
Due: lint, test, web-check

feat(webchat): expose resolved runtime keys in debug api
  cmd/web-chat/web/src/debug-ui/api/debugApi.test.ts
  cmd/web-chat/web/src/debug-ui/api/debugApi.ts
  cmd/web-chat/web/src/debug-ui/mocks/msw/createDebugHandlers.ts
  pkg/webchat/router_debug_api_test.go
  pkg/webchat/router_debug_routes.go
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/reference/01-diary.md
Due: lint, test, web-check

refactor(webchat): drop unused alias api shims
  pkg/webchat/bootstrap/api.go
  pkg/webchat/chat/api.go
  pkg/webchat/stream/api.go
  pkg/webchat/timeline/api.go
Due: lint, test

docs(gp-031): record simplify-webchat replay progress
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/changelog.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/design/01-merge-assessment.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/playbooks/01-how-simplify-webchat-should-adapt-to-the-current-runner-first-webchat-architecture.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/reference/01-diary.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/tasks.md
Due: none

docs(gp-031): assess os-openai-app-server workspace impact
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/changelog.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/design/02-os-openai-app-server-workspace-impact-assessment-for-adopting-task-unify-chat-backend.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/index.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/reference/01-diary.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/tasks.md
Due: none

refactor(webchat): remove compatibility router helpers
  pkg/webchat/doc.go
  pkg/webchat/router.go
  pkg/webchat/router_mount_test.go
  pkg/webchat/server.go
  pkg/webchat/types.go
Due: lint, test

docs(webchat): publish compatibility migration guide
  pkg/doc/topics/webchat-compatibility-surface-migration-guide.md
  pkg/doc/topics/webchat-debugging-and-ops.md
  pkg/doc/topics/webchat-framework-guide.md
  pkg/doc/topics/webchat-frontend-integration.md
  pkg/doc/topics/webchat-http-chat-setup.md
  pkg/doc/topics/webchat-profile-registry.md
  pkg/doc/topics/webchat-runtime-truth-migration-playbook.md
  pkg/doc/topics/webchat-user-guide.md
  pkg/doc/tutorials/03-thirdparty-webchat-playbook.md
  pkg/doc/tutorials/04-intern-app-owned-middleware-events-timeline-widgets.md
  pkg/doc/tutorials/05-building-standalone-webchat-ui.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/changelog.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/design/01-merge-assessment.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/playbooks/01-how-simplify-webchat-should-adapt-to-the-current-runner-first-webchat-architecture.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/reference/01-diary.md
  ttmp/2026/03/08/GP-031--assess-merge-conflicts-between-unify-chat-backend-and-simplify-webchat/tasks.md
Due: none

:ambulance: Address PR code review issue
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
Due: lint, test

:arrow_up: Bump geppetto
  go.mod
  go.sum
Due: none

Track golangci-lint version in workflow
  .github/workflows/lint.yml
  .golangci-lint-version
Due: none

:art: Update lint and fix linter flags
  .gitignore
  Makefile
  cmd/agents/simple-chat-agent/pkg/ui/debug_commands.go
  cmd/edit-credentials/main.go
  examples/form-overlay/main.go
  pkg/ui/profileswitch/diff.go
Due: lint, test

Forward backend inference failures to chat UI
  pkg/ui/backend.go
  pkg/ui/backend_test.go
Due: lint, test

:art: Add missing files
  go.mod
  go.sum
  pkg/webchat/turn_snapshot_tool_data_test.go
Due: lint, test

Add scopeddb TUI demo example
  cmd/examples/scopeddb-tui-demo/README.md
  cmd/examples/scopeddb-tui-demo/dataset.go
  cmd/examples/scopeddb-tui-demo/dataset_test.go
  cmd/examples/scopeddb-tui-demo/fake_data.go
  cmd/examples/scopeddb-tui-demo/main.go
  cmd/examples/scopeddb-tui-demo/renderers.go
  ttmp/2026/03/15/GP-032--add-scopeddb-tui-demo-example-in-pinocchio-based-on-removed-temporal-relationships-tui-patterns/README.md
  ttmp/2026/03/15/GP-032--add-scopeddb-tui-demo-example-in-pinocchio-based-on-removed-temporal-relationships-tui-patterns/changelog.md
  ttmp/2026/03/15/GP-032--add-scopeddb-tui-demo-example-in-pinocchio-based-on-removed-temporal-relationships-tui-patterns/design-doc/01-scopeddb-tui-demo-analysis-design-and-intern-implementation-guide.md
  ttmp/2026/03/15/GP-032--add-scopeddb-tui-demo-example-in-pinocchio-based-on-removed-temporal-relationships-tui-patterns/index.md
  ttmp/2026/03/15/GP-032--add-scopeddb-tui-demo-example-in-pinocchio-based-on-removed-temporal-relationships-tui-patterns/reference/01-investigation-diary.md
  ttmp/2026/03/15/GP-032--add-scopeddb-tui-demo-example-in-pinocchio-based-on-removed-temporal-relationships-tui-patterns/tasks.md
Due: lint, test

Record GP-032 implementation status
  ttmp/2026/03/15/GP-032--add-scopeddb-tui-demo-example-in-pinocchio-based-on-removed-temporal-relationships-tui-patterns/design-doc/01-scopeddb-tui-demo-analysis-design-and-intern-implementation-guide.md
  ttmp/2026/03/15/GP-032--add-scopeddb-tui-demo-example-in-pinocchio-based-on-removed-temporal-relationships-tui-patterns/index.md
  ttmp/2026/03/15/GP-032--add-scopeddb-tui-demo-example-in-pinocchio-based-on-removed-temporal-relationships-tui-patterns/reference/01-investigation-diary.md
Due: none

feat(scopedjs-demo): scaffold runtime fixtures and smoke tests
  cmd/examples/scopedjs-tui-demo/README.md
  cmd/examples/scopedjs-tui-demo/environment.go
  cmd/examples/scopedjs-tui-demo/environment_test.go
  cmd/examples/scopedjs-tui-demo/fake_data.go
  cmd/examples/scopedjs-tui-demo/main.go
  cmd/examples/scopedjs-tui-demo/renderers.go
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/README.md
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/analysis/01-scopedjs-tui-demo-recommendation-and-implementation-plan.md
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/changelog.md
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/design/01-scopedjs-tui-demo-analysis-design-and-intern-implementation-guide.md
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/index.md
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/reference/01-investigation-diary.md
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/tasks.md
Due: lint, test

feat(scopedjs-demo): wire pinocchio command shell
  cmd/examples/scopedjs-tui-demo/main.go
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/changelog.md
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/reference/01-investigation-diary.md
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/tasks.md
Due: lint, test

feat(scopedjs-demo): render eval calls and results
  cmd/examples/scopedjs-tui-demo/renderers.go
  cmd/examples/scopedjs-tui-demo/renderers_test.go
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/changelog.md
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/reference/01-investigation-diary.md
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/tasks.md
Due: lint, test

feat(scopedjs-demo): polish runtime behavior and demo guide
  cmd/examples/scopedjs-tui-demo/README.md
  cmd/examples/scopedjs-tui-demo/environment.go
  cmd/examples/scopedjs-tui-demo/environment_test.go
  cmd/examples/scopedjs-tui-demo/fake_data.go
Due: lint, test

docs(GP-033): record final validation and acceptance
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/changelog.md
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/reference/01-investigation-diary.md
  ttmp/2026/03/16/GP-033--add-scopedjs-tui-demo-example-in-pinocchio/tasks.md
Due: none

refactor(demos): extract shared tui demo shell and renderers
  cmd/examples/internal/demorender/common.go
  cmd/examples/internal/tuidemo/profile.go
  cmd/examples/internal/tuidemo/runner.go
  cmd/examples/internal/tuidemo/statusbar.go
  cmd/examples/scopeddb-tui-demo/main.go
  cmd/examples/scopeddb-tui-demo/renderers.go
  cmd/examples/scopedjs-tui-demo/environment.go
  cmd/examples/scopedjs-tui-demo/main.go
  cmd/examples/scopedjs-tui-demo/renderers.go
Due: lint, test

refactor(examples): extract shared tui demo cli shell
  cmd/examples/internal/tuidemo/cli.go
  cmd/examples/scopeddb-tui-demo/main.go
  cmd/examples/scopedjs-tui-demo/main.go
Due: lint, test

:art: :fire: Move docs to geppetto, bump
  2026/03/01/GEPA-07-TIMELINE-JS-CONSUME-CONTRACT--fix-timeline-js-consume-contract-mismatches-and-runtime-error-propagation/design-doc/01-timeline-js-consume-contract-mismatch-analysis-and-bug-fix-design.md
  go.mod
  go.sum
  ttmp/2025/12/24/001-ADD-OCR-VERB--add-ocr-verb-image-attachment-analysis/README.md
  ttmp/2025/12/24/001-ADD-OCR-VERB--add-ocr-verb-image-attachment-analysis/analysis/01-image-attachment-flow-analysis.md
  ttmp/2025/12/24/001-ADD-OCR-VERB--add-ocr-verb-image-attachment-analysis/changelog.md
  ttmp/2025/12/24/001-ADD-OCR-VERB--add-ocr-verb-image-attachment-analysis/index.md
  ttmp/2025/12/24/001-ADD-OCR-VERB--add-ocr-verb-image-attachment-analysis/reference/01-diary.md
  ttmp/2025/12/24/001-ADD-OCR-VERB--add-ocr-verb-image-attachment-analysis/tasks.md
  ttmp/2026/02/26/GEPA-03-EVENT-STREAMING--investigate-js-vm-event-streaming-to-web-frontend-and-sem/README.md
  ttmp/2026/02/26/GEPA-03-EVENT-STREAMING--investigate-js-vm-event-streaming-to-web-frontend-and-sem/changelog.md
  ttmp/2026/02/26/GEPA-03-EVENT-STREAMING--investigate-js-vm-event-streaming-to-web-frontend-and-sem/design-doc/01-gepa-event-streaming-architecture-investigation.md
  ttmp/2026/02/26/GEPA-03-EVENT-STREAMING--investigate-js-vm-event-streaming-to-web-frontend-and-sem/index.md
  ttmp/2026/02/26/GEPA-03-EVENT-STREAMING--investigate-js-vm-event-streaming-to-web-frontend-and-sem/reference/01-investigation-diary.md
  ttmp/2026/02/26/GEPA-03-EVENT-STREAMING--investigate-js-vm-event-streaming-to-web-frontend-and-sem/scripts/sem-envelope-prototype.js
  ttmp/2026/02/26/GEPA-03-EVENT-STREAMING--investigate-js-vm-event-streaming-to-web-frontend-and-sem/tasks.md
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/README.md
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/changelog.md
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/design-doc/01-javascript-registered-sem-reducers-and-event-handler-architecture.md
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/design-doc/02-cross-repo-js-sem-runtime-implementation-design.md
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/index.md
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/reference/01-investigation-diary.md
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/scripts/exp-03-out/go-go-gepa-streaming.txt
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/scripts/exp-03-out/pinocchio-cmd-web-chat.txt
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/scripts/exp-03-out/pinocchio-pkg-webchat.txt
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/scripts/exp-03-profile-registry-gpt5nano.yaml
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/scripts/exp-03-summary.txt
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/scripts/exp-03-timeline-llm-delta-reducer.js
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/scripts/exp-03-validate-option-c-gpt5nano.sh
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/scripts/exp-04-harness-output.txt
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/scripts/exp-04-run-llm-delta-projection-harness.sh
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/scripts/js-sem-reducer-handler-prototype.js
  ttmp/2026/02/26/GEPA-06-JS-SEM-REDUCERS-HANDLERS--investigate-javascript-registered-sem-reducers-and-event-handlers/tasks.md
  ttmp/2026/03/05/PI-03-TOKEN-COUNT-APIS--add-provider-native-token-counting-apis-to-geppetto-and-expose-them-via-pinocchio-tokens-count/README.md
  ttmp/2026/03/05/PI-03-TOKEN-COUNT-APIS--add-provider-native-token-counting-apis-to-geppetto-and-expose-them-via-pinocchio-tokens-count/changelog.md
  ttmp/2026/03/05/PI-03-TOKEN-COUNT-APIS--add-provider-native-token-counting-apis-to-geppetto-and-expose-them-via-pinocchio-tokens-count/design-doc/01-provider-native-token-counting-for-geppetto-and-pinocchio.md
  ttmp/2026/03/05/PI-03-TOKEN-COUNT-APIS--add-provider-native-token-counting-apis-to-geppetto-and-expose-them-via-pinocchio-tokens-count/index.md
  ttmp/2026/03/05/PI-03-TOKEN-COUNT-APIS--add-provider-native-token-counting-apis-to-geppetto-and-expose-them-via-pinocchio-tokens-count/reference/01-investigation-diary.md
  ttmp/2026/03/05/PI-03-TOKEN-COUNT-APIS--add-provider-native-token-counting-apis-to-geppetto-and-expose-them-via-pinocchio-tokens-count/tasks.md
Due: none

make webchat profile APIs read-only
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/web/src/webchat/ChatWidget.tsx
  cmd/web-chat/web/src/webchat/types.ts
  pkg/webchat/chat_service.go
  pkg/webchat/conversation_service.go
  pkg/webchat/http/api.go
  pkg/webchat/http/profile_api.go
  pkg/webchat/llm_loop_runner.go
  pkg/webchat/router.go
Due: lint, test, web-check

clean up read-only profile api lint fallout
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/profile_policy_test.go
  pkg/webchat/http/api.go
  pkg/webchat/http/profile_api.go
Due: lint, test

move tool filtering out of runtime composer
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  pkg/doc/topics/webchat-backend-reference.md
  pkg/inference/runtime/composer.go
  pkg/webchat/llm_loop_runner.go
  pkg/webchat/llm_loop_runner_test.go
  pkg/webchat/llm_state.go
Due: lint, test

clean webchat profile docs
  cmd/web-chat/README.md
  pkg/doc/topics/webchat-compatibility-surface-migration-guide.md
  pkg/doc/topics/webchat-debugging-and-ops.md
  pkg/doc/topics/webchat-frontend-integration.md
  pkg/doc/topics/webchat-http-chat-setup.md
  pkg/doc/topics/webchat-profile-registry.md
  pkg/doc/topics/webchat-runner-migration-guide.md
  pkg/doc/topics/webchat-user-guide.md
  pkg/doc/tutorials/02-webchat-getting-started.md
  pkg/doc/tutorials/03-thirdparty-webchat-playbook.md
  pkg/doc/tutorials/05-building-standalone-webchat-ui.md
Due: none

own webchat runtime keys in app resolver
  cmd/web-chat/profile_policy.go
Due: lint, test

move webchat step settings resolution above runtime composer
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/llm_delta_projection_harness_test.go
  cmd/web-chat/main.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  cmd/web-chat/timeline_js_runtime_loader_test.go
  pkg/inference/runtime/composer.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_service.go
  pkg/webchat/http/api.go
  pkg/webchat/llm_state.go
  pkg/webchat/stream_hub.go
Due: lint, test

remove effective-step-settings naming from profile switch
  cmd/switch-profiles-tui/main.go
  pkg/ui/profileswitch/backend.go
  pkg/ui/profileswitch/diff.go
  pkg/ui/profileswitch/manager.go
  pkg/ui/profileswitch/manager_test.go
  pkg/ui/profileswitch/types.go
  scripts/profile-infer-once.go
Due: lint, test

own runtime step settings outside profile resolution
  cmd/agents/simple-chat-agent/main.go
  cmd/examples/internal/tuidemo/profile.go
  cmd/web-chat/profile_policy.go
  pkg/cmds/helpers/profile_runtime.go
  pkg/ui/profileswitch/manager.go
Due: lint, test

drop legacy profile patch assumptions
  README.md
  cmd/pinocchio/cmds/profiles_migrate_legacy.go
  cmd/pinocchio/cmds/profiles_migrate_legacy_test.go
  cmd/pinocchio/main_profile_registries_test.go
  cmd/web-chat/timeline_js_runtime_loader_test.go
  pkg/ui/profileswitch/manager_test.go
  scripts/profile_registry_cutover_smoke.sh
Due: lint, test

drop dead profile flag bridge call
  pkg/cmds/helpers/parse-helpers.go
Due: lint, test

simplify extension schema registry contract
  pkg/doc/topics/webchat-profile-registry.md
  pkg/webchat/http/profile_api.go
  pkg/webchat/http/profile_api_test.go
Due: lint, test

use canonical runtime attribution map
  cmd/switch-profiles-tui/persistence.go
  pkg/persistence/chatstore/turn_store_sqlite.go
  pkg/persistence/chatstore/turn_store_sqlite_test.go
  pkg/ui/profileswitch/backend.go
  scripts/profile-infer-once.go
Due: lint, test

add pinocchio js runner command
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/main.go
  examples/js/profiles/basic.yaml
  examples/js/runner-profile-demo.js
  pkg/js/modules/pinocchio/module.go
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/README.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/changelog.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/design/01-pinocchio-js-runner-design-and-implementation-guide.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/index.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/tasks.md
Due: lint, test

document pinocchio js workflow
  README.md
  cmd/pinocchio/doc/general/05-js-runner-scripts.md
  examples/js/README.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/changelog.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/index.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/tasks.md
Due: none

align pinocchio js profile loading with cli defaults
  README.md
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/doc/general/05-js-runner-scripts.md
  cmd/pinocchio/main_profile_registries_test.go
  examples/js/README.md
  examples/js/runner-profile-demo.js
  pkg/cmds/helpers/profile_runtime.go
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/changelog.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/index.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/reference/01-manuel-investigation-diary.md
Due: lint, test
