Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*.go'
      run: make lintmax 
    test:
      glob: '*.go'
      run: make test
    web-check:
      glob: 'cmd/web-chat/web/**'
      run: cd cmd/web-chat/web && npm run check
  parallel: true

pre-push:
  parallel: true
  commands:
    release:
      run: make goreleaser
    lint:
      run: make lintmax gosec govulncheck
    test:
      run: make test

split pinocchio js smoke and live examples
  README.md
  cmd/pinocchio/doc/general/05-js-runner-scripts.md
  cmd/pinocchio/main_profile_registries_test.go
  examples/js/README.md
  examples/js/runner-profile-smoke.js
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/changelog.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/reference/01-manuel-investigation-diary.md
Due: lint, test

add pinocchio js engine inspection helper
  README.md
  cmd/pinocchio/doc/general/05-js-runner-scripts.md
  examples/js/README.md
  examples/js/runner-profile-demo.js
  examples/js/runner-profile-smoke.js
  pkg/js/modules/pinocchio/module.go
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/changelog.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/reference/01-manuel-investigation-diary.md
Due: lint, test

rename geppetto profiles imports to engineprofiles
  cmd/examples/internal/tuidemo/profile.go
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/profiles_migrate_legacy.go
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/llm_delta_projection_harness_test.go
  cmd/web-chat/main.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  cmd/web-chat/timeline_js_runtime_loader_test.go
  pkg/cmds/helpers/parse-helpers.go
  pkg/cmds/helpers/profile_runtime.go
  pkg/doc/topics/webchat-profile-registry.md
  pkg/inference/runtime/composer.go
  pkg/ui/profileswitch/manager.go
  pkg/ui/profileswitch/manager_test.go
  pkg/ui/profileswitch/picker_test.go
  pkg/ui/profileswitch/types.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_service.go
  pkg/webchat/http/api.go
  pkg/webchat/http/profile_api.go
  pkg/webchat/http/profile_api_test.go
  pkg/webchat/llm_loop_runner_test.go
Due: lint, test

rename step settings to inference settings
  cmd/agents/simple-chat-agent/main.go
  cmd/examples/internal/tuidemo/cli.go
  cmd/examples/internal/tuidemo/profile.go
  cmd/examples/simple-chat/main.go
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/profiles_migrate_legacy_test.go
  cmd/pinocchio/cmds/tokens/count.go
  cmd/switch-profiles-tui/main.go
  cmd/web-chat/main.go
  cmd/web-chat/main_profile_registries_test.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  pkg/cmds/cmd.go
  pkg/cmds/helpers/profile_runtime.go
  pkg/cmds/loader.go
  pkg/cmds/profile_base_settings.go
  pkg/cmds/run/context.go
  pkg/inference/runtime/composer.go
  pkg/inference/runtime/engine.go
  pkg/js/modules/pinocchio/module.go
  pkg/ui/profileswitch/backend.go
  pkg/ui/profileswitch/diff.go
  pkg/ui/profileswitch/manager.go
  pkg/ui/profileswitch/manager_test.go
  pkg/ui/profileswitch/types.go
  pkg/ui/runtime/builder.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_service.go
  pkg/webchat/http/api.go
  pkg/webchat/llm_state.go
  pkg/webchat/stream_hub.go
  scripts/profile-infer-once.go
Due: lint, test

rename engine profile api imports
  cmd/examples/internal/tuidemo/profile.go
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/profiles_migrate_legacy.go
  cmd/switch-profiles-tui/main.go
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/llm_delta_projection_harness_test.go
  cmd/web-chat/main.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/timeline_js_runtime_loader_test.go
  pkg/cmds/cmd.go
  pkg/cmds/helpers/parse-helpers.go
  pkg/cmds/helpers/profile_runtime.go
  pkg/ui/profileswitch/manager.go
  pkg/ui/profileswitch/manager_test.go
  pkg/ui/profileswitch/picker.go
  pkg/ui/profileswitch/picker_test.go
  pkg/ui/profileswitch/types.go
  pkg/webchat/http/profile_api.go
  pkg/webchat/http/profile_api_test.go
Due: lint, test

migrate pinocchio cli and js to engine profiles
  README.md
  cmd/agents/simple-chat-agent/main.go
  cmd/examples/internal/tuidemo/profile.go
  cmd/pinocchio/cmds/profiles_migrate_legacy.go
  cmd/pinocchio/cmds/profiles_migrate_legacy_test.go
  cmd/pinocchio/doc/general/05-js-runner-scripts.md
  cmd/pinocchio/main.go
  cmd/pinocchio/main_profile_registries_test.go
  cmd/switch-profiles-tui/main.go
  examples/js/README.md
  examples/js/profiles/basic.yaml
  examples/js/runner-profile-demo.js
  examples/js/runner-profile-smoke.js
  pkg/cmds/cmd.go
  pkg/cmds/helpers/profile_runtime.go
  pkg/cmds/helpers/profile_runtime_test.go
  pkg/cmds/profile_switch_events.go
  pkg/ui/profileswitch/backend.go
  pkg/ui/profileswitch/diff.go
  pkg/ui/profileswitch/manager.go
  pkg/ui/profileswitch/manager_test.go
  pkg/ui/profileswitch/types.go
  scripts/profile-infer-once.go
Due: lint, test

record gp-50 cli migration slice
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/README.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/changelog.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/design-doc/01-pinocchio-engine-profile-migration-analysis-and-implementation-plan.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/index.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: none

fix loaded command engine profile resolution
  pkg/cmds/cmd.go
  pkg/cmds/cmd_profile_registry_test.go
Due: lint, test

record gp-50 loaded-command slice
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/changelog.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: none

add pinocchio engine profile migration script
  README.md
  cmd/pinocchio/doc/general/05-js-runner-scripts.md
  cmd/pinocchio/main_profile_registries_test.go
  examples/js/README.md
  pkg/cmds/helpers/engine_profile_migration.go
  pkg/cmds/helpers/engine_profile_migration_test.go
  scripts/migrate_engine_profiles_yaml.go
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/changelog.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: lint, test

record gp-50 web chat follow-up plan
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/changelog.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/design-doc/02-web-chat-follow-up-plan.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/index.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: none

mark gp-50 doctor validation complete
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: none

close gp-50 cli and js migration
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/changelog.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/index.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: none

hard cut shared webchat runtime
  README.md
  cmd/pinocchio/doc/general/05-js-runner-scripts.md
  cmd/pinocchio/main_profile_registries_test.go
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/llm_delta_projection_harness_test.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/profile_runtime_test_helpers_test.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  cmd/web-chat/timeline_js_runtime_loader_test.go
  examples/js/README.md
  pkg/cmds/cmd_profile_registry_test.go
  pkg/inference/runtime/composer.go
  pkg/inference/runtime/profile_runtime.go
  pkg/ui/profileswitch/diff.go
  pkg/ui/profileswitch/manager.go
  pkg/webchat/chat_service.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_service.go
  pkg/webchat/http/api.go
  pkg/webchat/http/profile_api.go
  pkg/webchat/llm_loop_runner_test.go
  scripts/migrate-engine-profiles-yaml/main.go
  scripts/profile-infer-once/main.go
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/changelog.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/index.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: lint, test

make web-chat runtime plan local-first
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/changelog.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: lint, test

refresh webchat engine profile docs
  pkg/doc/topics/webchat-compatibility-surface-migration-guide.md
  pkg/doc/topics/webchat-engine-profile-migration-playbook.md
  pkg/doc/topics/webchat-framework-guide.md
  pkg/doc/topics/webchat-overview.md
  pkg/doc/topics/webchat-profile-registry.md
  pkg/doc/topics/webchat-user-guide.md
  pkg/doc/tutorials/03-thirdparty-webchat-playbook.md
Due: none

add webchat transport boundary follow-up ticket
  ttmp/2026/03/18/GP-51-WEBCHAT-TRANSPORT-BOUNDARY--remove-the-remaining-shared-runtime-transport-boundary/changelog.md
  ttmp/2026/03/18/GP-51-WEBCHAT-TRANSPORT-BOUNDARY--remove-the-remaining-shared-runtime-transport-boundary/design-doc/01-remove-the-remaining-shared-runtime-transport-boundary-guide.md
  ttmp/2026/03/18/GP-51-WEBCHAT-TRANSPORT-BOUNDARY--remove-the-remaining-shared-runtime-transport-boundary/index.md
  ttmp/2026/03/18/GP-51-WEBCHAT-TRANSPORT-BOUNDARY--remove-the-remaining-shared-runtime-transport-boundary/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-51-WEBCHAT-TRANSPORT-BOUNDARY--remove-the-remaining-shared-runtime-transport-boundary/tasks.md
Due: none

close gp-48 pinocchio js runner ticket
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/changelog.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/index.md
Due: none

:art: Update go mod
  go.mod
  go.sum
Due: none

remove engine profile migration helper
  README.md
  cmd/pinocchio/doc/general/05-js-runner-scripts.md
  examples/js/README.md
  pkg/cmds/helpers/engine_profile_migration.go
  pkg/cmds/helpers/engine_profile_migration_test.go
  pkg/doc/topics/webchat-engine-profile-migration-playbook.md
  scripts/migrate-engine-profiles-yaml/main.go
  scripts/profile_registry_cutover_smoke.sh
Due: lint, test

:fire: Remove hanging tests
  cmd/pinocchio/main_profile_registries_test.go
Due: lint, test

:art: Fix github to stop sec-ing ttmp
  .github/workflows/dependency-scanning.yml
Due: none

Fix PR 124 review followups
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/js_test.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/profile_runtime_test_helpers_test.go
  pkg/js/modules/pinocchio/module.go
  pkg/js/modules/pinocchio/module_test.go
Due: lint, test

add pinocchio js runner command
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/main.go
  examples/js/profiles/basic.yaml
  examples/js/runner-profile-demo.js
  pkg/js/modules/pinocchio/module.go
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/README.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/changelog.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/design/01-pinocchio-js-runner-design-and-implementation-guide.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/index.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/tasks.md
Due: lint, test

own runtime step settings outside profile resolution
  cmd/agents/simple-chat-agent/main.go
  cmd/examples/internal/tuidemo/profile.go
  cmd/web-chat/profile_policy.go
  pkg/cmds/helpers/profile_runtime.go
  pkg/ui/profileswitch/manager.go
Due: lint, test

make webchat profile APIs read-only
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/web/src/webchat/ChatWidget.tsx
  cmd/web-chat/web/src/webchat/types.ts
  pkg/webchat/chat_service.go
  pkg/webchat/conversation_service.go
  pkg/webchat/http/api.go
  pkg/webchat/http/profile_api.go
  pkg/webchat/llm_loop_runner.go
  pkg/webchat/router.go
Due: lint, test, web-check

align pinocchio js profile loading with cli defaults
  README.md
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/doc/general/05-js-runner-scripts.md
  cmd/pinocchio/main_profile_registries_test.go
  examples/js/README.md
  examples/js/runner-profile-demo.js
  pkg/cmds/helpers/profile_runtime.go
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/changelog.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/index.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/reference/01-manuel-investigation-diary.md
Due: lint, test

use canonical runtime attribution map
  cmd/switch-profiles-tui/persistence.go
  pkg/persistence/chatstore/turn_store_sqlite.go
  pkg/persistence/chatstore/turn_store_sqlite_test.go
  pkg/ui/profileswitch/backend.go
  scripts/profile-infer-once.go
Due: lint, test

remove effective-step-settings naming from profile switch
  cmd/switch-profiles-tui/main.go
  pkg/ui/profileswitch/backend.go
  pkg/ui/profileswitch/diff.go
  pkg/ui/profileswitch/manager.go
  pkg/ui/profileswitch/manager_test.go
  pkg/ui/profileswitch/types.go
  scripts/profile-infer-once.go
Due: lint, test

move webchat step settings resolution above runtime composer
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/llm_delta_projection_harness_test.go
  cmd/web-chat/main.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  cmd/web-chat/timeline_js_runtime_loader_test.go
  pkg/inference/runtime/composer.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_service.go
  pkg/webchat/http/api.go
  pkg/webchat/llm_state.go
  pkg/webchat/stream_hub.go
Due: lint, test

clean webchat profile docs
  cmd/web-chat/README.md
  pkg/doc/topics/webchat-compatibility-surface-migration-guide.md
  pkg/doc/topics/webchat-debugging-and-ops.md
  pkg/doc/topics/webchat-frontend-integration.md
  pkg/doc/topics/webchat-http-chat-setup.md
  pkg/doc/topics/webchat-profile-registry.md
  pkg/doc/topics/webchat-runner-migration-guide.md
  pkg/doc/topics/webchat-user-guide.md
  pkg/doc/tutorials/02-webchat-getting-started.md
  pkg/doc/tutorials/03-thirdparty-webchat-playbook.md
  pkg/doc/tutorials/05-building-standalone-webchat-ui.md
Due: none

own webchat runtime keys in app resolver
  cmd/web-chat/profile_policy.go
Due: lint, test

move tool filtering out of runtime composer
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  pkg/doc/topics/webchat-backend-reference.md
  pkg/inference/runtime/composer.go
  pkg/webchat/llm_loop_runner.go
  pkg/webchat/llm_loop_runner_test.go
  pkg/webchat/llm_state.go
Due: lint, test

drop legacy profile patch assumptions
  README.md
  cmd/pinocchio/cmds/profiles_migrate_legacy.go
  cmd/pinocchio/cmds/profiles_migrate_legacy_test.go
  cmd/pinocchio/main_profile_registries_test.go
  cmd/web-chat/timeline_js_runtime_loader_test.go
  pkg/ui/profileswitch/manager_test.go
  scripts/profile_registry_cutover_smoke.sh
Due: lint, test

document pinocchio js workflow
  README.md
  cmd/pinocchio/doc/general/05-js-runner-scripts.md
  examples/js/README.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/changelog.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/index.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/tasks.md
Due: none

clean up read-only profile api lint fallout
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/profile_policy_test.go
  pkg/webchat/http/api.go
  pkg/webchat/http/profile_api.go
Due: lint, test
