Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*.go'
      run: make lintmax 
    test:
      glob: '*.go'
      run: make test
    web-check:
      glob: 'cmd/web-chat/web/**'
      run: cd cmd/web-chat/web && npm run check
  parallel: true

pre-push:
  parallel: true
  commands:
    release:
      run: make goreleaser
    lint:
      run: make lintmax gosec govulncheck
    test:
      run: make test

feat(evtstream): implement phases 3-5 transport persistence and chat labs
  cmd/evtstream-systemlab/lab_environment.go
  cmd/evtstream-systemlab/lab_environment_test.go
  cmd/evtstream-systemlab/phase3_lab.go
  cmd/evtstream-systemlab/phase4_lab.go
  cmd/evtstream-systemlab/phase5_lab.go
  cmd/evtstream-systemlab/server.go
  cmd/evtstream-systemlab/snapshot_provider.go
  cmd/evtstream-systemlab/static/js/api.js
  cmd/evtstream-systemlab/static/js/pages/phase3.js
  cmd/evtstream-systemlab/static/js/pages/phase4.js
  cmd/evtstream-systemlab/static/js/pages/phase5.js
  cmd/evtstream-systemlab/static/partials/phase3.html
  cmd/evtstream-systemlab/static/partials/phase4.html
  cmd/evtstream-systemlab/static/partials/phase5.html
  pkg/evtstream/examples/chat/chat.go
  pkg/evtstream/examples/chat/chat_test.go
  pkg/evtstream/hydration/sqlite/store.go
  pkg/evtstream/hydration/sqlite/store_test.go
  pkg/evtstream/transport/ws/server.go
  pkg/evtstream/transport/ws/server_test.go
Due: lint, test

feat(evtstream): add app-grade chat package
  cmd/evtstream-systemlab/phase4_lab.go
  pkg/evtstream/apps/chat/chat.go
  pkg/evtstream/apps/chat/chat_test.go
  pkg/evtstream/apps/chat/service.go
  pkg/evtstream/apps/chat/service_test.go
  pkg/evtstream/examples/chat/chat.go
Due: lint, test

feat(web-chat): add canonical evtstream handlers
  cmd/web-chat/app/contracts.go
  cmd/web-chat/app/server.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/main.go
Due: lint, test

feat(web-chat): switch frontend to canonical chat routes
  cmd/web-chat/web/src/webchat/ChatWidget.tsx
  cmd/web-chat/web/src/ws/wsManager.ts
  cmd/web-chat/web/vite.config.ts
  pkg/evtstream/apps/chat/chat.go
Due: lint, test, web-check

feat(web-chat): add sqlite-backed canonical app path
  cmd/web-chat/app/server.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/main.go
Due: lint, test

refactor(web-chat): cut over live runtime to canonical app
  cmd/web-chat/README.md
  cmd/web-chat/main.go
  cmd/web-chat/main_runtime_test.go
Due: lint, test

test(web-chat): add legacy vs canonical migration capture
  cmd/web-chat/migration_comparison_test.go
Due: lint, test

feat(web-chat): wire canonical runtime inference and user messages
  cmd/web-chat/app/contracts.go
  cmd/web-chat/app/runtime.go
  cmd/web-chat/app/server.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/canonical_runtime_resolver.go
  cmd/web-chat/main.go
  cmd/web-chat/migration_comparison_test.go
  cmd/web-chat/web/src/ws/wsManager.ts
  pkg/evtstream/apps/chat/chat.go
  pkg/evtstream/apps/chat/chat_test.go
  pkg/evtstream/apps/chat/service.go
  pkg/evtstream/apps/chat/service_test.go
Due: lint, test, web-check

feat(systemlab): add phase 6 migration console
  cmd/evtstream-systemlab/chapters/phase-6-webchat-migration.md
  cmd/evtstream-systemlab/lab_environment.go
  cmd/evtstream-systemlab/lab_environment_test.go
  cmd/evtstream-systemlab/phase6_lab.go
  cmd/evtstream-systemlab/server.go
  cmd/evtstream-systemlab/static/index.html
  cmd/evtstream-systemlab/static/js/api.js
  cmd/evtstream-systemlab/static/js/main.js
  cmd/evtstream-systemlab/static/js/pages/phase6.js
  cmd/evtstream-systemlab/static/partials/phase6.html
Due: lint, test

refactor(web-chat): delete dead legacy code and fix migration test
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/llm_delta_projection_harness_test.go
  cmd/web-chat/main.go
  cmd/web-chat/migration_comparison_test.go
  cmd/web-chat/timeline_js_runtime_loader.go
  cmd/web-chat/timeline_js_runtime_loader_test.go
Due: lint, test

refactor(web-chat): move profile policy to cmd/web-chat/profiles
  cmd/web-chat/canonical_runtime_resolver.go
  cmd/web-chat/main.go
  cmd/web-chat/main_runtime_test.go
  cmd/web-chat/migration_comparison_test.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/profiles/api.go
  cmd/web-chat/profiles/resolver.go
  cmd/web-chat/profiles/types.go
Due: lint, test

refactor(web-chat): compose sink wrapping in runtime
  cmd/web-chat/agentmode_sink.go
  cmd/web-chat/agentmode_sink_wrapper_test.go
  cmd/web-chat/app/runtime.go
  cmd/web-chat/app/server.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/canonical_runtime_resolver.go
  cmd/web-chat/migration_comparison_test.go
  cmd/web-chat/runtime_composer.go
  pkg/evtstream/apps/chat/chat.go
  pkg/evtstream/apps/chat/service.go
  pkg/inference/runtime/composer.go
  pkg/webchat/router.go
Due: lint, test

feat(web-chat): add agentmode preview and commit events
  cmd/web-chat/web/src/store/timelineSlice.ts
  cmd/web-chat/web/src/webchat/cards.tsx
  cmd/web-chat/web/src/webchat/rendererRegistry.ts
  cmd/web-chat/web/src/ws/wsManager.ts
  pkg/evtstream/apps/chat/chat.go
  pkg/evtstream/apps/chat/chat_test.go
  pkg/middlewares/agentmode/preview_event.go
  pkg/middlewares/agentmode/structured_extractor.go
  pkg/middlewares/agentmode/structured_extractor_test.go
Due: lint, test, web-check

test(web-chat): cover agentmode preview ui mapping
  cmd/web-chat/web/src/ws/wsManager.test.ts
  cmd/web-chat/web/src/ws/wsManager.ts
Due: web-check

test(agentmode): cover incomplete preview yaml
  pkg/middlewares/agentmode/structured_extractor_test.go
Due: lint, test

refactor(webchat): remove legacy composed runtime sink
  pkg/inference/runtime/composer.go
  pkg/webchat/chat_service_test.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_service_test.go
  pkg/webchat/llm_loop_runner_test.go
  pkg/webchat/router.go
  pkg/webchat/router_deps_test.go
  pkg/webchat/stream_hub_test.go
  pkg/webchat/types.go
Due: lint, test

refactor(web-chat): drop legacy profile policy shim
  cmd/web-chat/migration_comparison_test.go
  cmd/web-chat/profile_policy.go
Due: lint, test

refactor(web-chat): drop thinking mode and legacy harness
  cmd/web-chat/migration_comparison_test.go
  cmd/web-chat/thinkingmode/backend.go
  cmd/web-chat/thinkingmode/backend_test.go
  cmd/web-chat/thinkingmode/events.go
  cmd/web-chat/thinkingmode/isolation_test.go
  cmd/web-chat/thinkingmode/pb/disco_dialogue.pb.go
  cmd/web-chat/thinkingmode/pb/inner_thoughts.pb.go
  cmd/web-chat/thinkingmode/pb/middleware.pb.go
  cmd/web-chat/thinkingmode/pb/mode_evaluation.pb.go
  cmd/web-chat/thinkingmode/pb/next_thinking_mode.pb.go
  cmd/web-chat/thinkingmode/pb/thinking_mode.pb.go
  cmd/web-chat/web/src/debug-ui/api/debugApi.ts
  cmd/web-chat/web/src/debug-ui/ui/presentation/presentation.test.ts
  cmd/web-chat/web/src/debug-ui/ui/presentation/timeline.ts
  cmd/web-chat/web/src/features/thinkingMode/pb/sem/middleware/disco_dialogue_pb.ts
  cmd/web-chat/web/src/features/thinkingMode/pb/sem/middleware/inner_thoughts_pb.ts
  cmd/web-chat/web/src/features/thinkingMode/pb/sem/middleware/mode_evaluation_pb.ts
  cmd/web-chat/web/src/features/thinkingMode/pb/sem/middleware/next_thinking_mode_pb.ts
  cmd/web-chat/web/src/features/thinkingMode/pb/sem/middleware/thinking_mode_pb.ts
  cmd/web-chat/web/src/features/thinkingMode/pb/sem/timeline/middleware_pb.ts
  cmd/web-chat/web/src/features/thinkingMode/registerThinkingMode.test.tsx
  cmd/web-chat/web/src/features/thinkingMode/registerThinkingMode.tsx
  cmd/web-chat/web/src/webchat/ChatWidget.stories.tsx
Due: lint, test, web-check

docs(web-chat): remove stale thinking mode references
  Makefile
  pkg/doc/topics/webchat-adding-event-types.md
  pkg/doc/topics/webchat-backend-internals.md
  pkg/doc/topics/webchat-sem-and-ui.md
  pkg/doc/topics/webchat-symbol-migration-playbook.md
  pkg/doc/tutorials/04-intern-app-owned-middleware-events-timeline-widgets.md
  pkg/doc/tutorials/05-building-standalone-webchat-ui.md
Due: none

:art: Add better chapters
  cmd/evtstream-systemlab/chapters/phase-0-foundations.md
  cmd/evtstream-systemlab/chapters/phase-1-command-to-projection.md
  cmd/evtstream-systemlab/chapters/phase-2-ordering-and-ordinals.md
  cmd/evtstream-systemlab/chapters/phase-3-hydration-and-reconnect.md
  cmd/evtstream-systemlab/chapters/phase-4-chat-example.md
  cmd/evtstream-systemlab/chapters/phase-5-persistence-and-restart.md
  cmd/evtstream-systemlab/static/app.css
  cmd/evtstream-systemlab/static/js/pages/overview.js
  cmd/evtstream-systemlab/static/js/pages/phase1.js
  cmd/evtstream-systemlab/static/partials/overview.html
  cmd/evtstream-systemlab/static/partials/phase1.html
  cmd/evtstream-systemlab/static/partials/phase2.html
  cmd/web-chat/web/pnpm-lock.yaml
Due: web-check

refactor(web-chat): move downstream chat app off pkg/evtstream
  cmd/web-chat/app/server.go
  go.mod
  go.sum
  pkg/chatapp/chat.go
  pkg/chatapp/chat_test.go
  pkg/chatapp/service.go
  pkg/chatapp/service_test.go
Due: lint, test

refactor(web-chat): move agentmode chat feature into cmd/web-chat
  cmd/web-chat/agentmode_chat_feature.go
  cmd/web-chat/agentmode_chat_feature_test.go
  cmd/web-chat/app/server.go
  cmd/web-chat/main.go
  pkg/chatapp/chat.go
  pkg/chatapp/chat_test.go
  pkg/chatapp/features.go
Due: lint, test

refactor(systemlab): consume external sessionstream module
  cmd/evtstream-systemlab/lab_environment.go
  cmd/evtstream-systemlab/phase2_lab.go
  cmd/evtstream-systemlab/phase3_lab.go
  cmd/evtstream-systemlab/phase4_lab.go
  cmd/evtstream-systemlab/phase5_lab.go
  cmd/evtstream-systemlab/snapshot_provider.go
Due: lint, test

refactor(evtstream): drop in-tree chat app donor
  pkg/doc/topics/webchat-backend-internals.md
  pkg/doc/topics/webchat-sem-and-ui.md
  pkg/doc/tutorials/04-intern-app-owned-middleware-events-timeline-widgets.md
  pkg/doc/tutorials/05-building-standalone-webchat-ui.md
  pkg/evtstream/apps/chat/chat.go
  pkg/evtstream/apps/chat/chat_test.go
  pkg/evtstream/apps/chat/service.go
  pkg/evtstream/apps/chat/service_test.go
  pkg/evtstream/examples/chat/chat.go
  pkg/evtstream/examples/chat/chat_test.go
Due: lint, test

docs(webchat): add buildable minimal server example
  pkg/doc/examples/minimal-webchat-server/main.go
  pkg/doc/topics/webchat-framework-guide.md
Due: lint, test

docs(webchat): clarify startup path and imports
  pkg/doc/topics/webchat-framework-guide.md
Due: none

docs(webchat): clarify profile and frontend contracts
  pkg/doc/topics/webchat-frontend-integration.md
  pkg/doc/topics/webchat-profile-registry.md
Due: none

refactor(web-chat): import sessionstream from pkg/sessionstream
  cmd/web-chat/agentmode_chat_feature.go
  cmd/web-chat/agentmode_chat_feature_test.go
  cmd/web-chat/app/server.go
  pkg/chatapp/chat.go
  pkg/chatapp/chat_test.go
  pkg/chatapp/features.go
  pkg/chatapp/service.go
  pkg/chatapp/service_test.go
Due: lint, test

feat(web-chat): add reasoning chat feature
  cmd/web-chat/main.go
  cmd/web-chat/reasoning_chat_feature.go
  cmd/web-chat/reasoning_chat_feature_test.go
Due: lint, test

feat(web-chat): map reasoning ui events
  cmd/web-chat/web/src/ws/wsManager.test.ts
  cmd/web-chat/web/src/ws/wsManager.ts
Due: web-check

fix(web-chat): delay empty message placeholders
  cmd/web-chat/web/src/ws/wsManager.test.ts
  cmd/web-chat/web/src/ws/wsManager.ts
  pkg/chatapp/chat.go
  pkg/chatapp/chat_test.go
Due: lint, test, web-check

fix(web-chat): auto-follow streaming responses
  cmd/web-chat/web/src/webchat/ChatWidget.tsx
Due: web-check

fix(web-chat): follow text updates while streaming
  cmd/web-chat/web/src/webchat/ChatWidget.tsx
Due: web-check

feat(web-chat): pause auto-follow on manual scroll
  cmd/web-chat/web/src/webchat/ChatWidget.tsx
  cmd/web-chat/web/src/webchat/styles/webchat.css
Due: web-check

Document reasoning summary stitching investigation
  ttmp/2026/04/22/01-thinking-summary-format-debug/diary.md
  ttmp/2026/04/22/01-thinking-summary-format-debug/reference/01-bug-report-reasoning-summary-stitching.md
  ttmp/2026/04/22/01-thinking-summary-format-debug/tasks.md
Due: none

refactor(web-chat): extract sticky scroll follow hook
  cmd/web-chat/web/src/webchat/ChatWidget.tsx
  cmd/web-chat/web/src/webchat/hooks/useStickyScrollFollow.ts
Due: web-check

refactor(web-chat): quiet biome warnings in scroll hook
  cmd/web-chat/web/src/webchat/hooks/useStickyScrollFollow.ts
Due: web-check

:tractor: Move old ticket around
  ttmp/2026/03/01/GEPA-07-TIMELINE-JS-CONSUME-CONTRACT--fix-timeline-js-consume-contract-mismatches-and-runtime-error-propagation/README.md
  ttmp/2026/03/01/GEPA-07-TIMELINE-JS-CONSUME-CONTRACT--fix-timeline-js-consume-contract-mismatches-and-runtime-error-propagation/changelog.md
  ttmp/2026/03/01/GEPA-07-TIMELINE-JS-CONSUME-CONTRACT--fix-timeline-js-consume-contract-mismatches-and-runtime-error-propagation/design-doc/01-timeline-js-consume-contract-mismatch-analysis-and-bug-fix-design.md
  ttmp/2026/03/01/GEPA-07-TIMELINE-JS-CONSUME-CONTRACT--fix-timeline-js-consume-contract-mismatches-and-runtime-error-propagation/index.md
  ttmp/2026/03/01/GEPA-07-TIMELINE-JS-CONSUME-CONTRACT--fix-timeline-js-consume-contract-mismatches-and-runtime-error-propagation/reference/01-investigation-diary.md
  ttmp/2026/03/01/GEPA-07-TIMELINE-JS-CONSUME-CONTRACT--fix-timeline-js-consume-contract-mismatches-and-runtime-error-propagation/tasks.md
Due: none
