Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lint:
  run: make lintmax

test:
  run: make test

web-check:
  run: cd cmd/web-chat/web && npm run check

refactor(cli): replace remaining raw cobra flags
  cmd/examples/internal/tuidemo/cli.go
  cmd/switch-profiles-tui/main.go
Due: lint, test

:arrow_up: Bump dependencies
  go.mod
  go.sum
Due: none

refactor(cmds): use shared inference debug helper
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/js_test.go
  pkg/cmds/cmd.go
  pkg/cmds/cmd_profile_registry_test.go
  pkg/cmds/cmdlayers/helpers.go
  pkg/cmds/profilebootstrap/inference_settings_trace.go
  pkg/cmds/profilebootstrap/profile_selection.go
Due: lint, test

docs(tutorials): split generic bootstrap migration from pinocchio companion
  pkg/doc/tutorials/07-migrating-cli-verbs-to-glazed-profile-bootstrap.md
Due: none

docs(tutorials): use portable references in pinocchio companion
  pkg/doc/tutorials/07-migrating-cli-verbs-to-glazed-profile-bootstrap.md
Due: none

docs(ttmp): move runner-first ticket from openai-app-server
  ttmp/2026/03/08/APP-12-WEBCHAT-RUNNER-FIRST-REBASE--restore-web-agent-example-and-dependent-apps-against-current-runner-first-webchat-architecture/README.md
  ttmp/2026/03/08/APP-12-WEBCHAT-RUNNER-FIRST-REBASE--restore-web-agent-example-and-dependent-apps-against-current-runner-first-webchat-architecture/changelog.md
  ttmp/2026/03/08/APP-12-WEBCHAT-RUNNER-FIRST-REBASE--restore-web-agent-example-and-dependent-apps-against-current-runner-first-webchat-architecture/design-doc/01-runner-first-webchat-rebase-analysis-and-implementation-guide.md
  ttmp/2026/03/08/APP-12-WEBCHAT-RUNNER-FIRST-REBASE--restore-web-agent-example-and-dependent-apps-against-current-runner-first-webchat-architecture/index.md
  ttmp/2026/03/08/APP-12-WEBCHAT-RUNNER-FIRST-REBASE--restore-web-agent-example-and-dependent-apps-against-current-runner-first-webchat-architecture/reference/01-investigation-diary.md
  ttmp/2026/03/08/APP-12-WEBCHAT-RUNNER-FIRST-REBASE--restore-web-agent-example-and-dependent-apps-against-current-runner-first-webchat-architecture/scripts/validate-workspace-builds.sh
  ttmp/2026/03/08/APP-12-WEBCHAT-RUNNER-FIRST-REBASE--restore-web-agent-example-and-dependent-apps-against-current-runner-first-webchat-architecture/tasks.md
Due: none

pinocchio: preserve ai-client base settings in web-chat
  cmd/web-chat/main.go
  cmd/web-chat/main_profile_registries_test.go
  pkg/cmds/profile_base_settings.go
  pkg/cmds/profilebootstrap/parsed_base_settings.go
  pkg/cmds/profilebootstrap/parsed_base_settings_test.go
  pkg/doc/topics/pinocchio-profile-resolution-and-runtime-switching.md
  pkg/doc/topics/webchat-profile-registry.md
  pkg/doc/tutorials/07-migrating-cli-verbs-to-glazed-profile-bootstrap.md
Due: lint, test

pinocchio: cover web-chat proxy client flags
  cmd/web-chat/main_profile_registries_test.go
Due: lint, test

:ambulance: Fix unit tests
  cmd/pinocchio/cmds/tokens/count_test.go
Due: lint, test

Remove excessive per-token streaming debug logging from UI backend
  pkg/ui/backend.go
Due: lint, test

:arrow_up: Bump glazed
  go.mod
  go.sum
Due: none

fix(webchat): stabilize timeline projection tests
  cmd/web-chat/app_owned_chat_integration_test.go
  pkg/webchat/conversation.go
  pkg/webchat/llm_loop_runner.go
  pkg/webchat/llm_loop_runner_test.go
  pkg/webchat/router.go
  pkg/webchat/server.go
Due: lint, test

:umbrella: Fix the failing test
  pkg/cmds/cmd_profile_registry_test.go
Due: lint, test

test(cmds): mark debug api key as config-sourced
  pkg/cmds/cmd_profile_registry_test.go
Due: lint, test

:arrow_up: Bump glazed + dependencies
  go.mod
  go.sum
Due: none

Add shared runtime overlay plan helpers
  pkg/inference/runtime/runtime_plan.go
  pkg/inference/runtime/runtime_plan_test.go
Due: lint, test

Refactor agentmode mode-switch parsing
  go.mod
  pkg/middlewares/agentmode/middleware.go
  pkg/middlewares/agentmode/middleware_test.go
  pkg/middlewares/agentmode/parser.go
  pkg/middlewares/agentmode/protocol.go
Due: lint, test

Document web-chat agentmode default-on rollout
  ttmp/2026/03/30/PI-04-AGENTMODE-DEFAULT-WEBCHAT--make-web-chat-agentmode-default-on-via-runtime-overlay-and-add-renderer/README.md
  ttmp/2026/03/30/PI-04-AGENTMODE-DEFAULT-WEBCHAT--make-web-chat-agentmode-default-on-via-runtime-overlay-and-add-renderer/changelog.md
  ttmp/2026/03/30/PI-04-AGENTMODE-DEFAULT-WEBCHAT--make-web-chat-agentmode-default-on-via-runtime-overlay-and-add-renderer/design-doc/01-intern-guide-to-making-web-chat-agentmode-default-on-with-profile-opt-out-and-renderer-support.md
  ttmp/2026/03/30/PI-04-AGENTMODE-DEFAULT-WEBCHAT--make-web-chat-agentmode-default-on-via-runtime-overlay-and-add-renderer/index.md
  ttmp/2026/03/30/PI-04-AGENTMODE-DEFAULT-WEBCHAT--make-web-chat-agentmode-default-on-via-runtime-overlay-and-add-renderer/reference/01-investigation-notes-for-default-on-web-chat-agentmode-and-renderer-enablement.md
  ttmp/2026/03/30/PI-04-AGENTMODE-DEFAULT-WEBCHAT--make-web-chat-agentmode-default-on-via-runtime-overlay-and-add-renderer/reference/02-diary.md
  ttmp/2026/03/30/PI-04-AGENTMODE-DEFAULT-WEBCHAT--make-web-chat-agentmode-default-on-via-runtime-overlay-and-add-renderer/tasks.md
Due: none

Add web-chat agent mode renderer
  cmd/web-chat/web/src/sem/registry.test.ts
  cmd/web-chat/web/src/webchat/ChatWidget.stories.tsx
  cmd/web-chat/web/src/webchat/cards.tsx
  cmd/web-chat/web/src/webchat/rendererRegistry.test.ts
  cmd/web-chat/web/src/webchat/rendererRegistry.ts
Due: web-check

Make web-chat agentmode default-on
  cmd/web-chat/main.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
Due: lint, test

Use shared runtime overlay plan in web chat
  cmd/web-chat/profile_policy.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
Due: lint, test

Add agentmode structured sink to web chat
  cmd/web-chat/agentmode_sink_wrapper.go
  cmd/web-chat/agentmode_sink_wrapper_test.go
  cmd/web-chat/main.go
  cmd/web-chat/middleware_definitions.go
  pkg/middlewares/agentmode/structured_extractor.go
  pkg/webchat/sem_translator.go
Due: lint, test

Document agentmode structured sink work
  ttmp/2026/03/29/PI-03-AGENTMODE-STRUCTUREDSINK--switch-agentmode-to-xml-plus-nested-yaml-and-add-structuredsink-extraction/README.md
  ttmp/2026/03/29/PI-03-AGENTMODE-STRUCTUREDSINK--switch-agentmode-to-xml-plus-nested-yaml-and-add-structuredsink-extraction/changelog.md
  ttmp/2026/03/29/PI-03-AGENTMODE-STRUCTUREDSINK--switch-agentmode-to-xml-plus-nested-yaml-and-add-structuredsink-extraction/design-doc/01-intern-guide-to-switching-agentmode-to-xml-plus-nested-yaml-and-structuredsink-extraction.md
  ttmp/2026/03/29/PI-03-AGENTMODE-STRUCTUREDSINK--switch-agentmode-to-xml-plus-nested-yaml-and-add-structuredsink-extraction/index.md
  ttmp/2026/03/29/PI-03-AGENTMODE-STRUCTUREDSINK--switch-agentmode-to-xml-plus-nested-yaml-and-add-structuredsink-extraction/reference/01-investigation-diary.md
  ttmp/2026/03/29/PI-03-AGENTMODE-STRUCTUREDSINK--switch-agentmode-to-xml-plus-nested-yaml-and-add-structuredsink-extraction/tasks.md
Due: none

Fix web chat markdown rendering and reasoning SEM drops
  cmd/web-chat/web/package-lock.json
  cmd/web-chat/web/package.json
  cmd/web-chat/web/src/webchat/Markdown.tsx
  cmd/web-chat/web/src/webchat/styles/webchat.css
  pkg/webchat/sem_translator.go
  pkg/webchat/sem_translator_test.go
Due: lint, test, web-check

Render agent mode analysis bullets as markdown
  cmd/web-chat/web/src/webchat/agentModeMarkdown.test.ts
  cmd/web-chat/web/src/webchat/agentModeMarkdown.ts
  cmd/web-chat/web/src/webchat/cards.tsx
Due: web-check

Document per-reasoning-item thinking entity design
  ttmp/2026/03/30/PI-06-REASONING-ITEM-THINKING-BLOCKS--preserve-responses-reasoning-items-as-distinct-thinking-entities/changelog.md
  ttmp/2026/03/30/PI-06-REASONING-ITEM-THINKING-BLOCKS--preserve-responses-reasoning-items-as-distinct-thinking-entities/design-doc/01-intern-guide-to-preserving-responses-reasoning-items-as-distinct-thinking-entities.md
  ttmp/2026/03/30/PI-06-REASONING-ITEM-THINKING-BLOCKS--preserve-responses-reasoning-items-as-distinct-thinking-entities/index.md
  ttmp/2026/03/30/PI-06-REASONING-ITEM-THINKING-BLOCKS--preserve-responses-reasoning-items-as-distinct-thinking-entities/reference/01-documentation-and-source-inventory.md
  ttmp/2026/03/30/PI-06-REASONING-ITEM-THINKING-BLOCKS--preserve-responses-reasoning-items-as-distinct-thinking-entities/tasks.md
Due: none

Set a real default agent mode for web chat
  cmd/web-chat/middleware_definitions.go
  cmd/web-chat/middleware_definitions_test.go
Due: lint, test

Document runtime overlay consolidation rollout
  ttmp/2026/03/30/PI-05-RUNTIME-OVERLAY-CONSOLIDATION--consolidate-app-owned-runtime-overlay-resolution-into-a-typed-shared-plan/README.md
  ttmp/2026/03/30/PI-05-RUNTIME-OVERLAY-CONSOLIDATION--consolidate-app-owned-runtime-overlay-resolution-into-a-typed-shared-plan/changelog.md
  ttmp/2026/03/30/PI-05-RUNTIME-OVERLAY-CONSOLIDATION--consolidate-app-owned-runtime-overlay-resolution-into-a-typed-shared-plan/index.md
  ttmp/2026/03/30/PI-05-RUNTIME-OVERLAY-CONSOLIDATION--consolidate-app-owned-runtime-overlay-resolution-into-a-typed-shared-plan/reference/01-diary.md
  ttmp/2026/03/30/PI-05-RUNTIME-OVERLAY-CONSOLIDATION--consolidate-app-owned-runtime-overlay-resolution-into-a-typed-shared-plan/tasks.md
Due: none

:art: Update toolchain version
  go.mod
  go.sum
Due: none

Address PR 132 review feedback
  cmd/web-chat/middleware_definitions.go
  cmd/web-chat/middleware_definitions_test.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
Due: lint, test

Add tool names to SEM tool result protos
  cmd/web-chat/web/src/sem/pb/proto/sem/base/tool_pb.ts
  cmd/web-chat/web/src/sem/pb/proto/sem/timeline/tool_pb.ts
  pkg/sem/pb/proto/sem/base/tool.pb.go
  pkg/sem/pb/proto/sem/timeline/tool.pb.go
  pkg/webchat/sem_translator.go
  pkg/webchat/sem_translator_test.go
  pkg/webchat/timeline_projector.go
  proto/sem/base/tool.proto
  proto/sem/timeline/tool.proto
  web/src/sem/pb/proto/sem/base/tool_pb.ts
  web/src/sem/pb/proto/sem/timeline/tool_pb.ts
Due: lint, test, web-check

Path conditions:
  lint: any of: *.go
  test: any of: *.go
  web-check: any of: cmd/web-chat/web/**
