Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lint:
  run: make lintmax

test:
  run: make test

web-check:
  run: cd cmd/web-chat/web && npm run check

simplify extension schema registry contract
  pkg/doc/topics/webchat-profile-registry.md
  pkg/webchat/http/profile_api.go
  pkg/webchat/http/profile_api_test.go
Due: lint, test

drop dead profile flag bridge call
  pkg/cmds/helpers/parse-helpers.go
Due: lint, test

add webchat transport boundary follow-up ticket
  ttmp/2026/03/18/GP-51-WEBCHAT-TRANSPORT-BOUNDARY--remove-the-remaining-shared-runtime-transport-boundary/changelog.md
  ttmp/2026/03/18/GP-51-WEBCHAT-TRANSPORT-BOUNDARY--remove-the-remaining-shared-runtime-transport-boundary/design-doc/01-remove-the-remaining-shared-runtime-transport-boundary-guide.md
  ttmp/2026/03/18/GP-51-WEBCHAT-TRANSPORT-BOUNDARY--remove-the-remaining-shared-runtime-transport-boundary/index.md
  ttmp/2026/03/18/GP-51-WEBCHAT-TRANSPORT-BOUNDARY--remove-the-remaining-shared-runtime-transport-boundary/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-51-WEBCHAT-TRANSPORT-BOUNDARY--remove-the-remaining-shared-runtime-transport-boundary/tasks.md
Due: none

fix(profiles): preserve parsed config over loader baselines
  pkg/cmds/cmd.go
  pkg/cmds/cmd_profile_registry_test.go
  pkg/cmds/profile_base_settings.go
Due: lint, test

record gp-50 loaded-command slice
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/changelog.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: none

refactor(profiles): cut over thin bootstrap commands
  cmd/examples/internal/tuidemo/cli.go
  cmd/examples/internal/tuidemo/profile.go
  cmd/examples/simple-chat/main.go
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/js_test.go
  cmd/web-chat/main.go
  cmd/web-chat/main_profile_registries_test.go
  cmd/web-chat/profile_policy.go
  pkg/cmds/helpers/parse-helpers.go
  pkg/cmds/helpers/profile_runtime.go
  pkg/cmds/helpers/profile_runtime_test.go
  pkg/cmds/profilebootstrap/engine_settings.go
  pkg/cmds/profilebootstrap/profile_selection.go
Due: lint, test

refactor(profiles): reuse shared profile settings section
  cmd/agents/simple-chat-agent/main.go
  cmd/examples/internal/tuidemo/cli.go
  cmd/examples/internal/tuidemo/profile.go
  cmd/examples/simple-chat/main.go
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/main.go
  cmd/switch-profiles-tui/main.go
  cmd/web-chat/main.go
  cmd/web-chat/main_profile_registries_test.go
  pkg/cmds/cmd.go
  pkg/cmds/cmd_profile_registry_test.go
  pkg/cmds/helpers/profile_runtime.go
  pkg/cmds/helpers/profile_runtime_test.go
Due: lint, test

record gp-50 cli migration slice
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/README.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/changelog.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/design-doc/01-pinocchio-engine-profile-migration-analysis-and-implementation-plan.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/index.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: none

refactor(loader): preserve loaded command base settings
  pkg/cmds/cmd.go
  pkg/cmds/cmd_profile_registry_test.go
  pkg/cmds/loader.go
Due: lint, test

mark gp-50 doctor validation complete
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: none

:art: Fix github to stop sec-ing ttmp
  .github/workflows/dependency-scanning.yml
Due: none

refactor(profiles): add shared cli engine settings helper
  pkg/cmds/helpers/profile_engine_settings.go
  pkg/cmds/helpers/profile_runtime.go
  pkg/cmds/helpers/profile_runtime_test.go
Due: lint, test

remove engine profile migration helper
  README.md
  cmd/pinocchio/doc/general/05-js-runner-scripts.md
  examples/js/README.md
  pkg/cmds/helpers/engine_profile_migration.go
  pkg/cmds/helpers/engine_profile_migration_test.go
  pkg/doc/topics/webchat-engine-profile-migration-playbook.md
  scripts/migrate-engine-profiles-yaml/main.go
  scripts/profile_registry_cutover_smoke.sh
Due: lint, test

refactor(profiles): add shared cli profile selection helper
  pkg/cmds/helpers/profile_runtime.go
  pkg/cmds/helpers/profile_selection.go
  pkg/cmds/helpers/profile_selection_test.go
Due: lint, test

:fire: Remove hanging tests
  cmd/pinocchio/main_profile_registries_test.go
Due: lint, test

test(profiles): codify no registry fallback
  pkg/cmds/helpers/profile_selection_test.go
Due: lint, test

feat(debug): print resolved inference settings
  pkg/cmds/cmd.go
  pkg/cmds/cmd_profile_registry_test.go
  pkg/cmds/cmdlayers/helpers.go
Due: lint, test

make web-chat runtime plan local-first
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/changelog.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: lint, test

Fix PR 124 review followups
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/js_test.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/profile_runtime_test_helpers_test.go
  pkg/js/modules/pinocchio/module.go
  pkg/js/modules/pinocchio/module_test.go
Due: lint, test

migrate pinocchio cli and js to engine profiles
  README.md
  cmd/agents/simple-chat-agent/main.go
  cmd/examples/internal/tuidemo/profile.go
  cmd/pinocchio/cmds/profiles_migrate_legacy.go
  cmd/pinocchio/cmds/profiles_migrate_legacy_test.go
  cmd/pinocchio/doc/general/05-js-runner-scripts.md
  cmd/pinocchio/main.go
  cmd/pinocchio/main_profile_registries_test.go
  cmd/switch-profiles-tui/main.go
  examples/js/README.md
  examples/js/profiles/basic.yaml
  examples/js/runner-profile-demo.js
  examples/js/runner-profile-smoke.js
  pkg/cmds/cmd.go
  pkg/cmds/helpers/profile_runtime.go
  pkg/cmds/helpers/profile_runtime_test.go
  pkg/cmds/profile_switch_events.go
  pkg/ui/profileswitch/backend.go
  pkg/ui/profileswitch/diff.go
  pkg/ui/profileswitch/manager.go
  pkg/ui/profileswitch/manager_test.go
  pkg/ui/profileswitch/types.go
  scripts/profile-infer-once.go
Due: lint, test

close gp-48 pinocchio js runner ticket
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/changelog.md
  ttmp/2026/03/18/GP-48-PINOCCHIO-JS-RUNNER--add-pinocchio-js-command-for-geppetto-runner-scripts/index.md
Due: none

refactor(profiles): share cli selection value assembly
  cmd/examples/internal/tuidemo/cli.go
  cmd/pinocchio/cmds/js.go
  pkg/cmds/profilebootstrap/engine_settings_test.go
  pkg/cmds/profilebootstrap/profile_selection.go
  pkg/cmds/profilebootstrap/profile_selection_test.go
Due: lint, test

add pinocchio engine profile migration script
  README.md
  cmd/pinocchio/doc/general/05-js-runner-scripts.md
  cmd/pinocchio/main_profile_registries_test.go
  examples/js/README.md
  pkg/cmds/helpers/engine_profile_migration.go
  pkg/cmds/helpers/engine_profile_migration_test.go
  scripts/migrate_engine_profiles_yaml.go
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/changelog.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: lint, test

close gp-50 cli and js migration
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/changelog.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/index.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: none

fix loaded command engine profile resolution
  pkg/cmds/cmd.go
  pkg/cmds/cmd_profile_registry_test.go
Due: lint, test

record gp-50 web chat follow-up plan
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/changelog.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/design-doc/02-web-chat-follow-up-plan.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/index.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: none

refactor(commands): remove dead sqlite tool path
  cmd/agents/simple-chat-agent/main.go
  cmd/web-chat/main.go
  cmd/web-chat/main_profile_registries_test.go
  cmd/web-chat/middleware_definitions.go
  cmd/web-chat/profile_policy_test.go
Due: lint, test

refresh webchat engine profile docs
  pkg/doc/topics/webchat-compatibility-surface-migration-guide.md
  pkg/doc/topics/webchat-engine-profile-migration-playbook.md
  pkg/doc/topics/webchat-framework-guide.md
  pkg/doc/topics/webchat-overview.md
  pkg/doc/topics/webchat-profile-registry.md
  pkg/doc/topics/webchat-user-guide.md
  pkg/doc/tutorials/03-thirdparty-webchat-playbook.md
Due: none

rename engine profile api imports
  cmd/examples/internal/tuidemo/profile.go
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/profiles_migrate_legacy.go
  cmd/switch-profiles-tui/main.go
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/llm_delta_projection_harness_test.go
  cmd/web-chat/main.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/timeline_js_runtime_loader_test.go
  pkg/cmds/cmd.go
  pkg/cmds/helpers/parse-helpers.go
  pkg/cmds/helpers/profile_runtime.go
  pkg/ui/profileswitch/manager.go
  pkg/ui/profileswitch/manager_test.go
  pkg/ui/profileswitch/picker.go
  pkg/ui/profileswitch/picker_test.go
  pkg/ui/profileswitch/types.go
  pkg/webchat/http/profile_api.go
  pkg/webchat/http/profile_api_test.go
Due: lint, test

hard cut shared webchat runtime
  README.md
  cmd/pinocchio/doc/general/05-js-runner-scripts.md
  cmd/pinocchio/main_profile_registries_test.go
  cmd/web-chat/app_owned_chat_integration_test.go
  cmd/web-chat/llm_delta_projection_harness_test.go
  cmd/web-chat/profile_policy.go
  cmd/web-chat/profile_policy_test.go
  cmd/web-chat/profile_runtime_test_helpers_test.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  cmd/web-chat/timeline_js_runtime_loader_test.go
  examples/js/README.md
  pkg/cmds/cmd_profile_registry_test.go
  pkg/inference/runtime/composer.go
  pkg/inference/runtime/profile_runtime.go
  pkg/ui/profileswitch/diff.go
  pkg/ui/profileswitch/manager.go
  pkg/webchat/chat_service.go
  pkg/webchat/conversation.go
  pkg/webchat/conversation_service.go
  pkg/webchat/http/api.go
  pkg/webchat/http/profile_api.go
  pkg/webchat/llm_loop_runner_test.go
  scripts/migrate-engine-profiles-yaml/main.go
  scripts/profile-infer-once/main.go
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/changelog.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/index.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/reference/01-manuel-investigation-diary.md
  ttmp/2026/03/18/GP-50-PINOCCHIO-ENGINE-PROFILE-MIGRATION--migrate-pinocchio-cli-and-js-to-engine-only-profiles/tasks.md
Due: lint, test

refactor(profiles): share loaded command bootstrap
  pkg/cmds/cmd.go
  pkg/cmds/helpers/profile_engine_settings.go
  pkg/cmds/helpers/profile_runtime.go
  pkg/cmds/helpers/profile_selection.go
  pkg/cmds/profilebootstrap/engine_settings.go
  pkg/cmds/profilebootstrap/profile_selection.go
Due: lint, test

:art: Update go mod
  go.mod
  go.sum
Due: none

feat(debug): trace resolved inference settings sources
  pkg/cmds/cmd.go
  pkg/cmds/cmd_profile_registry_test.go
  pkg/cmds/cmdlayers/helpers.go
  pkg/cmds/profilebootstrap/inference_settings_trace.go
Due: lint, test

refactor(profilebootstrap): wrap geppetto cli bootstrap
  pkg/cmds/profilebootstrap/engine_settings.go
  pkg/cmds/profilebootstrap/profile_selection.go
Due: lint, test

:sparkles: Cutover profile registry cleanup
  Makefile
  cmd/agents/simple-chat-agent.md
  cmd/edit-credentials/README.md
  cmd/edit-credentials/TUTORIAL.md
  cmd/edit-credentials/main.go
  cmd/history-browser/README.md
  cmd/history-browser/TUTORIAL.md
  cmd/history-browser/main.go
  cmd/pinocchio/cmds/codegen.go
  cmd/pinocchio/cmds/helpers/helpers.go
  cmd/pinocchio/cmds/helpers/md-extract.go
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/kagi/enrich.go
  cmd/pinocchio/cmds/kagi/fastgpt.go
  cmd/pinocchio/cmds/kagi/kagi.go
  cmd/pinocchio/cmds/kagi/summarize.go
  cmd/pinocchio/cmds/openai/openai.go
  cmd/pinocchio/cmds/openai/transcribe.go
  cmd/pinocchio/cmds/temporizer/temporizer.go
  cmd/pinocchio/main.go
  go.mod
  go.sum
  lefthook.yml
  pkg/middlewares/sqlitetool/middleware.go
  pkg/middlewares/sqlitetool/middleware_keys.go
  scripts/profile-infer-once/main.go
Due: lint, test

fix(webchat): preserve ws profile settings and lint tool path
  .github/workflows/lint.yml
  pkg/webchat/http/api.go
  pkg/webchat/http_helpers_contract_test.go
Due: lint, test

fix(webchat): connect ws before first prompt
  cmd/web-chat/web/src/webchat/ChatWidget.tsx
Due: web-check

refactor(js): use resolved cli engine settings
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/js_test.go
  pkg/js/modules/pinocchio/module.go
Due: lint, test

fix(js): expose profile flags on command
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/js_test.go
Due: lint, test

refactor(js): use glazed parser and trace inference sources
  cmd/pinocchio/cmds/js.go
  cmd/pinocchio/cmds/js_test.go
  pkg/cmds/cmdlayers/helpers.go
Due: lint, test

Path conditions:
  lint: any of: *.go
  test: any of: *.go
  web-check: any of: cmd/web-chat/web/**
