Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lint:
  run: make lintmax

test:
  run: make test

web-check:
  run: cd cmd/web-chat/web && npm run check

refactor(pinocchio): migrate pkg/cmds to glazed facade schema/values APIs
  pkg/cmds/cmd.go
  pkg/cmds/cmdlayers/helpers.go
  pkg/cmds/cobra.go
  pkg/cmds/helpers/parse-helpers.go
  pkg/cmds/loader.go
Due: lint, test

refactor(pinocchio): migrate cmd implementations to facade APIs
  cmd/pinocchio/cmds/catter/catter.go
  cmd/pinocchio/cmds/catter/cmds/print.go
  cmd/pinocchio/cmds/catter/cmds/stats.go
  cmd/pinocchio/cmds/catter/pkg/fileprocessor.go
  cmd/pinocchio/cmds/catter/pkg/stats.go
  cmd/pinocchio/cmds/clip.go
  cmd/pinocchio/cmds/helpers/md-extract.go
  cmd/pinocchio/cmds/kagi/enrich.go
  cmd/pinocchio/cmds/kagi/fastgpt.go
  cmd/pinocchio/cmds/kagi/summarize.go
  cmd/pinocchio/cmds/openai/openai.go
  cmd/pinocchio/cmds/openai/transcribe.go
  cmd/pinocchio/cmds/tokens/count.go
  cmd/pinocchio/cmds/tokens/decode.go
  cmd/pinocchio/cmds/tokens/encode.go
  cmd/pinocchio/cmds/tokens/list.go
  pkg/filefilter/filefilter.go
  pkg/filefilter/section.go
Due: lint, test

refactor(pinocchio): migrate webchat and redis settings to facade APIs
  cmd/web-chat/main.go
  pkg/redisstream/redis_layer.go
  pkg/webchat/router.go
  pkg/webchat/server.go
  pkg/webchat/types.go
Due: lint, test

refactor(pinocchio): migrate examples and agent commands to facade APIs
  cmd/agents/simple-chat-agent/main.go
  cmd/examples/simple-chat/main.go
  cmd/examples/simple-redis-streaming-inference/main.go
Due: lint, test

build(pinocchio): bump clay to v0.4.0 and finish glazed v1 API porting
  cmd/examples/simple-redis-streaming-inference/main.go
  cmd/pinocchio/main.go
  go.mod
Due: lint, test

refactor(pinocchio): port runtime to toolloop/tools and metadata-based IDs
  cmd/agents/simple-chat-agent/main.go
  cmd/agents/simple-chat-agent/pkg/backend/tool_loop_backend.go
  cmd/agents/simple-chat-agent/pkg/store/sqlstore.go
  cmd/agents/simple-chat-agent/pkg/ui/app.go
  pkg/cmds/cmd.go
  pkg/cmds/images.go
  pkg/geppettocompat/compat.go
  pkg/middlewares/agentmode/middleware.go
  pkg/middlewares/sqlitetool/middleware.go
  pkg/ui/backend.go
  pkg/webchat/conversation.go
  pkg/webchat/engine.go
  pkg/webchat/forwarder.go
  pkg/webchat/loops.go
  pkg/webchat/router.go
Due: lint, test

:ambulance: Fix security flagging
  cmd/pinocchio/cmds/clip.go
  cmd/pinocchio/cmds/kagi/enrich.go
  cmd/pinocchio/cmds/kagi/fastgpt.go
  cmd/pinocchio/cmds/kagi/summarize.go
  cmd/pinocchio/main.go
  pkg/security/outbound_url.go
Due: lint, test

refactor(pinocchio): remove prompto command and dependency
  Makefile
  cmd/pinocchio/cmds/prompto/prompto.go
  cmd/pinocchio/main.go
  go.mod
  go.sum
Due: lint, test

migrate pinocchio to geppetto sections/values facade
  .goreleaser.yaml
  cmd/agents/simple-chat-agent/main.go
  cmd/examples/simple-chat/main.go
  cmd/examples/simple-redis-streaming-inference/main.go
  cmd/pinocchio/cmds/openai/openai.go
  cmd/pinocchio/cmds/openai/transcribe.go
  cmd/pinocchio/main.go
  cmd/web-chat/main.go
  go.mod
  go.sum
  pkg/cmds/cmd.go
  pkg/cmds/cobra.go
  pkg/cmds/loader.go
  pkg/webchat/router.go
Due: lint, test

:art: Update go mod
  go.mod
  go.sum
Due: none

fix(pinocchio): clean replay conflicts and finish glazed/geppetto facade migration
  cmd/agents/simple-chat-agent/main.go
  cmd/agents/simple-chat-agent/pkg/backend/tool_loop_backend.go
  cmd/agents/simple-chat-agent/pkg/store/sqlstore.go
  cmd/agents/simple-chat-agent/pkg/ui/app.go
  cmd/examples/simple-redis-streaming-inference/main.go
  cmd/web-chat/timeline/db.go
  cmd/web-chat/timeline/entities.go
  cmd/web-chat/timeline/entity.go
  cmd/web-chat/timeline/list.go
  cmd/web-chat/timeline/snapshot.go
  cmd/web-chat/timeline/stats.go
  cmd/web-chat/timeline/timeline.go
  cmd/web-chat/timeline/verify.go
  pkg/cmds/cmd.go
  pkg/cmds/images.go
  pkg/inference/enginebuilder/parsed_layers.go
  pkg/middlewares/agentmode/middleware.go
  pkg/middlewares/sqlitetool/middleware.go
  pkg/ui/backend.go
  pkg/webchat/conversation.go
  pkg/webchat/engine.go
  pkg/webchat/engine_builder.go
  pkg/webchat/engine_from_req_test.go
  pkg/webchat/forwarder.go
  pkg/webchat/loops.go
Due: lint, test

fix(security): resolve gosec overflow and SSRF/XSS findings
  Makefile
  cmd/web-chat/timeline/snapshot.go
  pkg/persistence/chatstore/timeline_store_sqlite.go
  pkg/webchat/router.go
  pkg/webchat/sem_translator.go
Due: lint, test

:art: Add ttmp templates
  ttmp/.docmgrignore
  ttmp/_guidelines/code-review.md
  ttmp/_guidelines/design-doc.md
  ttmp/_guidelines/index.md
  ttmp/_guidelines/log.md
  ttmp/_guidelines/playbook.md
  ttmp/_guidelines/reference.md
  ttmp/_guidelines/script.md
  ttmp/_guidelines/skill.md
  ttmp/_guidelines/task-list.md
  ttmp/_guidelines/tutorial.md
  ttmp/_guidelines/working-note.md
  ttmp/_templates/code-review.md
  ttmp/_templates/design-doc.md
  ttmp/_templates/index.md
  ttmp/_templates/log.md
  ttmp/_templates/playbook.md
  ttmp/_templates/reference.md
  ttmp/_templates/script.md
  ttmp/_templates/skill.md
  ttmp/_templates/task-list.md
  ttmp/_templates/tutorial.md
  ttmp/_templates/working-note.md
Due: none

ci: align gosec workflow excludes and fix web-chat embed on clean checkout
  .github/workflows/dependency-scanning.yml
  cmd/web-chat/static/index.html
Due: none

webchat: add canonical /api/debug route wrappers and tests
  pkg/webchat/router.go
  pkg/webchat/router_debug_api_test.go
Due: lint, test

webchat: add live debug conversation, event, and turn detail endpoints
  pkg/webchat/router.go
  pkg/webchat/router_debug_api_test.go
Due: lint, test

webchat: add offline artifact and sqlite debug run endpoints
  pkg/webchat/debug_offline.go
  pkg/webchat/debug_offline_test.go
  pkg/webchat/router.go
Due: lint, test

web-chat: scaffold reusable debug contract, api, state, and component packages
  cmd/web-chat/web/src/debug-api/debugApi.ts
  cmd/web-chat/web/src/debug-api/index.ts
  cmd/web-chat/web/src/debug-app/DebugApp.tsx
  cmd/web-chat/web/src/debug-app/index.ts
  cmd/web-chat/web/src/debug-components/EnvelopeMetaCard.tsx
  cmd/web-chat/web/src/debug-components/TurnsEnvelopeCard.stories.tsx
  cmd/web-chat/web/src/debug-components/TurnsEnvelopeCard.tsx
  cmd/web-chat/web/src/debug-components/index.ts
  cmd/web-chat/web/src/debug-contract/index.ts
  cmd/web-chat/web/src/debug-contract/types.ts
  cmd/web-chat/web/src/debug-state/hooks.ts
  cmd/web-chat/web/src/debug-state/index.ts
  cmd/web-chat/web/src/debug-state/store.ts
  cmd/web-chat/web/src/debug-state/uiSlice.ts
Due: web-check

web-chat: add debug app shell with live/offline mode switch
  cmd/web-chat/web/src/App.tsx
  cmd/web-chat/web/src/debug-app/DebugApp.stories.tsx
  cmd/web-chat/web/src/debug-app/DebugApp.tsx
  cmd/web-chat/web/src/debug-app/DebugAppProvider.tsx
  cmd/web-chat/web/src/debug-app/index.ts
Due: web-check

refactor(webchat): split debug routes into dedicated file
  pkg/webchat/router.go
  pkg/webchat/router_debug_api_test.go
  pkg/webchat/router_debug_routes.go
  pkg/webchat/router_options.go
  pkg/webchat/types.go
Due: lint, test

refactor(webchat): enforce non-nil contexts and remove fallback wrapping
  pkg/webchat/conv_manager_eviction.go
  pkg/webchat/conv_manager_eviction_test.go
  pkg/webchat/conversation.go
  pkg/webchat/debug_offline.go
  pkg/webchat/engine.go
  pkg/webchat/engine_builder.go
  pkg/webchat/router.go
  pkg/webchat/server.go
  pkg/webchat/stream_coordinator.go
  pkg/webchat/timeline_projector.go
Due: lint, test

fix(web-chat): align debug-ui msw mocks with api debug routes
  cmd/web-chat/web/src/debug-ui/mocks/msw/createDebugHandlers.ts
Due: web-check

chore(web-chat): stabilize debug-ui lint and storybook checks
  cmd/web-chat/web/biome.json
  cmd/web-chat/web/src/debug-ui/DebugUIApp.tsx
  cmd/web-chat/web/src/debug-ui/components/AnomalyPanel.tsx
  cmd/web-chat/web/src/debug-ui/components/AppShell.tsx
  cmd/web-chat/web/src/debug-ui/components/BlockCard.tsx
  cmd/web-chat/web/src/debug-ui/components/ConversationCard.tsx
  cmd/web-chat/web/src/debug-ui/components/CorrelationIdBar.tsx
  cmd/web-chat/web/src/debug-ui/components/EventCard.tsx
  cmd/web-chat/web/src/debug-ui/components/EventTrackLane.tsx
  cmd/web-chat/web/src/debug-ui/components/FilterBar.tsx
  cmd/web-chat/web/src/debug-ui/components/MiddlewareChainView.tsx
  cmd/web-chat/web/src/debug-ui/components/NowMarker.tsx
  cmd/web-chat/web/src/debug-ui/components/ProjectionLane.tsx
  cmd/web-chat/web/src/debug-ui/components/SessionList.tsx
  cmd/web-chat/web/src/debug-ui/components/SnapshotDiff.stories.tsx
  cmd/web-chat/web/src/debug-ui/components/SnapshotDiff.tsx
  cmd/web-chat/web/src/debug-ui/components/StateTrackLane.tsx
  cmd/web-chat/web/src/debug-ui/components/TimelineEntityCard.tsx
  cmd/web-chat/web/src/debug-ui/components/TimelineLanes.tsx
  cmd/web-chat/web/src/debug-ui/components/TurnInspector.tsx
  cmd/web-chat/web/src/debug-ui/routes/EventsPage.tsx
  cmd/web-chat/web/src/debug-ui/routes/OverviewPage.tsx
  cmd/web-chat/web/src/debug-ui/routes/TimelinePage.tsx
  cmd/web-chat/web/src/debug-ui/routes/TurnDetailPage.tsx
  cmd/web-chat/web/src/debug-ui/routes/index.tsx
Due: web-check

fix(debug-ui): tolerate stringified numeric fields in api adapters
  cmd/web-chat/web/src/debug-ui/api/debugApi.ts
Due: web-check

feat(debug-ui): wire offline runs viewer into migrated app
  cmd/web-chat/web/src/debug-ui/api/debugApi.ts
  cmd/web-chat/web/src/debug-ui/components/AppShell.tsx
  cmd/web-chat/web/src/debug-ui/components/OfflineSourcesPanel.tsx
  cmd/web-chat/web/src/debug-ui/index.css
  cmd/web-chat/web/src/debug-ui/mocks/fixtures/offline.ts
  cmd/web-chat/web/src/debug-ui/mocks/msw/createDebugHandlers.ts
  cmd/web-chat/web/src/debug-ui/mocks/msw/defaultHandlers.ts
  cmd/web-chat/web/src/debug-ui/routes/OfflinePage.stories.tsx
  cmd/web-chat/web/src/debug-ui/routes/OfflinePage.tsx
  cmd/web-chat/web/src/debug-ui/routes/index.tsx
  cmd/web-chat/web/src/debug-ui/store/uiSlice.ts
  cmd/web-chat/web/src/debug-ui/styles/components/AppShell.css
  cmd/web-chat/web/src/debug-ui/styles/components/OfflinePage.css
  cmd/web-chat/web/src/debug-ui/types/index.ts
Due: web-check

fix(debug-ui): stop url-sync loops and decode turn detail payloads
  cmd/web-chat/web/src/debug-ui/api/debugApi.ts
  cmd/web-chat/web/src/debug-ui/components/AppShell.tsx
Due: web-check

test(debug-ui): add regressions for url sync and turn parsing
  cmd/web-chat/web/src/debug-ui/api/debugApi.ts
  cmd/web-chat/web/src/debug-ui/api/turnParsing.test.ts
  cmd/web-chat/web/src/debug-ui/api/turnParsing.ts
  cmd/web-chat/web/src/debug-ui/components/AppShell.tsx
  cmd/web-chat/web/src/debug-ui/components/appShellSync.test.ts
  cmd/web-chat/web/src/debug-ui/components/appShellSync.ts
Due: web-check

feat(chatstore): add canonical block content hashing rules
  pkg/persistence/chatstore/block_hash.go
  pkg/persistence/chatstore/block_hash_test.go
Due: lint, test

feat(chatstore): migrate turn sqlite schema to normalized tables
  pkg/persistence/chatstore/turn_store_sqlite.go
  pkg/persistence/chatstore/turn_store_sqlite_test.go
  pkg/webchat/debug_offline.go
Due: lint, test

feat(chatstore): add snapshot payload backfill command
  cmd/web-chat/main.go
  cmd/web-chat/turns/backfill.go
  cmd/web-chat/turns/turns.go
  pkg/persistence/chatstore/turn_store_backfill.go
  pkg/persistence/chatstore/turn_store_backfill_test.go
Due: lint, test

refactor(chatstore): drop legacy backfill path and use normalized storage only
  cmd/web-chat/main.go
  cmd/web-chat/turns/backfill.go
  cmd/web-chat/turns/turns.go
  pkg/cmds/chat_persistence_test.go
  pkg/persistence/chatstore/turn_store_backfill.go
  pkg/persistence/chatstore/turn_store_backfill_test.go
  pkg/persistence/chatstore/turn_store_sqlite.go
  pkg/persistence/chatstore/turn_store_sqlite_test.go
  pkg/webchat/debug_offline.go
  pkg/webchat/debug_offline_test.go
Due: lint, test

test(chatstore): add normalized round-trip checks and list benchmark
  pkg/persistence/chatstore/turn_store_sqlite_benchmark_test.go
  pkg/persistence/chatstore/turn_store_sqlite_test.go
Due: lint, test

webchat: replace BuildEngineFromReq with request resolver plan API
  pkg/webchat/engine_from_req.go
  pkg/webchat/engine_from_req_test.go
  pkg/webchat/router.go
  pkg/webchat/router_options.go
  pkg/webchat/types.go
Due: lint, test

webchat: drop core profile endpoints and cookie-based request policy
  pkg/webchat/engine_from_req.go
  pkg/webchat/engine_from_req_test.go
  pkg/webchat/router.go
  pkg/webchat/router_debug_api_test.go
  pkg/webchat/router_debug_routes.go
Due: lint, test

webchat: move profile policy out of pkg core into cmd/web-chat
  cmd/web-chat/main.go
  cmd/web-chat/profile_policy.go
  pkg/webchat/debug_offline_test.go
  pkg/webchat/engine_builder.go
  pkg/webchat/engine_from_req_test.go
  pkg/webchat/router.go
  pkg/webchat/router_debug_api_test.go
  pkg/webchat/router_handlers_test.go
  pkg/webchat/router_options.go
  pkg/webchat/types.go
Due: lint, test

webchat: rename core runtime identity and use signature-only rebuild
  cmd/web-chat/web/src/debug-ui/api/debugApi.ts
  cmd/web-chat/web/src/debug-ui/mocks/msw/createDebugHandlers.ts
  pkg/webchat/conversation.go
  pkg/webchat/engine_builder.go
  pkg/webchat/engine_config.go
  pkg/webchat/engine_config_test.go
  pkg/webchat/engine_from_req.go
  pkg/webchat/engine_from_req_test.go
  pkg/webchat/router.go
  pkg/webchat/router_debug_api_test.go
  pkg/webchat/router_debug_routes.go
  pkg/webchat/send_queue.go
Due: lint, test, web-check

web-chat: add tests for app-owned profile resolver and handlers
  cmd/web-chat/profile_policy_test.go
Due: lint, test

docs(webchat): remove legacy profile-builder guidance and document resolver policy
  pkg/doc/topics/webchat-framework-guide.md
  pkg/doc/topics/webchat-user-guide.md
  pkg/doc/tutorials/03-thirdparty-webchat-playbook.md
Due: none

webchat: rename ws hello profile field to runtime_key
  cmd/web-chat/web/src/sem/pb/proto/sem/base/ws_pb.ts
  pkg/sem/pb/proto/sem/base/ws.pb.go
  pkg/webchat/router.go
  proto/sem/base/ws.proto
  web/src/sem/pb/proto/sem/base/ws_pb.ts
Due: lint, test, web-check

Path conditions:
  lint: any of: *.go
  test: any of: *.go
  web-check: any of: cmd/web-chat/web/**
