Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*.go'
      run: make lintmax 
    test:
      glob: '*.go'
      run: make test
    web-check:
      glob: 'cmd/web-chat/web/**'
      run: cd cmd/web-chat/web && npm run check
  parallel: true

pre-push:
  parallel: true
  commands:
    release:
      run: make goreleaser
    lint:
      run: make lintmax gosec govulncheck
    test:
      run: make test

Bump go-go-golems dependencies
  go.mod
  go.sum
Due: none

Run Glazed CLI policy linting
  .github/workflows/lint.yml
  Makefile
Due: none

Run Glazed CLI policy linting (#159)
  .github/workflows/lint.yml
  Makefile
Due: none

Bump xgoja runtime dependencies
  go.mod
  go.sum
Due: none

Bump xgoja runtime dependencies
  cmd/pinocchio/cmds/js.go
  go.mod
  go.sum
Due: lint, test

Run Glazed CLI policy linting
  Makefile
Due: none

Use released Glazed lint suppressions
  Makefile
  cmd/pinocchio/cmds/clip.go
  cmd/pinocchio/cmds/serve.go
  go.mod
  go.sum
  pkg/cmds/cmdlayers/helpers.go
Due: lint, test

Use explicit allow paths for Pinocchio legacy commands
  Makefile
  cmd/pinocchio/cmds/clip.go
  cmd/pinocchio/cmds/serve.go
  pkg/cmds/cmdlayers/helpers.go
Due: lint, test

Add docsctl documentation publishing
  .github/workflows/release.yml
Due: none

Bump Go-Go-Golems release train dependencies
  go.mod
  go.sum
Due: none

feat: expose runtime tool executor bridge hooks
  pkg/chatapp/runtime_inference.go
  pkg/chatapp/service.go
  pkg/inference/runtime/composer.go
Due: lint, test

feat: add chatapp serverkit stores
  pkg/chatapp/serverkit/logcopter.go
  pkg/chatapp/serverkit/stores.go
  pkg/chatapp/serverkit/stores_test.go
Due: lint, test

refactor: use serverkit turn store in web chat
  cmd/web-chat/main.go
Due: lint, test

feat: share chatapp HTTP contracts
  cmd/web-chat/app/contracts.go
  pkg/chatapp/serverkit/contracts.go
Due: lint, test

feat: add serverkit HTTP helpers
  cmd/web-chat/app/server.go
  pkg/chatapp/serverkit/http.go
  pkg/chatapp/serverkit/http_test.go
Due: lint, test

feat: add chatapp frontend tools package
  pkg/chatapp/frontendtools/bridge.go
  pkg/chatapp/frontendtools/bridge_test.go
  pkg/chatapp/frontendtools/logcopter.go
  pkg/chatapp/frontendtools/manager.go
  pkg/chatapp/frontendtools/plugin.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/frontendtools/v1/frontend_tool.pb.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/frontendtools/v1/logcopter.go
  proto/pinocchio/chatapp/frontendtools/v1/frontend_tool.proto
Due: lint, test

test: cover frontendtools manager and plugin
  pkg/chatapp/frontendtools/manager_test.go
  pkg/chatapp/frontendtools/plugin_test.go
Due: lint, test

feat: add chatapp widgets package
  pkg/chatapp/pb/proto/pinocchio/chatapp/widgets/v1/widget.pb.go
  pkg/chatapp/widgets/plugin.go
  pkg/chatapp/widgets/plugin_test.go
  proto/pinocchio/chatapp/widgets/v1/widget.proto
Due: lint, test

feat: render chatapp widgets in web chat
  cmd/web-chat/main.go
  cmd/web-chat/web/src/webchat/cards.tsx
  cmd/web-chat/web/src/webchat/rendererRegistry.ts
Due: lint, test, web-check

chore: add generated widget loggers
  pkg/chatapp/pb/proto/pinocchio/chatapp/widgets/v1/logcopter.go
  pkg/chatapp/widgets/logcopter.go
Due: lint, test

feat: add chatapp widget publish helpers
  pkg/chatapp/widgets/plugin.go
Due: lint, test

refactor: consume chat provider protocol helpers
  cmd/web-chat/web/package-lock.json
  cmd/web-chat/web/package.json
  cmd/web-chat/web/src/ws/protocol.ts
Due: web-check

feat: add web-chat frontend tool result endpoint
  cmd/web-chat/app/server.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/app/showcase_tools.go
  cmd/web-chat/main.go
  pkg/chatapp/frontendtools/manager.go
  pkg/chatapp/service.go
Due: lint, test

feat: stream web-chat capabilities showcase
  cmd/web-chat/app/server.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/app/showcase_tools.go
  pkg/chatapp/demo.go
Due: lint, test

feat: render web-chat showcase tools and widgets
  cmd/web-chat/web/src/webchat/cards.tsx
  cmd/web-chat/web/src/webchat/rendererRegistry.ts
  cmd/web-chat/web/src/ws/frontendTools.ts
  cmd/web-chat/web/src/ws/timelineEvents.ts
  cmd/web-chat/web/src/ws/wsManager.ts
Due: web-check

feat: accept web-chat frontend tool manifests
  cmd/web-chat/app/server.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/app/showcase_tools.go
Due: lint, test

feat: add web-chat chat provider demo page
  cmd/web-chat/web/src/App.tsx
  cmd/web-chat/web/src/webchat/ProviderDemoPage.tsx
Due: web-check

feat: back web-chat widget with chat provider
  cmd/web-chat/web/src/webchat/ProviderBackedChatWidget.tsx
  cmd/web-chat/web/src/webchat/ProviderDemoPage.tsx
  cmd/web-chat/web/src/webchat/index.ts
Due: web-check

feat: add provider debug and multi-instance demo
  cmd/web-chat/web/src/App.tsx
  cmd/web-chat/web/src/webchat/ProviderBackedChatWidget.tsx
  cmd/web-chat/web/src/webchat/ProviderMultiDemoPage.tsx
  cmd/web-chat/web/src/webchat/components/ExportMenu.tsx
Due: web-check

refactor: split provider web-chat components
  cmd/web-chat/web/src/chat/provider/ProviderBackedChatWidget.tsx
  cmd/web-chat/web/src/chat/provider/ProviderBackedChatWidgetInner.tsx
  cmd/web-chat/web/src/chat/provider/ProviderMultiDemoInstance.tsx
  cmd/web-chat/web/src/chat/provider/ProviderMultiDemoPage.tsx
  cmd/web-chat/web/src/chat/provider/ProviderMultiDemoPanel.tsx
  cmd/web-chat/web/src/chat/provider/ProviderStatusbar.tsx
  cmd/web-chat/web/src/chat/provider/ProviderToolCallRenderer.tsx
  cmd/web-chat/web/src/chat/provider/ProviderWidgetRenderer.tsx
  cmd/web-chat/web/src/chat/provider/index.ts
  cmd/web-chat/web/src/chat/provider/providerDebug.ts
  cmd/web-chat/web/src/chat/provider/providerSession.ts
  cmd/web-chat/web/src/chat/provider/providerTimeline.ts
  cmd/web-chat/web/src/webchat/ProviderBackedChatWidget.tsx
  cmd/web-chat/web/src/webchat/ProviderMultiDemoPage.tsx
Due: web-check

refactor: use chat extensions in provider demo
  cmd/web-chat/web/src/webchat/ProviderDemoPage.tsx
Due: web-check

feat: install pinocchio chat provider projectors
  cmd/web-chat/web/src/chat/provider/ProviderBackedChatWidget.tsx
  cmd/web-chat/web/src/chat/provider/projectors/pinocchioProjectors.ts
  cmd/web-chat/web/src/webchat/ProviderDemoPage.tsx
Due: web-check

docs: add web-chat cleanup guardrails
  cmd/web-chat/web/package.json
  cmd/web-chat/web/scripts/print-dev-url.mjs
  cmd/web-chat/web/src/MIGRATION_CHECKLIST.md
  cmd/web-chat/web/src/README.md
Due: web-check

refactor: split web-chat app route modes
  cmd/web-chat/web/src/App.tsx
  cmd/web-chat/web/src/app/App.tsx
  cmd/web-chat/web/src/app/DebugUiRoot.tsx
  cmd/web-chat/web/src/app/MainWebChatRoot.tsx
  cmd/web-chat/web/src/app/ProviderDemoRoot.tsx
  cmd/web-chat/web/src/app/ProviderMultiDemoRoot.tsx
  cmd/web-chat/web/src/app/index.ts
  cmd/web-chat/web/src/app/routeMode.test.ts
  cmd/web-chat/web/src/app/routeMode.ts
Due: web-check

refactor: move web-chat provider files to feature folder
  cmd/web-chat/web/src/MIGRATION_CHECKLIST.md
  cmd/web-chat/web/src/chat/provider/index.ts
  cmd/web-chat/web/src/features/web-chat/README.md
  cmd/web-chat/web/src/features/web-chat/WebChatApp/ProviderStatusbar.tsx
  cmd/web-chat/web/src/features/web-chat/WebChatApp/ProviderToolCallRenderer.tsx
  cmd/web-chat/web/src/features/web-chat/WebChatApp/ProviderWidgetRenderer.tsx
  cmd/web-chat/web/src/features/web-chat/WebChatApp/WebChatApp.tsx
  cmd/web-chat/web/src/features/web-chat/WebChatApp/index.ts
  cmd/web-chat/web/src/features/web-chat/WebChatApp/types.ts
  cmd/web-chat/web/src/features/web-chat/WebChatProviderShell/WebChatProviderShell.tsx
  cmd/web-chat/web/src/features/web-chat/WebChatProviderShell/index.ts
  cmd/web-chat/web/src/features/web-chat/WebChatProviderShell/types.ts
  cmd/web-chat/web/src/features/web-chat/demos/ProviderMultiDemo/ProviderMultiDemoInstance.tsx
  cmd/web-chat/web/src/features/web-chat/demos/ProviderMultiDemo/ProviderMultiDemoPage.tsx
  cmd/web-chat/web/src/features/web-chat/demos/ProviderMultiDemo/ProviderMultiDemoPanel.tsx
  cmd/web-chat/web/src/features/web-chat/demos/ProviderMultiDemo/index.ts
  cmd/web-chat/web/src/features/web-chat/extensions/pinocchio-projectors/index.ts
  cmd/web-chat/web/src/features/web-chat/extensions/pinocchio-projectors/pinocchioProjectors.ts
  cmd/web-chat/web/src/features/web-chat/index.ts
  cmd/web-chat/web/src/features/web-chat/provider-support/providerDebug.ts
  cmd/web-chat/web/src/features/web-chat/provider-support/providerSession.ts
  cmd/web-chat/web/src/features/web-chat/provider-support/providerTimeline.ts
  cmd/web-chat/web/src/webchat/ProviderBackedChatWidget.tsx
  cmd/web-chat/web/src/webchat/ProviderDemoPage.tsx
  cmd/web-chat/web/src/webchat/ProviderMultiDemoPage.tsx
Due: web-check

refactor: add web-chat component story folders
  cmd/web-chat/web/src/MIGRATION_CHECKLIST.md
  cmd/web-chat/web/src/features/web-chat/ChatComposer/ChatComposer.stories.tsx
  cmd/web-chat/web/src/features/web-chat/ChatComposer/ChatComposer.tsx
  cmd/web-chat/web/src/features/web-chat/ChatComposer/index.ts
  cmd/web-chat/web/src/features/web-chat/ChatComposer/types.ts
  cmd/web-chat/web/src/features/web-chat/ChatHeader/ChatHeader.stories.tsx
  cmd/web-chat/web/src/features/web-chat/ChatHeader/ChatHeader.tsx
  cmd/web-chat/web/src/features/web-chat/ChatHeader/index.ts
  cmd/web-chat/web/src/features/web-chat/ChatHeader/types.ts
  cmd/web-chat/web/src/features/web-chat/ChatStatusbar/ChatStatusbar.stories.tsx
  cmd/web-chat/web/src/features/web-chat/ChatStatusbar/ChatStatusbar.tsx
  cmd/web-chat/web/src/features/web-chat/ChatStatusbar/index.ts
  cmd/web-chat/web/src/features/web-chat/ChatStatusbar/types.ts
  cmd/web-chat/web/src/features/web-chat/ChatTimeline/ChatTimeline.stories.tsx
  cmd/web-chat/web/src/features/web-chat/ChatTimeline/ChatTimeline.tsx
  cmd/web-chat/web/src/features/web-chat/ChatTimeline/index.ts
  cmd/web-chat/web/src/features/web-chat/ChatTimeline/types.ts
  cmd/web-chat/web/src/features/web-chat/ChatTimeline/useStickyScrollFollow.ts
  cmd/web-chat/web/src/features/web-chat/README.md
  cmd/web-chat/web/src/features/web-chat/WebChatApp/WebChatApp.tsx
  cmd/web-chat/web/src/features/web-chat/index.ts
  cmd/web-chat/web/src/webchat/ChatWidget.stories.tsx
  cmd/web-chat/web/src/webchat/ChatWidget.tsx
  cmd/web-chat/web/src/webchat/index.ts
Due: web-check

refactor: remove web-chat capability demo
  cmd/web-chat/app/server.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/app/showcase_tools.go
  cmd/web-chat/web/src/MIGRATION_CHECKLIST.md
  cmd/web-chat/web/src/app/App.tsx
  cmd/web-chat/web/src/app/ProviderDemoRoot.tsx
  cmd/web-chat/web/src/app/ProviderMultiDemoRoot.tsx
  cmd/web-chat/web/src/app/routeMode.test.ts
  cmd/web-chat/web/src/app/routeMode.ts
  cmd/web-chat/web/src/chat/provider/index.ts
  cmd/web-chat/web/src/features/web-chat/README.md
  cmd/web-chat/web/src/features/web-chat/WebChatApp/WebChatApp.tsx
  cmd/web-chat/web/src/features/web-chat/cards/ToolCallCard/ToolCallCard.stories.tsx
  cmd/web-chat/web/src/features/web-chat/cards/ToolCallCard/ToolCallCard.tsx
  cmd/web-chat/web/src/features/web-chat/cards/WidgetInstanceCard/WidgetInstanceCard.stories.tsx
  cmd/web-chat/web/src/features/web-chat/cards/WidgetInstanceCard/WidgetInstanceCard.tsx
  cmd/web-chat/web/src/features/web-chat/cards/WidgetInstanceCard/index.ts
  cmd/web-chat/web/src/features/web-chat/cards/WidgetInstanceCard/types.ts
  cmd/web-chat/web/src/features/web-chat/cards/index.ts
  cmd/web-chat/web/src/webchat/ProviderDemoPage.tsx
  cmd/web-chat/web/src/webchat/ProviderMultiDemoPage.tsx
  cmd/web-chat/web/src/webchat/cards.tsx
  cmd/web-chat/web/src/ws/frontendTools.ts
  cmd/web-chat/web/src/ws/wsManager.ts
  pkg/chatapp/demo.go
Due: lint, test, web-check
