Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: '*.go'
      run: make lintmax 
    test:
      glob: '*.go'
      run: make test
    web-check:
      glob: 'cmd/web-chat/web/**'
      run: cd cmd/web-chat/web && npm run check
  parallel: true

pre-push:
  parallel: true
  commands:
    release:
      run: make goreleaser
    lint:
      run: make lintmax gosec govulncheck
    test:
      run: make test

Docs: record OpenAI reducer implementation
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/design-doc/04-openai-chat-stream-reducer-refactor.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/index.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Docs: record OpenAI terminal completion
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/design-doc/04-openai-chat-stream-reducer-refactor.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Docs: design OpenAI Responses stream refactor
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/README.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/design-doc/05-openai-responses-stream-refactor.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/index.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Docs: record Responses streaming cleanup
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/design-doc/05-openai-responses-stream-refactor.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Docs: record Responses helper extraction
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/design-doc/05-openai-responses-stream-refactor.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Docs: record Responses state migration
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/design-doc/05-openai-responses-stream-refactor.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Docs: record Responses event handler extraction
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/design-doc/05-openai-responses-stream-refactor.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Docs: add provider event testing guide
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/README.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/docs/design/implementation/01-provider-event-testing.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/index.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Docs: add provider testing preamble
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/docs/design/implementation/01-provider-event-testing.md
Due: none

Docs: link provider guide in Geppetto
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/README.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/docs/design/implementation/01-provider-event-testing.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/index.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Docs: record provider normalization tests
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Docs: record Gemini helper extraction
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Test chat runtime protocol terminal cases
  pkg/chatapp/runtime_sink_protocol_test.go
Due: lint, test

Docs: record runtime sink protocol matrix
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Preserve sparse chat projection correlation
  pkg/chatapp/projections.go
  pkg/chatapp/projections_protocol_test.go
Due: lint, test

Docs: record sparse projection matrix
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Preserve sparse tool projection correlation
  pkg/chatapp/correlation.go
  pkg/chatapp/plugins/toolcall.go
  pkg/chatapp/plugins/toolcall_test.go
  pkg/chatapp/projections.go
Due: lint, test

Preserve sparse reasoning projection state
  pkg/chatapp/plugins/reasoning.go
  pkg/chatapp/plugins/reasoning_test.go
Due: lint, test

Docs: record plugin projection matrices
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Test frontend sparse timeline reductions
  cmd/web-chat/web/src/ws/timelineEvents.ts
  cmd/web-chat/web/src/ws/timelineProtocol.test.ts
Due: web-check

Docs: record frontend reducer matrix
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

Extend frontend sparse terminal reductions
  cmd/web-chat/web/src/store/timelineSlice.ts
  cmd/web-chat/web/src/ws/timelineEvents.ts
  cmd/web-chat/web/src/ws/timelineProtocol.test.ts
  cmd/web-chat/web/src/ws/wsManager.test.ts
Due: web-check

Test timeline persistence terminal semantics
  pkg/ui/timeline_persist.go
  pkg/ui/timeline_persist_test.go
Due: lint, test

Docs: record persistence matrix
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: none

:art: Fix lint and tests
  cmd/web-chat/web/src/ws/timelineProtocol.test.ts
  pkg/chatapp/correlation.go
  pkg/chatapp/plugins/toolcall.go
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: lint, test, web-check

Preserve stopped status on runtime cancellation
  pkg/chatapp/chat_test.go
  pkg/chatapp/runtime_inference.go
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: lint, test

Restore runtime output text fallback
  pkg/chatapp/chat_test.go
  pkg/chatapp/runtime_inference.go
  pkg/chatapp/runtime_sink.go
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/changelog.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/reference/01-investigation-diary.md
  ttmp/2026/05/08/PINO-PROTOCOL-CONFORMANCE--systematic-chat-protocol-conformance-tests-for-canonical-event-lifecycles/tasks.md
Due: lint, test

Preserve distinct reasoning segment identities
  pkg/chatapp/plugins/reasoning.go
  pkg/chatapp/plugins/reasoning_test.go
Due: lint, test

Simplify chat correlation ids
  cmd/web-chat/app/server_test.go
  cmd/web-chat/reasoning_chat_feature_test.go
  cmd/web-chat/web/src/chatapp/pb/proto/pinocchio/chatapp/v1/chat_pb.ts
  cmd/web-chat/web/src/ws/timelineEvents.ts
  cmd/web-chat/web/src/ws/timelineProtocol.test.ts
  cmd/web-chat/web/src/ws/wsManager.test.ts
  pkg/chatapp/chat_test.go
  pkg/chatapp/correlation.go
  pkg/chatapp/demo.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  pkg/chatapp/plugins/reasoning.go
  pkg/chatapp/plugins/reasoning_test.go
  pkg/chatapp/plugins/toolcall_test.go
  pkg/chatapp/projections.go
  pkg/chatapp/projections_protocol_test.go
  pkg/chatapp/runtime_inference.go
  pkg/chatapp/runtime_sink.go
  pkg/chatapp/runtime_sink_protocol_test.go
  pkg/ui/timeline_persist.go
  pkg/ui/timeline_persist_test.go
  proto/pinocchio/chatapp/v1/chat.proto
Due: lint, test, web-check

:arrow_up: Bump dependencies
  go.mod
  go.sum
Due: none

Route reasoning source from events
  pkg/chatapp/plugins/reasoning.go
  pkg/chatapp/plugins/reasoning_test.go
Due: lint, test

Pinocchio: expose profile model metadata
  cmd/web-chat/profiles/api.go
  cmd/web-chat/profiles/types.go
  pkg/ui/profileswitch/manager.go
  pkg/ui/profileswitch/picker.go
  pkg/ui/profileswitch/types.go
Due: lint, test

Docs: document profile model metadata in Pinocchio
  README.md
  cmd/web-chat/README.md
Due: none

Add pinocchio serve command with embedded help browser SPA
  .gitignore
  .goreleaser.yaml
  Makefile
  cmd/pinocchio/cmds/help_loader.go
  cmd/pinocchio/cmds/serve.go
  cmd/pinocchio/main.go
  pkg/spa/embed.go
  pkg/spa/embed_none.go
  pkg/spa/spa.go
Due: lint, test

Fix Glazed SPA asset filename in fetch target
  Makefile
Due: none

Avoid go generate in SPA embed build
  .goreleaser.yaml
  Makefile
Due: none

Fix embedded SPA filesystem root
  Makefile
  pkg/spa/embed.go
Due: lint, test
