Repository go-go-golems/pinocchio: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, web-check

lint:
  run: make lintmax

test:
  run: make test

web-check:
  run: cd cmd/web-chat/web && npm run check

:arrow_up: Bump dependencies
  go.mod
  go.sum
Due: none

Use sqlite-backed sessionstream store
  cmd/web-chat/app/server.go
  pkg/chatapp/chat_test.go
Due: lint, test

:art: Add documentation for webchat apps
  pkg/doc/tutorials/09-building-sessionstream-react-chat-apps.md
Due: none

Fix web chat lint and snapshot wait
  cmd/web-chat/app/server.go
  cmd/web-chat/profile_runtime_test_helpers_test.go
  cmd/web-chat/profiles/resolver.go
  cmd/web-chat/reasoning_chat_feature_test.go
  pkg/middlewares/agentmode/structured_extractor.go
Due: lint, test

Avoid premature finished chat snapshots
  cmd/web-chat/app/server.go
  cmd/web-chat/app/server_test.go
Due: lint, test

:art: Update dependencies
  go.mod
  go.sum
Due: none

Address chatapp review feedback
  pkg/chatapp/chat.go
  pkg/chatapp/chat_test.go
  pkg/chatapp/features.go
  pkg/chatapp/service.go
Due: lint, test

feat: remove dead SEM registry package (pkg/sem/registry)
  pkg/sem/registry/registry.go
  ttmp/2026/05/03/SEM-CLEANUP--remove-dead-sem-frame-pipeline-and-update-documentation/README.md
  ttmp/2026/05/03/SEM-CLEANUP--remove-dead-sem-frame-pipeline-and-update-documentation/changelog.md
  ttmp/2026/05/03/SEM-CLEANUP--remove-dead-sem-frame-pipeline-and-update-documentation/design/01-sem-cleanup-architecture-analysis-and-implementation-guide.md
  ttmp/2026/05/03/SEM-CLEANUP--remove-dead-sem-frame-pipeline-and-update-documentation/index.md
  ttmp/2026/05/03/SEM-CLEANUP--remove-dead-sem-frame-pipeline-and-update-documentation/reference/01-investigation-diary.md
  ttmp/2026/05/03/SEM-CLEANUP--remove-dead-sem-frame-pipeline-and-update-documentation/tasks.md
  ttmp/vocabulary.yaml
Due: lint, test

feat: remove dead TS SEM registry, migrate stories, relocate timelinePropsRegistry
  cmd/web-chat/web/src/sem/registry.test.ts
  cmd/web-chat/web/src/sem/registry.ts
  cmd/web-chat/web/src/sem/timelineMapper.ts
  cmd/web-chat/web/src/webchat/ChatWidget.stories.tsx
  cmd/web-chat/web/src/webchat/index.ts
  cmd/web-chat/web/src/webchat/timelinePropsRegistry.ts
Due: web-check

docs: delete obsolete SEM pipeline tutorial (04), update cross-ref in 09
  pkg/doc/tutorials/04-intern-app-owned-middleware-events-timeline-widgets.md
  pkg/doc/tutorials/09-building-sessionstream-react-chat-apps.md
Due: none

docs: update all topic files to remove SEM frame references
  pkg/doc/topics/13-js-api-reference.md
  pkg/doc/topics/webchat-debugging-and-ops.md
  pkg/doc/topics/webchat-frontend-architecture.md
  pkg/doc/topics/webchat-frontend-integration.md
Due: none

docs: update SEM-CLEANUP diary with 7 structured steps, mark all 23 tasks complete
  ttmp/2026/05/03/SEM-CLEANUP--remove-dead-sem-frame-pipeline-and-update-documentation/changelog.md
  ttmp/2026/05/03/SEM-CLEANUP--remove-dead-sem-frame-pipeline-and-update-documentation/index.md
  ttmp/2026/05/03/SEM-CLEANUP--remove-dead-sem-frame-pipeline-and-update-documentation/reference/01-investigation-diary.md
  ttmp/2026/05/03/SEM-CLEANUP--remove-dead-sem-frame-pipeline-and-update-documentation/tasks.md
Due: none

refactor: rename FeatureSet to ChatPlugin, WithFeatureSets to WithPlugins
  .gitignore
  cmd/web-chat/agentmode_chat_feature.go
  cmd/web-chat/agentmode_chat_feature_test.go
  cmd/web-chat/app/server.go
  cmd/web-chat/main.go
  cmd/web-chat/reasoning_chat_feature.go
  cmd/web-chat/reasoning_chat_feature_test.go
  pkg/chatapp/chat.go
  pkg/chatapp/chat_test.go
  pkg/chatapp/features.go
  pkg/doc/tutorials/09-building-sessionstream-react-chat-apps.md
Due: lint, test

Diary: record Step 8 (FeatureSet → ChatPlugin rename)
  ttmp/2026/05/03/SEM-CLEANUP--remove-dead-sem-frame-pipeline-and-update-documentation/reference/01-investigation-diary.md
Due: none

fix: address PR #139 code review feedback
  cmd/web-chat/web/src/debug-ui/ws/debugWsManager.ts
  cmd/web-chat/web/src/debug-ui/ws/useDebugTimelineFollow.ts
Due: web-check

:art: Allow empty stopped inference messages
  pkg/chatapp/chat.go
Due: lint, test

Adopt snapshot and entity ordinals in chatapp
  cmd/web-chat/app/contracts.go
  cmd/web-chat/app/server.go
  cmd/web-chat/app/server_test.go
  pkg/chatapp/chat.go
  pkg/chatapp/chat_test.go
Due: lint, test

Draft chatapp protobuf payload definitions
  proto/pinocchio/chatapp/v1/chat.proto
Due: none

Use generated chatapp protobuf payloads
  buf.chatapp.gen.yaml
  cmd/web-chat/agentmode_chat_feature.go
  cmd/web-chat/agentmode_chat_feature_test.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/reasoning_chat_feature.go
  cmd/web-chat/reasoning_chat_feature_test.go
  pkg/chatapp/chat.go
  pkg/chatapp/chat_test.go
  pkg/chatapp/features.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  pkg/chatapp/service.go
  pkg/chatapp/service_test.go
Due: lint, test

fix: remove unused functions, fix formatting from previous commit
  cmd/web-chat/main.go
  cmd/web-chat/reasoning_chat_feature_test.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  pkg/chatapp/plugins/reasoning.go
  pkg/chatapp/plugins/toolcall.go
  proto/pinocchio/chatapp/v1/chat.proto
Due: lint, test

test(chatapp): cover shared ToolCallPlugin lifecycle
  pkg/chatapp/plugins/toolcall.go
  pkg/chatapp/plugins/toolcall_test.go
Due: lint, test

feat(chatapp): publish warning message when max iterations are reached
  pkg/chatapp/chat.go
  pkg/chatapp/chat_test.go
Due: lint, test

feat(chatapp): segment thinking and assistant text transcript rows
  cmd/web-chat/reasoning_chat_feature_test.go
  pkg/chatapp/chat.go
  pkg/chatapp/chat_test.go
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  pkg/chatapp/plugins/reasoning.go
  pkg/chatapp/plugins/reasoning_test.go
  proto/pinocchio/chatapp/v1/chat.proto
Due: lint, test

ci: exclude generated chatapp protobuf code from gosec
  .github/workflows/dependency-scanning.yml
Due: none

docs(webchat): document protobuf chatapp plugins
  cmd/web-chat/README.md
  pkg/chatapp/pb/proto/pinocchio/chatapp/v1/chat.pb.go
  pkg/doc/topics/13-js-api-reference.md
  pkg/doc/topics/chatapp-protobuf-plugins.md
  pkg/doc/topics/webchat-debugging-and-ops.md
  pkg/doc/topics/webchat-frontend-architecture.md
  pkg/doc/topics/webchat-frontend-integration.md
  pkg/doc/tutorials/02-webchat-getting-started.md
  pkg/doc/tutorials/09-building-sessionstream-react-chat-apps.md
  proto/pinocchio/chatapp/v1/chat.proto
Due: lint, test

fix(chatapp): avoid segment int narrowing in gosec
  pkg/chatapp/chat.go
Due: lint, test

fix(chatapp): stop active text segment on runtime errors
  pkg/chatapp/chat.go
  pkg/chatapp/chat_test.go
Due: lint, test

refactor(chatapp): preserve context values for async publishes
  pkg/chatapp/chat.go
Due: lint, test

chore(chatapp): clarify runtime sink publish context
  pkg/chatapp/chat.go
Due: lint, test

:art: Update lint making
  Makefile
Due: none

refactor(runtime): remove SeedSystemPrompt from ComposedRuntime
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/runtime_composer_test.go
  pkg/inference/runtime/composer.go
Due: lint, test

feat(chatstore): add LoadLatestTurn to TurnStore interface
  pkg/chatapp/chat.go
  pkg/persistence/chatstore/turn_store.go
  pkg/persistence/chatstore/turn_store_sqlite.go
Due: lint, test

fix(chatapp): fail inference when history cannot be loaded
  pkg/chatapp/chat.go
  pkg/chatapp/chat_test.go
  pkg/persistence/chatstore/turn_store_sqlite_test.go
Due: lint, test

feat(web-chat): wire turn store for conversation history
  cmd/web-chat/app/runtime.go
  cmd/web-chat/app/server.go
  cmd/web-chat/app/server_test.go
  cmd/web-chat/canonical_runtime_resolver.go
  cmd/web-chat/main.go
  cmd/web-chat/reasoning_chat_feature_test.go
  cmd/web-chat/runtime_composer.go
  cmd/web-chat/turn_persistence.go
Due: lint, test

fix(web-chat): use sessionstream websocket protobuf frames
  cmd/web-chat/web/src/debug-ui/ws/debugWsManager.ts
  cmd/web-chat/web/src/ws/wsManager.ts
Due: web-check

Path conditions:
  lint: any of: *.go
  test: any of: *.go
  web-check: any of: cmd/web-chat/web/**
